article.unselectable
  h4.black-box Nutrición
  h3 LOS PODEROSOS... 
  p.muted Grupos de descenso de peso de SINTONIA VEG
  p: img(src="../../images/tape-measure.jpg", alt="imagen de grupo descenso", style="padding: 0px 0px 0px 20px")

  p: span(style='color: green') Desde este espacio recordamos la importancia del trabajo en grupo y cómo cada uno es un eslabón necesario para que  el grupo funcione… y no es reemplazable, aunque haya más personas.
  p • Esclarecemos los objetivos, relevamos la experiencia y aclaramos lo que SI me sirvió de los tratamientos anteriores y lo que NO… capitalizamos una experiencia!
  p • Con cada encuentro reflexionamos algunas cuestiones que podrían ayudarnos a empoderarnos…
  p: span(style='color: tomato') Por ejemplo… identificamos el pensamiento ilusorio que abre la puerta a conductas oscuras que no nos ayudan, generalmente empiezan con algo como “si tuviera…”, “si a mí me pasara”, “si no me hubiera” y, de ahí en adelante, el caos se justifica.
  p • Una vez que identificamos ese pensamiento, buscamos estrategias para que, cuando aparezca,  podamos disolverlo.
  p • Otras veces identificamos patrones emocionales que nos tienen inertes y estancados… por ejemplo el resentimiento o la necesidad de escape o la ansiedad… 
  p: span(style='color: salmon') …y como, por estar agarrando eso, la inercia se mantiene y desde hace años que estamos en el mismo lugar. Entonces, una vez que lo identificamos, pensamos acciones  bien concretas para que se modifique esto que por fin estoy comprendiendo, como  hacer actividad física, sostener el tratamiento, sincerarnos, escucharnos, etc.
  p • Reconocemos la discriminación (tanto vivida, como  nuestra propia auto discriminación) y nos planteamos la posible vida con menos juicio y más benevolencia…
  p: span(style='color: slateblue') Y en grupo, en conjunto, proponemos el inicio de una nueva era… en donde gracias a la sinergia de todos, el apoyo de todos y el crecimiento de todos, las posibles respuestas, soluciones o estrategias son ampliamente superadoras...mucho más que los buenos posibles lugares que se pueden abordar en forma individual. Así es como soñar un mundo construido en grupo, contempla la idea de encontrar respuestas individuales, pero que inevitablemente surgen del trabajo en EQUIPO!
  p: span(style='color: navy;font-weight: bold') Una experiencia que a lo único que invita es a crecer, madurar, comprometerse y seguir evolucionando!




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2grupodescensopeso.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/grupodescensopeso.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable