article.unselectable
  h4.black-box Nutrición
  h3 Paquete básico para vegetarianos
  p.muted Se consideran nutrientes críticos en la alimentación vegetariana al hierro, Zinc, proteínas, calcio, la vitamina B12, la vitamina D y el omega 3.
  p: img(src="../../images/paquete-basico-veg.jpg", alt="imagen de paquete basico vegetariano", style="padding: 0px 0px 0px 0px")   

  p
    span(style='color:lightblue;font-weight: bold') -Proteína completa 
    |  (de alto valor biológico), en los casos de ser de origen vegetal lo logramos por complementación proteica. Repasemos:
  p
    span(style='color:rebeccapurple') • Legumbres + Cereales: 
    |  Rissoto, arroz con lentejas, quinoa con porotos adduki, pan con pasta de garbanzos (hummus)… las opciones son infinitas.
  p
    span(style='color:rebeccapurple') • Legumbres + Frutas secas + semillas: 
    | Ensalada de porotos con castañas y semillas de sésamo, paté de lentejas con nueces picadas y semillas de lino…
  p
    span(style='color:rebeccapurple') • Cereales + Frutas secas + semillas: 
    | Arroz con almendras y semillas de girasol, fideos con pesto (nueces y aceite) y semillas de sésamo.
  p
    span(style='color:rebeccapurple') • Cereales + Lácteos vegetales (queso de soja -tofu-, leche de soja): 
    | Arroz con tofu, pizza de Tofu, leche de soja con cuadraditos de avena.
  p
    span(style='color:rebeccapurple') • Frutas secas + Semillas + Lácteos vegetales: 
    | Tofu rebozado con sésamo salteado con almendras, batido de leche de soja con nueces y pan con semillas.
  p
    span(style='color:rebeccapurple') • Legumbres + Lácteos vegetales + Hortalizas: 
    | Salteado de vegetales con tofu y adzuki.
 
  p Otro concepto importante es el de digestibilidad, que refiere a la cantidad de nitrógeno (las proteínas están compuestas por Hidrógeno, Oxígeno, Carbono y NITROGENO), absorbido en relación a lo ingerido. Es decir, cuánto el cuerpo aprovecha. En el caso de las proteínas de origen animal, en general es del 95%; en el caso de las proteínas de origen vegetal es de alrededor del 80% (esto se define por tabla).

  p 
    span(style='color:lightblue;font-weight: bold') -El hierro: 
    |  Funciona principalmente como un portador de oxígeno en la sangre.       Algunas de las fuentes de hierro para vegetarianos son:
  p: span(style='color:slateblue') • Cereales fotificados con hierro
  p: span(style='color:slateblue') • Vegetales verdes
  p: span(style='color:slateblue') • Legumbres… pero deben combinarse con vitamina “C” para ser disponible. Las fuentes de Vitamina C pueden ser cítricos, frutas en general, kiwi, morrón verde y tomate. 
  p: span(style='color:slateblue') • También tiene hierro, el polen, las algas, el jugo de arándanos y uva, la tekka, las frutas secas, las semillas, la levadura nutricional.

  p 
    span(style='color:lightblue;font-weight: bold') -El calcio: 
    |  Es necesario para el desarrollo de huesos y dientes, y para el mantenimiento del sistema óseo. 
  p Algunas de las fuentes de calcio para los vegetarianos son:
  p: span(style='color:teal') • Cereales fortificados.
  p: span(style='color:teal') • Productos de soja (tofu, bebidas hechas en base a la soya).
  p: span(style='color:teal') • Las coles.  
  p: span(style='color:teal') • Los productos lácteos son una opción para los lacto vegetarianos. 
  p: span(style='color:teal') • Almendras, sésamo, la tahini (pasta de sésamo).
  p 
    span(style='color:lightblue;font-weight: bold') -El zinc: 
    |  Es necesario para las reacciones bio-mecánicas. También facilita el funcionamiento adecuado del sistema inmunológico. 
  p: span(style='color:mediumseagreen') • Los productos lácteos tienen zinc para los lacto vegetarianos.
  p: span(style='color:mediumseagreen') • Las frutas secas.

  p 
    span(style='color:lightblue;font-weight: bold') -La vitamina B12: 
    |  Algunas de las fuentes de la vitamina B12 para vegetarianos son los productos lácteos, huevos y alimentos fortificados con la vitamina B12. En estudio están las algas, y una opción es la levadura nutricional (no la de cerveza)… de todos modos no cubre el requerimiento. En la mayoría de los casos, se precisa algún suplemento.

  p 
    span(style='color:lightblue;font-weight: bold') -La vitamina D: 
    |  Se encuentra en lácteos y huevos, o es necesario algún suplemento, sobre todo en invierno. Si no la exposición solar (real y sostenida a diario).

  p 
    span(style='color:lightblue;font-weight: bold') -El omega 3: 
    |  Está presente en las semillas de lino, de chia y sus respectivos aceites. También en la nuez en menor grado y en los derivados de la soja.


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2paquete-basico-vegetarianos.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/paquete-basico-vegetarianos.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable