article.unselectable
    h4.black-box Nutrición 
    h3 Los ritos y la comida
    p: img(src="../../images/habitos-alimenticios-big-bang.jpg", alt="imagen de los ritos y la comida", style="padding: 0px 0px 0px 100px")    
    p.referencia por Vanina F. Repun Lic. en Nutrición especializada en Alimentación Vegetariana
    p.referencia vanina.repun@gmail.com
    p.referencia: a(href="http://inteligentenutricion.blogspot.com",target="_blank") www.inteligentenutricion.blogspot.com

    p: span(style='color:indianred;font-weight: bold') Hábitos: 
    | Siempre pienso que con el plato de comida se pueden entrenar muchos hábitos que luego podemos trasladar a nuestra vida cotidiana… y si afirmamos que  “el ser humano es un animal de costumbre”, ¿por qué no elegir qué costumbres queremos tener?
    br
    br
    p: span(style='color:indianred;font-weight: bold') ¿Cómo? 
    | Si armamos un ritual alrededor de nuestro plato seguro nos implica ejercitar ciertas conductas. Es imprescindible darle forma y cargarlo de contenido, si solo tiene contenido y no forma es desprolijo, si excede en forma pero sin contenido, está vacío, entonces...
    br
    br
    p: span(style='font-size: 125%') ¿Qué rito podríamos armar alrededor de nuestro plato?
    p: span(style='font-weight: bold') Algunas sugerencias:
    ol        
        li Poner la mesa (no picotear antes)... podríamos entrenar la paciencia
            
        li Poner algún estilo en la mesa (mantelito, servilleta, flores, lo que nos guste)... valorar, cuidar y atender ese momento que nos nutre el resto del día.
            
        li Comer despacio... entrenaríamos bajar algunos cambios,  la calma.
            
        li Servir la porción justa (no dejar comida en el plato y de ser posible no repetir)... ¿entrenamos al moderación?
            
        li Tratar de comer acompañados: Momento de encuentro y  de compartir.
            
        li Hacer sobremesa… entrenamos el diálogo, la comunicación.
            
        li Tratar de cocinar para otros también: abrir el corazón, compartir.
            
        li Agradecer la comida… probablemente nos permita entrenar el agradecimiento.

    p ...y la lista puede continuar, pero ¿probamos cambiar un poco la historia, empezando por cambiar nuestro plato?

    p: span(style='font-size: 125%') Recordar para realizar esta propuesta:
    p: span(style='padding:10px;background:green;color:whitesmoke') • Las cosas no cambian en un día
    p: span(style='padding:10px;background:darkseagreen;color:whitesmoke') • Muchos fracasos permiten un éxito
    p: span(style='padding:10px;background:darkred;color:whitesmoke') • Para instalar una nueva forma hay que insistir muchas veces!
    br
    br
    p ¿Probamos?

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2losritosylacomida.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/losritosylacomida.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      