article.unselectable
  h4.black-box Nutrición
  h3 ¿Más bueno que el pan?
  p.muted Mitos y verdades de la harina
  p: img(src="../../images/panes-harinas.png", alt="imagen de mas bueno que el pan", style="padding: 0px 0px 0px 10px")   


  p: span(style='color:chocolate;font-weight: bold') ¿Qué es la harina? 
  | Es un polvo fino que se obtiene de la molienda de cereales y otros alimentos ricos en almidón. Puede provenir del trigo, del centeno, cebada, avena, maíz y leguminosas como los garbanzos. 
  p: span(style='color:brown;font-weight: bold') ¿Qué produce en nuestro cuerpo? 
  | El almidón es digerido y transformado en glucosa, necesaria para nuestro organismo. Pero todo el excedente que no necesitamos como energía se transforma en grasas que son almacenadas en nuestro cuerpo.
  p: span(style='color:darkolivegreen;font-weight: bold') ¿La harina engorda? 
  | Al consumir harinas y elevar la glucosa en sangre, automáticamente nuestro cuerpo libera insulina para tratar de controlar la glucemia. Esta hormona actúa en el sistema nervioso y estimula el apetito… es por eso que cuanto más comemos más queremos!
  p: span(style='color:brown;font-weight: bold') El DATO: 
  | Lo ideal es introducirla de forma gradual, para que el cuerpo consuma lo que necesita y no exista ese excedente que se convierte en grasa.
  p: span(style='color:chocolate;font-weight: bold')¿Por qué es mejor la integral que la común? 
  | No sólo porque aporta mayor cantidad de nutrientes sino que tiene un índice glucémico bajo, por lo que al ser consumida se va incorporando lentamente al torrente sanguíneo…  y produce saciedad por más tiempo.
  
  p.pizarra ¿Harina Refinada? Casi no tiene nutrientes –no se hacen con el germen ni el salvado- y sí mucho almidón. Da rápida energía pero así como llega se va…

  p: span(style='color:brown;font-weight: bold') ¿Harina integral? 
  | A diferencia de la refinada se obtiene de la molienda del grano entero:


  p: span(style='color:darkolivegreen;font-weight: bold') • Con el germen: 
  | Rico en ácidos grasos esenciales, vitamina E, vitaminas del complejo B, magnesio y zinc.
  p: span(style='color:brown;font-weight: bold') • Con el salvado: 
  | que contiene mucha fibra y hierro.

  p.borde-rect-orange FRASE: Las harinas son necesarias en toda dieta balanceada. Eso sí, se debe consumir la cantidad correcta según el gasto de energía de cada uno. No gasta la misma energía un atleta que un oficinista...

  p: span(style='color:brown;font-weight: bold') ¿Engorda menos la integral? 
  | Al parecer NO. Es más saludable, pero las calorías son las mismas.
  
  p: span(style='color:darkolivegreen;font-weight: bold') Entonces, ¿por qué se refina la harina? 
  | La causa principal sin dudas es su vida útil. Sin dudas la común dura mucho más que la integral que tiende a descomponerse mucho antes. Por eso, aunque las cerealeras usen el 100% de la materia prima para hacer la integral y sólo el 85% para hacer la refinada, siguen escogiendo esta última.

  p: span(style='color:brown;font-weight: bold') ¿La Harina común usa químicos? 
  | No generalmente en su producción pero muchas veces sí en su blanqueamiento. Cada país tiene sus químicos “permitidos” según sus normativas.

  p.post-it-style Recordá: Una alimentación saludable es consumir lo que tu cuerpo necesita… ni más ni menos.

  p: span(style='color:chocolate;font-weight: bold') ¿El gluten es el veneno moderno? 
  | Esta proteína presente en el trigo, la cebada y el centeno puede causar reacciones adversas solamente en personas que sufren algún tipo de patología… y está presente tanto en la harina refinada como en la harina integral. 



  br
  br
  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2mas-bueno-que-el-pan.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/mas-bueno-que-el-pan.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable