article.unselectable
  h4.black-box Nutrición
  h3 Nutrición Inteligente: Des - rotulando
  p: img(src="../../images/desrotulando.jpg", alt="imagen de desrotulando", style="padding: 0px 0px 0px 100px")   
  p.referencia por Vanina F. Repun Lic. en Nutrición especializada en Alimentación Vegetariana
  p.referencia vanina.repun@gmail.com
  p.referencia: a(href="http://inteligentenutricion.blogspot.com",target="_blank") www.inteligentenutricion.blogspot.com
  
  p Hay una afirmación instalada -y bastante aceptada- en relación a las adicciones, y es que 
   span(style='color:crimson;font-weight: bold') el adicto nunca se recupera, únicamente se controla. 
   | Esta creencia  es aplicada también a la 
   span(style='color:crimson;font-weight: bold') obesidad 
   | y es parte del núcleo de conceptos con que se forman los profesionales de la salud y con los que yo misma me he formado.
  
  div Así se configura una relación con claros roles divididos: el rol pasivo del profesional, que tiene la autoridad y 
  span(style='color:goldenrod;font-weight: bold') TODO 
  | el derecho a hacer y deshacer a gusto; y el rol pasivo del paciente, que 
  span(style='color:goldenrod;font-weight: bold') NUNCA 
  | va a curarse, y que para controlarse sólo debe acatar órdenes. 
  span(style='color:goldenrod;font-weight: bold') Cuando no funciona, el paciente hizo mal; cuando funciona, el profesional es un genio...
  br
  br
  p Entiendo que el terapeuta es aquel que acompaña a la persona que requiere producir cambios para mejorar su calidad de vida, y entre las dificultades con las que una persona en tales circunstancias se puede encontrar, pueden estar operando “trabas” o “miedos, de modo que este acompañamiento tiene por fin conducir al re encuentro con el poder original, que todos tenemos.
  div Así, el tratamiento no se convierte en  algo prescriptivo, que el especialista dice y el paciente obedece,  sino que ambos decodifican y buscan la forma de que las cosas se organicen favorablemente. 
  span(style='color:crimson;font-weight: bold') En este camino, no hay magia.
  br
  p 
  | En él se van presentando las pistas que nos conducirán a nuestro objetivo. Desde ya que cuando contamos con buena intención, sinceridad y ganas de resolver, las respuestas siempre aparecen y 
  span(style='color:goldenrod;font-weight: bold') el camino se va aclarando, a veces, con más fluidez, a veces con más zigagueos, 
  | pero si se sostiene con sinceridad y reflexión, siempre se llega a buen puerto.
  
  p 
  | Entonces, parto… partimos… empezamos…, en un camino donde no hay verticalidad entre quien requiere este acompañamiento terapéutico y quien acompaña con sus saberes, en este caso, sobre nutrición humana. Y además, 
  span(style='color:crimson;font-weight: bold') SI puede ser posible la cura.
  br
  br
  p El camino es también un camino a desandar, todo aquello que fue lo que condujo a la situación presente. Desde ya que implica compromiso, elevación de la conciencia y apertura a un cambio por parte de quien requiere al profesional para producir el cambio y por parte del profesional que acepta acompañarlo. Tornándose un camino de mutuo aprendizaje y que, abordado de este modo, no tiene desperdicios.


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2nutricioninteligente.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/nutricioninteligente.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      