article.unselectable
  h4.black-box Nutrición
  h3 Mesa dulce en las Fiestas
  p: img(src="../../images/mesa-dulce.jpg", alt="imagen de mesa dulce", style="padding: 0px 0px 0px 20px")
  p.referencia por Vanina F. Repun Lic. en Nutrición especializada en Alimentación Vegetariana
 
  p.referencia: a(href="https://www.inteligentenutricion.blogspot.com") www.inteligentenutricion.blogspot.com   
  p.referencia vanina.repun@gmail.com

  p Se acerca fin de año y no sólo podemos evitar la GULA en las fiestas, sino que hasta podemos empezar  el año aprovechando la oportunidad y ejerciendo "nutrición inteligente"…
  p.post-it-style IMPORTANTE: Son frutas naturales sometidas a un proceso de deshidratación (se les saca el agua) para preservarlas más tiempo y evitar la contaminación por micro organismos. Queda un sabor más concentrado y un aporte nutricional más intensificado…  interesante, no?
  br
  br
  p:span(style='color:darkorange;font-weight: bold') Frutas deshidratadas
  p Hay varias, de distintos colores y sabores, lo que permite que todo paladar con alguna sea feliz:
  
  p 
    span(style='color:turquoise;font-weight:bold;font-variant:small-caps') -Ciruela: 
    | Se caracteriza por su efecto laxante, tiene bastante fibra, potasio, fósforo, calcio y hierro. Además es vasodilatador arterial (eso quiere decir que dilata los vasos sanguíneos, evita que se compriman), por lo que se la considera protectora del corazón. Se puede dejar en remojo en un vaso con agua por la noche y beber en ayunas por la mañana.
  p 
    span(style='color:goldenrod;font-weight:bold;font-variant:small-caps') -Durazno: 
    | Contiene fibra, potasio y fósforo. Tiene cobre y hierro por lo que es beneficioso para la sangre. Los árabes, les cuento que le meten a todo algo con sabor durazno y sus agridulces comidas son muyyy ricas y aceptadas… he probado hacer fatay vegetariano con mermelada de durazno y créanme, se los recomiendo.
  p 
    span(style='color:turquoise;font-weight:bold;font-variant:small-caps') -Damasco: 
    | Rico en potasio, bueno para corazón y músculos. Tiene fibra, cobre y magnesio, es alcalino. Les cuento que los HUNZAS, una población antigua que vivió TANTOS años que aún se estudia su dieta, tenían al damasco como protagónico en sus comidas… y no conocieron el cáncer ni la arterioesclerosis, ni tantas enfermedades que ahora son moneda frecuente… para pensarlo.
  p 
    span(style='color:goldenrod;font-weight:bold;font-variant:small-caps') -Higo: 
    | Rico en calcio, tiene potasio, fósforo, hierro y vitaminas del complejo B. Es útil para el estreñimiento. Si hay algo DULCE en la vida son los higos, así que golosos NO se abstengan!
  p 
    span(style='color:turquoise;font-weight:bold;font-variant:small-caps') -Pera: 
    | Suaviza las mucosas, por lo que también se la recomienda para el estreñimiento, tiene zinc. Esta fruta es recomendada para los "un poco menos" golosos.
  p 
    span(style='color:goldenrod;font-weight:bold;font-variant:small-caps') -Dátil: 
    | Aporta calcio, hierro, magnesio, fibra y potasio, fósforo y vitamina B3. Favorece el mantenimiento de los valores de colesterol dentro de los parámetros adecuados. Otro cuentito árabe (tengo mis raíces vieron): cuando alguien se muda es MUYYY importante que entre a la casa con aceite (para que nunca falte nada de comer) y con algo dulce (para que nunca falte la dulzura), en primera mudanza me regalaron dátiles por lo que ahora les tengo especial simpatía...

  p 
    span(style='color:turquoise;font-weight:bold;font-variant:small-caps') -Pasas de uva: 
    | Tienen vitaminas del grupo B, potasio, hierro, calcio y fósforo. Es vasodilatador (se acuerdan, más arriba que era vasodilatador?). Comentario extra: creo que es la fruta deshidratada más aceptada por los niños, así que en vez de golosinas "uvitas" para todo el mundo!!!

  p.pizarron ¿Cómo se logra?: Se pueden obtener por medios naturales, con deshidratadores o por exposición al sol. 





  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2mesa-dulce.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/mesa-dulce.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable