article.unselectable
  h4.black-box Nutrición
  h3 Viandas Nutritivas para el club
  p: img(src="../../images/vianda.jpg", alt="imagen de vianda nutritiva", style="padding: 0px 0px 0px 50px")
  p.referencia por Vanina F. Repun Lic. en Nutrición especializada en Alimentación Vegetariana
  p.referencia vanina.repun@gmail.com
  p.referencia: a(href="http://inteligentenutricion.blogspot.com",target="_blank") www.inteligentenutricion.blogspot.com  

  p La sola mención de la “vianda” genera una especie de urticaria. ¿Será que pone en evidencia que no hay mucho orden en la alimentación de la familia? Programar una vianda se nos representa como un trabajo EXTRA, que exige ese orden que no sabemos bien cómo lograr.
  div.borde-rectangulo
    p 
      span(style='color:green;font-weight:bold') Primera premisa: 
      | No podemos controlar lo que nuestros hijos comen. NO SOMOS OMNIPRESENTES... A medida que los chicos crecen se pasan más horas fuera de casa (problema para algunas, alivio para otras) y esto necesariamente genera ámbitos de mayor autonomía en las comidas.  
  br
  br
  p Y sí, ellos eligen, y en sus elecciones están influidos por las propagandas, las modas, sus gustos personales, los hábitos adquiridos y a cierta edad parece inevitable que la comida “chatarra” -o de escaso valor nutricional- sea lo que más les tienta.
  p Entonces debemos elegir para las viandas los alimentos de mejor calidad que podamos, así de la chatarra y sus secuaces (golosinas, gaseosas, comidas rápidas, snacks) se ocupan ellos solitos.
  div.borde-rectangulo  
    p 
      span(style='color:green;font-weight:bold') Segunda premisa: 
      | nuestra vianda NO incluye ni golosinas, ni juguitos de caja, ni gaseosa ni postrecitos.  Con esto aclarado seguimos aprendiendo...
  br
  p Entonces tenemos que asegurarnos de que lo que les mandamos sea rico, suficiente para que no se quede con hambre (y se la saque con golosinas), y con buen valor nutricional. 
  p: span(style='color:saddlebrown;font-weight:bold') Nuestras viandas estarán compuestas por:
  p 
    span(style='color:royalblue;font-weight:bold;font-variant:small-caps')  • alimentos energéticos: 
    | justamente, dan energía, tienen hidratos de carbono y/o grasas.
  p 
    span(style='color:darkorange;font-weight:bold;font-variant:small-caps')  • alimentos reguladores: 
    | en los que predominan las vitaminas y los minerales.
  p 
    span(style='color:royalblue;font-weight:bold;font-variant:small-caps')  • alimentos plásticos o formadores: 
    | en los que predominan las proteínas.
  div.borde-rectangulo  
    p 
      span(style='color:green;font-weight:bold') Tercera premisa: 
      | resolvemos las viandas de nuestros hijos con conocimiento y criterio.
  br
  p: span(style='padding:10px;background:royalblue;color:cornsilk;font-weight:bold') ALIMENTOS ENERGÉTICOS 
  p 
    span(style='font-weight:bold') Cereales: 
    | arroz, trigo, avena, cebada, centeno, quinoa, amaranto, mijo, harinas y derivados, féculas, pastas…
  p 
    span(style='font-weight:bold') Legumbres: 
    | porotos (todos), lentejas, garbanzos, arvejas secas y las harinas en derivado.
  p 
    span(style='font-weight:bold') Aceites: 
    | Girasol, oliva, chia, canola, maíz…
  p 
    span(style='font-weight:bold') Frutas secas: 
    | Almendras, nueces, castañas, maní, avellanas…
  p 
    span(style='font-weight:bold') Semillas: 
    | Lino, chia, sésamos, zapallo, amaranto, quinoa…
  p Palta, Aceitunas y Coco…
  p: span(style='padding:10px;background:coral;color:cornsilk;font-weight:bold') ALIMENTOS PLÁSTICOS O FORMADORES
  p 
    span(style='font-weight:bold') Lácteos: 
    | ricota, yogur queso, huevo, tofu…
  p 
    span(style='font-weight:bold') Legumbres: 
    | porotos (todos), lentejas, garbanzos, arvejas secas y las harinas en derivado…
  p Combinar cereales con legumbres…
  p: span(style='padding:10px;background:royalblue;color:cornsilk;font-weight:bold') ALIMENTOS REGULADORES
  p 
    span(style='font-weight:bold') Vegetales: 
    | todos verdes, de  otros colores, con almidón…
  p 
    span(style='font-weight:bold') Frutas: 
    | todas (secas y frescas)…
  p 
    span(style='font-weight:bold') Semillas: 
    | Lino, chia, sésamos, zapallo, amaranto, quinoa…
  p Agua: “La bebida de los pueblos sanos”.
  
  p: span(style='padding:10px;background:green;color:cornsilk;font-weight:bold') Armado de la vianda:
  ul
    li Si la comida a consumir en el ámbito escolar o del club es una merienda o colación, sería bueno que incluya por lo menos  dos -o ideal tres- alimentos: preferentemente uno energético, uno plástico y uno regulador.
    br 
    p.post-it-style Ejemplo: Una bebida láctea (yogur o leche), una fruta (manzana ó banana que son bien aceptadas) y una barra de cereales o de semillas (les cuento que ahora hay amaranto y quinoa en copos, y hay almohadas de avena, riquísimas y buenas como opción).
    li  Si la comida a consumir es un almuerzo, sería bueno que incluya un alimento plástico, dos reguladores y dos o tres energéticos. 
    br
    p.post-it-style Ejemplo: Un huevo, vegetales  (ej. tortilla o croquetas de espinaca), cereales o pasta (una porción de arroz) y una fruta.
  div.borde-rectangulo
    p 
      span(style='color:green;font-weight:bold') Cuarta y última premisa: 
      | confiamos en lo que les damos porque... Sin duda el mejor alimento del mundo para todos, y ninguna vianda podrá superar, es el AMOR.
  br
  p  Así que a desdramatizar las viandas y que sean otra oportunidad para darles ese amor que tan bien nutre a los niños.




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2vianda-nutritiva.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/vianda-nutritiva.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable