article.unselectable
  h4.black-box Nutrición
  h3 ¡Consumamos polen!
  p: img(src="../../images/polen.jpg", alt="imagen de consumir polen", style="padding: 0px 0px 0px 10px")   
  p.referencia por Andrea Ruiz – Colectivo Solidario (comunicacion@colectivosolidario.org)

  p El polen no es solo ese polvito invisible que respiramos en primavera, en época de floración. El polen también es el principal alimento de las abejas… y también es un gran alimento para los seres humanos. 
  p Pero es importante asegurarnos de que el polen sea agroecológico, es decir, recolectado de colmenas que estén alejadas de tierras que estén fumigadas con pesticidas, fertilizantes o herbicidas. 
  
  p.post-it-style El polen tiene aminoácidos, proteínas, lípidos, carbohidratos, minerales, vitaminas, enzimas y otros micronutrientes, que los seres humanos podemos aprovechar. 
  br
  br

  p Lograr esto asegura varios factores -además de que el polen sea sano- como que los productores trabajen en condiciones dignas, que sus familias no se vean afectadas por estas fumigaciones; que se asegure el cuidado del medioambiente, y que se respete el precio justo al productor… estos son los mínimos factores que entendemos esenciales para quienes queremos asegurar un buen alimento para nosotros y para la vida sana de las personas que lo trabajan. 

  div.post-claro
    p ¿Cómo consumirlo?
    p Dicen que en ayunas potencia sus efectos y que lo mejor es deshacer granulos en la boca antes de masticarlos
    p Además se lo puede consumir con frutas, jugos, quesos, yogurt y galletas
  br
  br
  
  div.borde-rect-orange
    p: span(style='color:brown;font-style: italic') Algunas de sus propiedades: 
    ul
      li Ayuda a recuperarse en casos de anemia o debilidad.
      li Aumenta la resistencia ante las enfermedades.
      li Es un buen regulador intestinal.
      li Se recomienda durante el embarazo y lactancia por su gran poder remineralizante.
      li Aconsejable frente a la apatía sexual y problemas de próstata por su gran riqueza en Zinc.
      li Ayuda a recuperar el apetito en personas convalecientes.
      li Regula el peso corporal tanto en obesidad como para la delgadez.
      li Alimento ideal para deportistas ya que aumenta la resistencia ante el esfuerzo físico.
      li Refuerza la memoria.
      li Gracias a su contenido en Riboflavina, vitamina A y Zinc ayuda a mejorar la visión.
      li Detiene la caída del cabello.
      li Previene cáncer de próstata.
  br
  br
  div.post-claro
    p Ojo con las cantidades
    p Se recomienda una cucharada sopera diaria en adultos y la mitad en niños...
    p y a los 20 dias recomiendan descansar una semana
  br
  br

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2consumir-polen.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/consumir-polen.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable