article.unselectable
  h4.black-box Nutrición
  h3 Educación presencial: "La mesa familiar"
  p: img(src="../../images/cena-familiar.jpg", alt="imagen de la mesa familiar", style="padding: 0px 0px 0px 50px")
  p.referencia por Vanina F. Repun Lic. en Nutrición especializada en Alimentación Vegetariana
  p.referencia vanina.repun@gmail.com
  p.referencia: a(href="http://inteligentenutricion.blogspot.com",target="_blank") www.inteligentenutricion.blogspot.com  

  p No imaginamos la importancia que tiene en la formación de nuestros hijos, ni todo lo que “nos trae” la mesa en familia.
  p Alguien a quien considero bastante sabio decía que no debemos afligirnos si nuestros hijos no concurren a clases de computación o idiomas, o a una gran escuela… mientras que tengan valores espirituales profundos. Quien cuenta con esta formación interior sabrá, con el correr del tiempo, qué hacer para dar algo bueno para sí y para los demás.
  p Cuando tenemos que elegir el lugar donde serán educados nuestros hijos (escuela u otros espacios de formación y socialización) se nos cruzan muchas variables. Algunos reflexionaremos sobre qué entendemos como “la mejor educación para nuestros hijos”, cuáles son los valores que esa escuela debiera priorizar, si debe ser paga y que nuestro hijo acceda a una atención excluyente o a una formación específica, a una pedagogía  particular o,  si por el contrario, todas estas “especialidades” no perjudicarán la formación del niño, alejándolo de la realidad… por lo que no será más adecuada la diversidad que proporciona la educación pública… infinidad de argumentos a los que se suman los de orden práctico: cercanía, posibilidades materiales, horarios laborales, requerimientos especiales de los propios niños…
  p 
    span(style='color:sandybrown;font-weight: bold') Vuelvo ahora a la mesa familiar: 
    | la hora de la cena refleja algo que nos caracteriza como familia. Ese “algo”, la mayoría de las veces, no es lo que idealmente creemos… y muchas veces, para no encontrarnos con esta frustración, evitamos ese momento de encuentro (o desencuentro) familiar en torno a la mesa.
  p.post-it-style Pero aún cuando de desencuentros se trata, creo que la práctica diaria de la mesa familiar, nos permite, precisamente, ver y poner las cartas sobre la mesa,  y con eso, tenemos la oportunidad de jugar limpio y elegir la jugada.
  p “Mi recuerdo en la mesa es mi papá enojado”, me dijo alguien en una consulta…  Se me ocurrió que mi paciente traía un gran recuerdo para elaborar y a partir de esto crear otra mesa con sus hijos.
  p Otra paciente que presentaba un problema de sobrepeso, al igual que su hijo, luego de una profunda reflexión, llegó a la conclusión de que compartir la elaboración de platos con su hijo iba a generar, además de un buen momento para compartir, momentos para que el niño comprenda que las cosas tienen un “tiempo” y que la comida no está ya… bajar la ansiedad, algo en lo que estaba necesitando ayuda el pequeño.
  p Otra paciente quería realizar una dieta exclusivamente naturista en su casa y consultó sobre la orientación con sus hijos. En la entrevista quedó en evidencia (a partir de las reflexiones que ella misma realizaba) que su incapacidad de disfrutar -y la línea fina que tenía con la “anorexia”- estaban llenando de presiones la “mesa familiar”. Por lo que no importaba qué eligiese sino el poder compartir y disfrutar con sus hijos y marido un momento en la mesa… comiendo chatarra o naturista, eso no era la prioridad, sino sacarle a la comida presión, restricción y exigencia.
  p No digo que en la mesa familiar se resuelvan todos los males de la sociedad, es sólo un momento concreto, diario, una posibilidad asible de generar un espacio de encuentro, de diálogo o bien de reconocer que el diálogo está haciendo falta. Puede ser un momento de empatía, de compartir, de reconocer la diferencia y la distancia, de tomar decisiones personales y familiares, de agasajo y de invitación, de reprochar y criticar… de lo que surja, puede ser un momento de espontaneidad.
  p La mesa familiar nos da la posibilidad de pensar en qué familia somos y qué familia queremos ser.  




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2lamesafamiliar.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/lamesafamiliar.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable