article.unselectable
    h4.black-box Nutrición 
    h3 Alimentación viva??? 
    p: img(src="../../images/alimentacion-viva.jpg", alt="imagen de alimentación viva", style="padding: 0px 0px 0px 100px")    

    p No es que un tomate pueda venir amablemente a ponerse dentro de tu boca, ni que un rabanito inhale y exhale respirando para demostrar que está vivito y coleando… la Alimentación viva o Raw Food es una tendencia que cada vez suma más adeptos.
    p: span(style='font-weight: bold') ¿Qué es? Es el tipo de alimentación que usa alimentos enteros libres de cocción.
    
    p.pizarron Beneficios: Más energía, pérdida de peso, desintoxicación, un sistema inmunológico que resiste mejor a las enfermedades, etc.
    p ¿Qué alimentos se incluyen? Desde  frutas, verduras, germinados, frutos secos, semillas, granos, algas tal como la naturaleza los brinda.
     
    
    p.post-claro Germinados: Dentro de la alimentación viva son baratos, fáciles de hacer y muyyy nutritivos.
    br
    p: span(style='color:brown;font-weight: bold') Qué aportan: 
    p: span(style='padding:10px;background:green;color:yellow') • Lentejas: Sus germinados contiene 26 por ciento de proteínas
    p: span(style='padding:10px;background:olive;color:cornsilk') • Alfalfa: Fuente de vitaminas A, B, C, D, E, F y K
    p: span(style='padding:10px;background:goldenrod;color:cornsilk') • Pastos de trigo: Rico en vitaminas B, C, E y muchos minerales
    p: span(style='padding:10px;background:darkorange;color:azure') • Frijoles: Fuente de proteína, fibra y vitaminas C y A
    p.post-claro ¿Por qué? Estas plantaciones – en su fase inicial de crecimiento- contienen cantidades más concentradas de nutrientes.
    p: span(style='color:darkorange;font-weight: bold') Ventaja: Se pueden hacer en casa… de una forma más que económica.
    p.post-verde ¿Por qué? Cuando se cocinan, los alimentos comienzan a perder sus propiedades, las vitaminas y destruyen sus enzimas… y se pierden más del 80% de los nutrientes que poseen.
    p.post-claro Contracara: La comida procesada con sus azúcares refinados, grasas saturadas, niveles elevados de almidón… y sus acarreados problemas de salud.
    p: span(style='color:darkorange;font-weight: bold') Se dice… que uno se vuelve más positivo y receptivo.
    p: span(style='font-weight: bold') Razones: No se trata de una dieta, sino de un estilo de vida. Son productos que vienen directamente de la naturaleza, por lo que inevitablemente son sanos y completos.

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2alimentacionviva.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/alimentacionviva.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      