article.unselectable
  h4.black-box Nutrición
  h3 Ser vegana hoy: Una historia como la de muchos
  p.muted Historia de Vida
  p: img(src="../../images/soyvegano.jpg", alt="imagen de vegano", style="padding: 0px 0px 0px 100px")   
  p.referencia Por Valeria Manzi
  p.referencia: a(href="http://amordepalta.blogspot.com.ar",target="_blank") blog: amordepalta.blogspot.com.ar

  p
    span(style='color:lightseagreen;font-weight: bold') Inicios: 
    | Empecé un 10 de febrero -única fecha que recuerdo-, tomando la decisión de dejar de comer carne de vaca. 
  p 
    span(style='color:crimson;font-weight: bold') La razón: 
    |  Decía que lo hacía por los animales, pero después de todos estos años realmente no sé por qué empecé. 
  p 
    span(style='color:brown;font-weight: bold') Los desafíos: 
    |  Hoy creo que es mi mayor logro, pero en ese momento no pude dejar todo de una, y eso es lo que me hace dudar del por qué de mi decisión. Hoy siento que tengo un entendimiento más profundo de la situación, y por eso vengo a contarles mi historia.
  p 
    span(style='color:lightseagreen;font-weight: bold') Los antecedentes:
    |  De chica siempre me dio impresión cuando mi mamá cocinaba pollo y yo podía distinguir perfectamente el cuerpo del animal. Esas veces cenaba otra cosa. Con el paso del tiempo, encontrar una “venita” en mi porción de carne directamente me sacaba el hambre. Así y todo se necesitaron 20 años para que hiciera la conexión. 
  p 
    span(style='color:crimson;font-weight: bold') El primer contacto: 
    | Mi primera relación seria me acercó a una familia vegetariana. Y así vi cuántas comidas ricas se podían hacer sin mucho esfuerzo y principalmente sin carne. Aunque realmente esto no fue algo que me llegó a preocupar: yo no me planteaba la posibilidad de cambiar mi dieta.  
  p 
    span(style='color:brown;font-weight: bold') Y llegó el día: 
    | Sin buscarlo un día me levanté y dije “no más carne”. Al tiempo fue “no más pollo” y “no más jamón”, y lo último que saqué de mi dieta fue el pescado. Admito que me costaba relacionar a los peces con animales sintientes.
  p 
    span(style='color:lightseagreen;font-weight: bold') La convicción:    
    |  Después de 2 años de volverme vegetariana, y con un nuevo interés por no volverme anémica, empecé a buscar info en internet. Y en la búsqueda de una mejor nutrición me topé con una realidad que no conocía en profundidad: ¿Mataban animales por el placer de nuestro paladar? Sí, eso lo sabía; lo que no tenía idea es hasta dónde llegaba la situación. Leí y leí, me informé y llegué a la conclusión de que volverme vegana era la única opción posible. 
  p 
    span(style='color:crimson;font-weight: bold') Costo-beneficio: 
    |  No me costó, y mi mayor recomendación es encontrar la motivación para llevarlo a cabo. Como cualquier decisión importante, necesitamos de la correcta inspiración para que el motor se mueva. Nada inspira más que saber que hacés lo correcto todos los días. 
  p: span(style='color:brown;font-weight: bold') Puedo asegurar que el entendimiento de lo que ocurre en la industria de la carne, la leche y los huevos, nos conecta con nuestra olvidada empatía y, de repente...todo se da.
  p 
    span(style='color:crimson;font-weight: bold') Recomendación: 
    span(style='font-style: italic') Googlear lo que nos haga dudar. Y, antes que nada, respondo que sí, que es nutricionalmente posible, que sí puede ser riquísimo, y que no, no es caro!




    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2serveganahoy.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/serveganahoy.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      