article.unselectable
  h4.black-box Entrevista
  h3 ¡A los chicos sí les gusta comer sano!
  p: img(src="../../images/desafio-nituke.jpg", alt="imagen de entrevista de nituke", style="padding: 0px 0px 0px 50px")   

  p El libro El Desafío de Nituke llegó a manos de mi hija en su cumpleaños número 4... un libro con recetas saludables repletas de vegetales para niños. Su autora e ilustradora, Alicia Bersi, es quien decidió no esquivar un tema tan controvertido y se zambulló en el mundo de la comida saludable y los niños… una zambullida de la que viene saliendo no sólo airosa sino llena de energía por enseñar y aprender con los más pequeños de la casa mediante cursos, libros y talleres itinerantes que van a las escuelas, a ferias o mediante clases a domicilio.
  p 
    span(style='color:tan;font-style: italic') “Comencé a ser vegetariana a los 22 años y  llegué como muchos a la Esquina de las Flores”
    | , cuenta y asegura que por aquel entonces -15 años atrás- 
    span(style='color:tan;font-style: italic') “no se conseguirán muchas comidas vegetarianas para comprar, así que aprendí a cocinar con las manos en la masa, a crear comidas prácticas y simples para todos los días”.
  p 
    | Su acercamiento con los niños empezó por casa: fue mamá vegetariana y madre Ñuñu, desde donde aprendió una crianza natural y saludable. 
    span(style='color:tan;font-style: italic') “Tuve dificultades en amamantar y Jorge Díaz Walker nos acompañó para sacar las leches de cartoncitos y usar las leches vegetales… así escribí la ñuñu ficha de "El bebé vegetariano" para ayudar a otras madres con mi historia y recetas para el relactador”
    | , cuenta esta profesora de cocina natural y vegetariana y responsable de Condimento la Vida. 
  p:span(style='color:navy;font-weight: bold') -¿Cómo se te ocurrió apuntar a los niños?
  p -Las clases con los chicos comenzó con mi hija, horrorizada por el tráfico de golosinas, chatarrra y gaseosa  que les daban los padres en las fiestas infantiles. Así comenzamos junto con una amiga nutricionista a dar clases de cocina teórica-practica… Las clases de cocina para padres y chicos, como el libro de "El desafío de Nituke" casi cobró vida por sí solo. Es un proyecto con la simple y profunda intención de que los chicos recuperen su intuición, la conexión con ellos mismos y realicen sus alimentos... también para ayudar a padres a cocinar los vegetales de una forma más rica y presentarlo de forma creativa, para que los chicos no puedan resistirse en probar la comida saludable. 
  p:span(style='color:navy;font-weight: bold') -¿Qué cosas te llamaron la atención de este acercamiento con los chicos? ¿alguna anécdota divertida?
  p - Hay una anécdota divertida: en un momento mi hija, Jazmín, viene de la escuela con una compañerita. La amiga, al verme preparando la mesa, dice: "¡Vamos a tomar la leche!" y Jazmín se acerca y me pregunta susurrando: "mamá: ¿qué es tomar la leche?”. “La merienda”, le digo... Recién ahí me di cuenta de que ni siquiera usábamos el concepto de “tomar la leche". Sin más explicaciones les serví un exprimido que disfrutaron sin ninguna diferencia. 

  p 
    | Pero  no todo el camino fue fácil y directo. 
    span(style='color:silver;font-style: italic')“En el comienzo fui muy extrema: me preparaba desde la leche de soja, al tofu, las hamburguesas, el pan y las mermeladas y mi nivel de exigencia fue muy alto... colapsé del stress. Entré y salí del vegetarianismo. Todo esto me dio la posibilidad de entender los procesos, de ser respetuosos con el entorno y dejar de predicar que ésta es la verdad única. Pasé por muchas verdades, maestros, doctrinas y búsquedas, dándome cuenta hoy de que la única verdad que puedo sostener es que soy Alicia e intento tener una mirada integradora, ser madre presente y ser feliz en el proceso”. 




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2entrevista-nituke.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/entrevista-nituke.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable