article.unselectable
  h4.black-box Nutrición
  h3 Y la carne… ¿con qué se puede suplir?
  p: img(src="../../images/seitan3.jpg", alt="imagen de seitan", style="padding: 0px 0px 0px 10px")   

  p Veganos y vegetarianos ya lo vienen haciendo, pero hay quienes quieren empezar en este camino o simplemente disminuir su consumo. Para los socialmente carnívoros es una tarea difícil, por eso acá les damos algunos datos para sobrellevar esa abstinencia con ganas de estar mejor y un resultado óptimo.
  p Para los nutricionistas el primer paso es de salud, saber cómo remplazar la carne en sus componentes como vitaminas, hierro, etc. Para los consumidores lo esencial es el sabor o la textura en comidas que solían contenerla. Por eso, acá van algunos alimentos que servirán para comprobar que se puede comer sin carne tanto en lo referente a la salud como a los gustos:

  p 
    span(style='color:CornflowerBlue;font-weight: bold') Seitán: 
    | Es la carne vegetal por excelencia. Tiene un alto contenido en proteínas y su sabor, textura y consistencia son similares a los de la carne. 
  p • ¿Qué es? 
    span(style='color:CornflowerBlue;font-style: italic') Gluten de trigo, es fácil de preparar o puede comprarse en dietéticas. 
  p • ¿Cómo se prepara? 
    span(style='color:CornflowerBlue;font-style: italic') rebozado, frito, en guisos, etc… Casi todas las versiones de la carne pueden ser suplidas.

  p 
    span(style='color:darkorange;font-weight: bold') Dato: 
    | Por día se recomienda consumir entre un 10% a un 35% de proteínas. O, para ser más claros, hay que consumir alrededor de 8 gramos de proteínas por cada 20kg de peso.

  p.post-opcion Soja texturizada: Es el concentrado de las proteínas de la soja. Por eso este preparado tiene proteínas completas como la carne… y no contiene grasas! 

  p
    span(style='color:green;font-weight: bold') ¿Qué es? 
    | Es un tipo de soja que se somete a una serie de procesos como alta temperatura, presión, texturización y deshidratación.
  p 
    span(style='color:green;font-weight: bold') ¿Cómo se prepara? 
    | En lasañas, albóndigas, hamburguesas, salchichas…

  p 
    span(style='color:brown;font-weight: bold') ¿Qué son las proteínas? 
    | Están formadas por aminoácidos, 22 de los cuales son indispensables para la vida y 8 de ellos sólo pueden adquirirse mediante la alimentación. Las carnes los poseen, por eso es uno de los caballitos de batalla de quienes reniegan del vegetarianismo… pero lo cierto es que pueden conseguirse mediante el consumo de otros alimentos.
  
  p 
    span(style='color:darkorange;font-weight: bold') Legumbres y porotos: 
    | En sus distintas variedades pueden suplir algunas comidas carnívoras gracias a su textura.  

  p: span(style='color:darkorange;font-style:italic') • ¿Cuáles? 
     span(style='color:black;font-style:italic') Pueden ser porotos aduki, arvejas, lentejas, garbanzos…
  p: span(style='color:darkorange;font-style:italic') • ¿Cómo se preparan?   
     span(style='color:black;font-style:italic') Luego de cocidas se hace una pasta con la que podemos hacer, por ejemplo, hamburguesas…

  p.post-opcion Para agendar: Las leguminosas aportan proteínas muy parecidas a las de origen animal, aunque deben acompañarse con cereales para que resulten completas.

  p 
    span(style='color:brown;font-weight: bold') Tofu: 
    | Su sabor y textura es más suave y cremosa que la carne. Combina bien con casi todos los alimentos y permite gran variedad de platos “convertidos”.
  p 
    span(style='color:brown;font-style:italic') ¿Qué es? 
    span(style='color:black;font-style:italic') Es un derivado de la soja.
  p 
    span(style='color:brown;font-style:italic') ¿Cómo se prepara? 
    span(style='color:black;font-style:italic') Puede freírse, cocinarse al horno, a la parrilla… además se pueden hacer albóndigas o rallarse en ensaladas.


  p 
    span(style='color:olive;font-style:italic') Salud: 
    span(style='color:black;font-style:italic') En una dieta vegetariana el secreto está en la combinación de los alimentos: lo que falta en uno se complementa en el otro. Esto debe atenderse en cada comida, pues la ingesta debe ser de todos los aminoácidos juntos. Por eso, combinar y complementar las proteínas es la clave.
  
   
  p 
    span(style='color:CornflowerBlue ;font-style:italic') Quinoa: 
    | Puede suplantar a la carne ya que contiene todos los aminoácidos esenciales.
  p 
    span(style='color:CornflowerBlue ;font-style:italic') ¿Qué es? 
    span(style='color:black;font-style:italic') Un grano rico en proteínas con gran aporte de fibra entre otros nutrientes.
  p 
    span(style='color:CornflowerBlue ;font-style:italic') ¿Cómo se prepara? 
    span(style='color:black;font-style:italic') Por su textura se pueden preparar varios platos. Son ideales para suplir hamburguesas, albóndigas y demás.
  
  p.pizarron También… las berenjenas, los champignones y las chauchas tienen una textura que puede ser similar a la de la carne… y en milanesas son deliciosos!!!!


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2ylacarne.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/ylacarne.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable