article.unselectable
  h4.black-box Nutrición
  h3 A despejar dudas
  p: img(src="../../images/dudas-veg.jpg", alt="imagen de a despejar dudas", style="padding: 0px 0px 0px 10px")   
  p.referencia por Vanina F. Repun Lic. en Nutrición especializada en Alimentación Vegetariana
  p.referencia vanina.repun@gmail.com
  p.referencia: a(href="https://www.inteligentenutricion.blogspot.com") www.inteligentenutricion.blogspot.com
  
  p Cada vez son más los adeptos a la alimentación vegetariana, que toman esta decisión basados en diferentes premisas: amor a los animales, a la ecología, cuestiones de salud, etc… Lo cierto es que ante esta fuerte corriente que crece, también crecen y aumentan los temores más comunes: “¿Pero en el embarazo vas a comer carne, no? ¿si hacés deportes, complementás con alguna proteína animal, no?”. 
  
  div.post-it-style
    p: span(style='color:blue;font-weight: bold') Beneficios de la alimentación vegetariana*
    ul
      li Menor aporte de grasas saturadas y colesterol
      li Mayor aporte de carbohidratos complejos (almidón) y fibra
      li Mayor aporte de ácidos grasos omega 6
      li Mayor aporte de antioxidantes y fitoquímicos
      li Menor densidad calórica.
    p: span(style='color:blue;font-size:75%;') * Este extracto está obtenido del curso sobre actualización en nutrición vegetariana, dictado por AADYND (2009).
  br
  br
  p Actualmente contamos con la cantidad suficiente de información científica y de índole nutricional que podría permitirnos -si llevamos un buen asesoramiento- una  forma de comer adecuada a nuestras creencias… y completa para cubrir nuestras necesidades nutricionales. También es cierto, que así como se presentan los temores, afloran los fanatismos, que sin criterio ni conocimiento pueden llevar una nutrición carente de los nutrientes básicos, conllevando a una enfermedad por carencia. 
  
  div.post-it-style
    p: span(style='color:blue;font-weight: bold') Aspectos críticos de la nutrición vegetariana
    ul
      li Menor o nulo aporte de proteínas de origen animal.
      li Predominio de proteínas de bajo valor biológico.
      li Predominio de proteínas de baja disponibilidad.
      li Bajo aporte de ácidos grasos omega 3.
      li Bajo o nulo aporte de vitaminas D y B12.
      li Bajo aporte y biodisponibilidad de calcio, hierro, fósforo y zinc.
  br
  br
  p: span(style='color:blue;font-weight: bold') Por eso, la primera recomendación es:
  p • Asesorarse, investigar, leer, preguntar, conocer
  p • Estar dispuesto a cambiar el paladar, ya que tenemos que familiarizarnos con nuevos alimentos, que, como base de nuestra alimentación comienzan  a ser frecuentes.
  p • Organizarse. En la sociedad actual -si bien hay cada vez más ofertas-, la mayoría de las propuestas no están aún pensadas para la población vegetariana… por eso es un compromiso de cada uno organizarse, comprar, llevar y traer lo que haga falta
  p • Aprender a usar nuevos productos (como las algas, las semillas, los frutos secas, etc)
  p • Tener una actitud calmada y no combativa. No estamos peleando contra nadie, ni convenciendo a nadie, cada uno es libre y ese es nuestro caso al elegir.
  p • Ser sinceros con las dificultades que podemos encontrar para poder sortearlas sin que sean un impedimento.

  p Sabiendo esto, con buena actitud y disposición, ganas y un poco de actitud abierta al descubrimiento, manos a la obra que un mundo novedoso nos está aguardando para ser descubierto!!

  br
  br
  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2despejar-dudas.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/despejar-dudas.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable