article.unselectable
    h4.black-box Nutrición  
    h3  Repostería Vegana… 
    p.muted hacia un nuevo paradigma
    p: img(src="../../images/reposteria-vegana.jpg", alt="imagen de resposteria vegana", style="padding: 0px 0px 0px 10px")
    p.referencia por Vanina F. Repun Lic. en Nutrición especializada en Alimentación Vegetariana
    p.referencia vanina.repun@gmail.com
    p.referencia: a(href="http://inteligentenutricion.blogspot.com",target="_blank") www.inteligentenutricion.blogspot.com
     
    p Cuando decidimos hacer el taller de repostería vegana en Sintonía -tres personas que no somos muy amantes de lo dulce-, tuvimos q reflexionar algunos ítems…
    p 
     span(style='color:goldenrod;font-weight: bold') Preguntas: 
     |  ¿Qué lugar ocupa el dulce en nuestras vidas?  ¿Qué lugar ocupa el dulce en lo social? ¿Qué postura tomamos ante esto? ¿Qué nos pasa después?
    
    p Desde otro lugar… Por eso propusimos otro encuentro con lo dulce, que lo aleje de lo que no es sano (y no solo por la cantidad de azúcar de lo dulce), sino por el estado en que pone a veces de gula, compulsión, etc… y de ahí surgió el taller que invitó a proponer un nuevo paradigma ( a construir entre todos)
    p 
      span(style='color:goldenrod;font-weight: bold') ¿Qué nos pasa con lo dulce? 
    p Las respuestas fueron desde 
      span(style='color:olivedrab;font-style: italic;') “no me pasa nada” 
      | hasta 
      span(style='color:olivedrab;font-style: italic;') “es mi pasaporte de entrada a la vida social, porque siempre llevo algo dulce para compartir”, 
      | pasando por 
      span(style='color:olivedrab;font-style: italic;') “Me genera sed de venganza”…
    p.post-opcion Se puede! Cocinamos muchas cosas, distintas, con alimentos “nobles” como trufas con semillas y cacao amargo, coco rallado… flan de calabaza, budín sin huevo y con muy poca harina integral, desayunos con chía… y muchísimas sorpresas más!
    p 
      span(style='color:goldenrod;font-weight: bold') ¿Y el concepto de dulzura?… 
      | nos dimos cuenta que no tenía mucho que ver con lo que hacemos con la comida dulce, y que las cosas que nos empalagan, que nos despiertan gula, voracidad, están muy lejos de la dulzura (cosas que vimos están en la comida dulce y en otras áreas de nuestras vidas)…
    p Por eso… propusimos 
      span(style='color:green') PENSAR Y CONSTRUIR JUNTOS UN NUEVO PARADIGMA… 
      | ante eso, salieron ideas geniales como:
    div: span(style='color:maroon;font-weight: bold')
     p • Conocer recetas más copadas
     p • Bancarnos las emociones que tenemos sin taparnos y adormecernos.
     p • Descargar.
     p • Canalizar con cosas que no impliquen comer, como salir, hablar, hacer alguna actividad física, artística y en lo social…
     p • Tomar la posta, cocinar, aprender, invitar.
     p • Reflexionar 10 segundos antes de abalanzarnos sobre la comida…
    p …el compromiso… Vivir cada vez mejor y no sentir que el azar dispone sobre nosotros, que la 
     span(style='color:green') DULCE VIDA 
     | también está en nuestras manos! ¿Te sumás?
   
    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnutricion%2reposteria-vegana.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/nutricion/reposteria-vegana.html', data-layout='button')

        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Vanina F. Repun
                //li: a(href="") salud