article.tint-box.full-bleed
	h4 Otras Notas
	p.muted En esta edición
	ul
		li: a(href="avena.html") y sí, más buena que la avena
		li: a(href="sustentabilidad.html") sustentabilidad: consumí local
		li: a(href="tomar-agua.html") la importancia de tomar agua
		li: a(href="descongelar.html") descongelar sin perder nutrientes
		li: a(href="reciclaje.html") desperdicios... ¿Y ahora qué hacemos?
		li: a(href="hospital-natural.html") un hospital con medicina natural
		li: a(href="huesos-fuertes.html") huesos fuertes
		li: a(href="masaje-zen.html") masaje zen shiatsu, la terapia japonesa del bienestar