article.unselectable
    h4.black-box Sustentabilidad  
    h3 Sustentabilidad: 
    p.muted ¡Consumí local !
    p: img(src="../../images/slide2.jpg", alt="sustentabilidad", style="padding: 0px 0px 0px 10px") 
    p.post-it-style ¿Por qué?
    br
    div.borde-redondo
        p: span(style='color:GreenYellow') • Te asegurás de que lo que consumís es fresco y de temporada. Colaborás con el Medio Ambiente.
        p: span(style='color:darkblue') • Transformás la realidad económica porque fortalecés a los pequeños empresarios.
        p: span(style='color:GreenYellow') • Promovés una economía más equitativa dando la oportunidad a tus vecinos
        p: span(style='color:darkblue') • Luchás contra los monopolios generando un verdadero libre comercio
        p: span(style='color:GreenYellow') • Apoyás a familias enteras para que prosperen de forma independiente
        p: span(style='color:darkblue') • Colaborás para que haya más justicia social y solidaridad entre tu gente
        p: span(style='color:GreenYellow') • Hacés que se disminuyan los costos de producción y abaratás el producto final
    br
    p.post-it-style 
     span(style='color:orange;font-weight:bold') IMPORTANTE: 
     | No hay puntos oscuros porque sabrás exactamente de dónde viene y cómo llega hasta vos!
    br
    div.circle-text
        div 
            span(style='color:green;font-weight:bold') Además...
            |  todo será más económico y mejor!
    br
    br

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fnotas%2Fnoviembre2015%2sustentabilidad.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/notas/noviembre2015/sustentabilidad.html', data-layout='button')


        .column.small-8
            ul.inline-list
                // li: span.fi-pricetag-multiple
                // li: a(href="") sustentabilidad