article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="avena.html"): h3 Avena el cereal estrella .
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Qué es? Una planta… o mejor dicho un cereal como el arroz, el trigo y el maíz.

    .row
        .column.small-4           
            a(href="avena.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Sustentabilidad
    a(href="sustentabilidad.html"): h3 Sustentabilidad: Consumí local! 
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Por qué? Te asegurás de que lo que consumís es fresco y de temporada. Colaborás con el Medio Ambiente.

    .row
        .column.small-4           
            a(href="sustentabilidad.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="tomar-agua.html"): h3 La importancia de tomar agua 
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Para que nuestro cuerpo funcione es importante consumir líquidos… pero no cualquiera! 

    .row
        .column.small-4           
            a(href="tomar-agua.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Alimentación
    a(href="descongelar.html"): h3 Descongelar sin perder nutrientes 
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Para que nuestro cuerpo funcione es importante consumir líquidos… pero no cualquiera! 

    .row
        .column.small-4           
            a(href="descongelar.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Sustentabilidad
    a(href="reciclaje.html"): h3 Desperdicios… ¿y ahora qué hacemos? 
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Sabías que… aprovechar los desperdicios en una casa ahorraría mucho dinero por año.

    .row
        .column.small-4           
            a(href="reciclaje.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr
article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="huesos-fuertes.html"): h3 Huesos fuertes.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Si estás pensando en dejar los lácteos o disminuirlos te damos algunas opciones para evitar la pérdida de calcio.

    .row
        .column.small-4           
            a(href="huesos-fuertes.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Noticias
    a(href="hospital-natural.html"): h3 Un hospital con medicina natural.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable En Colombia, cerca de Bogotá, los laboratorios van a pérdida… o al menos eso se intenta en favor de los pacientes.

    .row
        .column.small-4           
            a(href="hospital-natural.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="masaje-zen.html"): h3 Masaje Zen Shiatsu La terapia japonesa del bienestar.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable El ZEN SHIATSU es un tratamiento basado en la teoría de los 12 meridianos principales de acupuntura y otros dos extraordinarios.

    .row
        .column.small-4           
            a(href="masaje-zen.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr