article.tint-box.full-bleed
	h4 Nuestras Notas
	p.muted Todas las notas
	ul
		li: a(href="notasdelmes.html") notas noviembre/diciembre 2015
		//li: a(href="../septiembre2015/notasdelmes.html") notas septiembre/octubre 2015
		//li: a(href="../julio2015/notasdelmes.html") notas julio/agosto 2015
		//li: a(href="../marzo2015/notasdelmes.html") notas marzo/abril 2015	
		//li: a(href="../enero2015/notasdelmes.html") notas enero/febrero 2015
		//li: a(href="../noviembre2014/notasdelmes.html") notas noviembre/diciembre 2014
		//li: a(href="../septiembre2014/notasdelmes.html") notas septiembre/octubre 2014
		//li: a(href="../julio2014/notasdelmes.html") notas julio/agosto 2014
		//li: a(href="../mayo2014/notasdelmes.html") notas mayo/junio 2014		
		//li: a(href="../marzo2014/notasdelmes.html") notas marzo/abril 2014
		//li: a(href="../enero2014/notasdelmes.html") notas enero/febrero 2014
		//li: a(href="../noviembre2013/notasdelmes.html") notas noviembre/diciembre 2013
		//li: a(href="../septiembre2013/notasdelmes.html") notas septiembre/octubre 2013