article.unselectable
    h4.black-box Sustentabilidad 
    h3  ¿Desperdicios?
    p.muted Desperdicios… ¿y ahora qué hacemos?
    p: img(src="../../images/slide5.jpg", alt="avena", style="padding: 0px 0px 0px 10px")     
    p Sabías que… aprovechar los desperdicios en una casa ahorraría mucho dinero por año.
    p.post-it-style
      span(style='color:brown;font-weight:bold') Para pensar: 
      | El 80% de los porteños confiesa tirar habitualmente comida a la basura… incluso cuando todavía puede consumirse.
    br
    p 
        span(style='color:purple;font-weight:bold')¿Qué hacer?
        |  Sin dudas es un cambio de hábito: 
    p Planificar lo que se va a consumir semanalmente es un gran ahorro de dinero tanto en la compra como en la selección de los platos a cocinar.

    p 
        span(style='color:orange;font-weight:bold') Importante: 
        |  Aprovechar los sobrantes de las comidas cocinadas es otro punto de ahorro. Podés transformar casi todas las sobras en tortillas, en guisos, en croquetas o albóndigas. 
        span(style='color:goldenrod;font-weight:bold') No te dejes estar!

    p Lo que más se tira… son pan, verduras y frutas, y comida casera. Mucho s dicen que es por la mala conservación de los alimentos.
    
    p.post-it-style
        span(style='color:orange;font-weight:bold') OJO! 
        |  No hay que olvidarse de lo que tenemos en la heladera: la rotulación en el freezer o el saber cuándo vamos a consumir lo que ponemos en un tupper en la heladera, son dos puntos esenciales a la hora de conservar esos alimentos.
    br
    p.pizarron CANTIDADES: Porciones pequeñas para consumir en el momento o porciones extremadamente para aprovecharlas en otra comida son las dos opciones para ahorrar en las comidas.
    br
    p.post-it-style 
        span(style='color:indigo;font-weight:bold') Planificación. 
        | Todo está pensado para que compres más de lo que necesitas. Por eso es importante antes de ir al super armarte una lista y tratar de acercarte lo más posible a ella!!!
    
    p.post-it-style 
        span(style='color:green;font-weight:bold') Planificación. 
        | Ofertas: Es importante consumir frutas y verduras de estación. Sin embargo, las promociones de lleve 5 kilos por muy poco dinero no solo son inútiles si no llegamos a consumir la totalidad, sino que nos genera un hueco en el bolsillo.
    br
    p 
        span(style='color:lightgreen;font-weight:bold') Compost! 
        | Siempre está la opción –si son frutas y verduras olvidadas en la heladera y que no fueron previamente condimentadas- de armar tu propia tierra!
    
    p.borde-rectangulo La Ley Basura Cero cumplió 10 años de su sanción en la ciudad de Buenos Aires. 
      span(style='color:lightgreen;font-weight:bold') El resultado es paupérrimo según investigaciones entre la que se destaca la de Greenpeace.
    
    p.borde-rectangulo 
        span(style='background: #ffffb3;padding:10px;box-shadow: 5px 5px 5px grey;transform: rotate(-1.5deg)') Para pensar...
        br
        br
        |   el 80% de los residuos reciclables no lo son debido a que están sucios o húmedos. Recordá que los envases deben estar limpios y secos


    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fnotas%2Fnoviembre2015%2reciclaje.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/notas/noviembre2015/reciclaje.html', data-layout='button')

        .column.small-8
            ul.inline-list
                // li: span.fi-pricetag-multiple
                // li: a(href="") reciclaje