article.unselectable 
    h4.black-box Salud
    h3  Masaje Zen Shiatsu
    p.muted La terapia japonesa del bienestar.
    p: img(src="../../images/masaje shiatsu.jpg", alt="avena", style="padding: 0px 0px 0px 10px")     
    p 
        span(style='color:goldenrod;font-weight:bold') "SHI" significa DEDO y "ATSU", PRESIÓN.
    p 
        span(style='color:goldenrod;font-weight:bold') El ZEN SHIATSU 
        |  es un tratamiento basado en la teoría de los 12 meridianos principales de acupuntura y otros dos extraordinarios, de la Medicina Tradicional China que incorpora los conceptos occidentales de anatomía, fisiología y patología.
    
    p 
        span(style='color:green;font-weight:bold') Los MERIDIANOS 
        | son 
        span(style='color:green;font-weight:bold') CANALES 
        | por donde 
        span(style='color:green;font-weight:bold') CIRCULA 
        | el 
        span(style='color:green;font-weight:bold') KI 
        | o energía vital. Cuando hay bloqueos o están en desarmonía, se produce el malestar o la enfermedad.

    p.post-it-style A través de la presión y manipulación del cuerpo, el 
        span(style='color:goldenrod;font-weight:bold') ZEN SHIATSU 
        |  trabaja a nivel físico, emocional y espiritual movilizando la energía estancada y llevando al organismo a su estado natural de equilibrio y armonía (homeostasis).
    br
    p    
        span(style='color:goldenrod;font-weight:bold')  El ZEN SHIATSU 
        |  es más que un masaje relajante. Para la medicina occidental, estimula el sistema nervioso y permite alcanzar el equilibrio de los sistemas circulatorio, respiratorio, digestivo e inmunológico; tonifica la musculatura; evita la retención de líquidos, estimulando el drenaje linfático y la eliminación de toxinas.
    p Además de los dedos, se utiliza la presión de las palmas de la mano, los antebrazos, los codos, rodillas y hasta los pies. A diferencia de la mayoría de los masajes, el paciente recibe el tratamiento con ropa cómoda y en un colchón a nivel del suelo.
    p.post-it-style Por sus múltiples beneficios, el 
        span(style='color:goldenrod;font-weight:bold') ZEN SHIATSU 
        |se recomienda para:
    br
    div.borde-rectangulo(style='border-color: goldenrod;background: khaki;color: whitesmoke')
        p • Aliviar dolores musculares, articulares, cervicales, de espalda y cintura. Contracturas.
        p • Ayuda a alinear la columna, corregir malas posturas y mejorar la flexibilidad.
        p • Ansiedad, insomnio, estrés, depresión.
        p • Migrañas y cefaleas.
        p • Fatiga y agotamiento crónicos.
        p • Problemas digestivos.
        p • Trastornos relacionados con la menstruación y la menopausia.
        p • Incrementa el bienestar general.
    br
    p Además de tratar los síntomas, el Zen Shiatsu nos acerca a las causas, para encontrar el origen de las desarmonías que rompen nuestro equilibrio natural.
        span(style='color:goldenrod;font-weight:bold') El ZEN SHIATSU 
        | es un camino compartido entre el terapeuta y el paciente para alcanzar la autocuración.

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fnotas%2Fnoviembre2015%2masaje-zen.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/notas/noviembre2015/masaje-zen.html', data-layout='button')

        .column.small-8
            ul.inline-list
                // li: span.fi-pricetag-multiple
                // li: a(href="") salud