article.unselectable
    h4.black-box Salud
    h3  Y sí, más buena que… la Avena!
    p.muted El cereal estrella
    p: img(src="../../images/slide1.jpg", alt="avena", style="padding: 0px 0px 0px 10px")     
    p 
    span(style='color:chocolate;font-weight:bold')¿Qué es? 
    | Una planta… o mejor dicho un cereal como el arroz, el trigo y el maíz.
    br
    br
    p.pizarron ¿Para qué? Ideal para diabéticos, ayuda en el tránsito intestinal, sirve como diurético, mejora el sistema inmunológico, protege al organismo contra la arteriosclerosis, el infarto y la hipertensión…
    
    
    p.post-it-style 
     span(style='color:orange;font-weight:bold') Sabías que…
     |  Su nombre viene de la palabra “aveo” utilizada por los romanos para nombrar al cereal como “deseo” por su rico sabor?
    br 

    p 
    span(style='color:crimson;font-weight:bold') IMPORTANTE: 
    | Es el cereal más rico en proteínas y fibra y tiene gran cantidad de vitaminas y minerales como magnesio, fósforo, potasio, ácido fólico, hierro y zinc.
    br
    br
    p.post-it-style 
     span(style='color:orange;font-weight:bold') Además:
     |     Fortalece el sistema neuronal, sirve como antioxidante, mejora la presión arterial, ayuda en dietas para perder peso… y es un excelente exfoliante para la piel!!!
    br
    p 
    span(style='color:chocolate;font-weight:bold')¿Cómo consumirla?
    | Puede ser cruda o cocida… Aunque cruda es más rica en nutrientes. Vienen forma de copos, muesli, galletas, licuados, en panes y como semillas, entre otros formatos…
    br
    br
    .row
        .column.small-4
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fnotas%2Fnoviembre2015%2avena.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/notas/noviembre2015/avena.html', data-layout='button')
 
        .column.small-8
            ul.inline-list
                // li: span.fi-pricetag-multiple
                // li: a(href="") nota de tapa
                // li: a(href="") salud