article.unselectable
    h4.black-box Solidaridad  
    h3 Chanchito Vegano
    p.muted Comida solidaria
    p: img(src="../../images/chanchito-vegano.jpg", alt="avena", style="padding: 0px 0px 0px 100px")
    p.referencia Por Valeria Manzi
    p.referencia: a(href="https://www.facebook.com/chanchivegano") facebook: Chanchito Vegano     
    p 
        span(style='color:crimson ') ¿Cómo nace?
    p De unas ganas muy profundas de juntar la pasión por cocinar con el activismo por los animales. 
    p Hace unos meses organicé con un amigo una pizzeada vegana en Morón y todo lo recaudado fue donado a Jaulas Vacías, un lindo refugio en Pilar… y se convirtió en algo más que un evento esporádico.
    p 
        span(style='color:crimson ') ¿De qué se trata?
    p La idea es simple: 
     span(style='color:forestgreen ') poner al alcance de las personas comida rica y libre de sufrimiento animal… 
     |  y que en el proceso se pueda ayudar mucho más que solo dejando de considerarlos ingredientes.
    p 
    span(style='color:crimson ') ¿Para quiénes?
    p No importa si vivís el veganismo como tu filosofía de vida, o si estas recién descubriéndolo. Hay gente que dice que es una moda, y si bien no comparto, prefiero que se ponga de moda esto y no la caza. Así puede que se despierte en uno la empatía dormida. Y ¿quién sabe? puede ser el proceso de un cambio de vida que también motive a otros.
    p Se juntó una suma considerable de $, pero al ver cuánto ellos gastaban sólo en alimento me di cuenta que necesitaba hacer 
     span(style='color:forestgreen ') La motivación… 
     | algo más que un evento esporádico. Así fue como puse en marcha Chanchito Vegano. Hice un Facebook, me puse a cocinar, un amigo diseñador me hizo el logo, y a la semana de empezar me presenté en dos ferias distintas.
    p Cada una de ellas fue en beneficio de dos refugios: Refugio de Lactantes (Beccar) y Hogar Corazón Animal.
    p 
    span(style='color:crimson ') ¿Cómo se puede colaborar?
    p Comprando, difundiendo en Facebook, donando frascos para las conservas. Ya implementamos la modalidad de pedidos online de conservas, tortas, panes caseros, etc. Tengo la suerte de tener a mi lado gente que me motiva y me ayuda, cocinando conmigo como mi mamá, trasladándome a las ferias como mi papá, y hasta acompañándome cebándome mate como mi hermano. Un entorno de gente que se pone feliz con la iniciativa, amigos que hacen pedidos a pesar de saber cocinar, desconocidos republicando la propuesta…Por eso si querés ser parte del cambio no es necesario que te amarres a un buque pesquero ni que te desnudes en la 9 de Julio con carteles, ¡bienvenido sea si te nace esto! Pero sino podes empezar por algo simple. Cambiando tus hábitos alimenticios, llevando algo rico para compartir en el trabajo, eligiendo una vida coherente en donde el amor que tenés por tu mascota se amplíe a todos los animales…
    p: span(style='color:darkred ') “The love you take is equal to the love you make”.
    div.post-it-style: span(style='font-weight: bold') Refugios:
      br
      br
      p: a(href="https://www.facebook.com/RefugioJV"): span(style='color:darkred ') Jaulas Vacías:
       span(style='color:olivedrab ')  https://www.facebook.com/RefugioJV
      
      p: a(href="https://www.facebook.com/refugiodelactantes"): span(style='color:darkred ')  Refugio de Lactantes: 
       span(style='color:olivedrab ')  https://www.facebook.com/refugiodelactantes
      
      p: a(href="https://www.facebook.com/hogarcorazonanimal/info/"): span(style='color:darkred ')  Hogar Corazón Animal: 
       span(style='color:olivedrab ')  https://www.facebook.com/hogarcorazonanimal/info/
    
    br
    br
    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fcolumnistas%2Fnoviembre2015%2chanchito-vegano.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/columnistas/noviembre2015/chanchito-vegano.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      