article.tint-box.full-bleed
	h4 Columnistas
	p.muted Otras Columnas
	ul
		li: a(href="reposteria-vegana.html") nutrición: repostería vegana
		li: a(href="salud-hidratacion.html") deporte y salud: hidratación
		li: a(href="salud-hidratacion.html") cosmética natural: la piel en verano		
		li: a(href="grosellero-negro.html") el grosellero negro
		//li: a(href="nektar-datiles.html") nektar de dátiles
		li: a(href="chanchito-vegano.html") chanchito vegano