article.unselectable
    h4.black-box Deporte  
    h3  Hidratación vs Deshidratación 
    p: img(src="../../images/drinking-water.jpg", alt="avena", style="padding: 0px 0px 0px 10px")
    p.referencia por Romi Nuñez
    p.referencia rominichi@yahoo.com
    p.referencia: a(href="https://www.twitter.com/RominichiNuez") twitter: @RominichiNuez
     
    p Sabías que… nuestro cuerpo está compuesto por un gran porcentaje de agua y continuamente tenemos pérdidas de líquido y es necesario recuperarlo?  Perdemos líquidos a través del sudor, la orina, la respiración y las heces.
    div.pizarron
     span(style='color:purple;font-weight: bold') Importante: 
     | Durante el verano es cuando se acentúa la pérdida de líquidos y por esta razón, es necesario tomar agua antes de esperar a tener sed.
    br
    p
     span(style='color:blue;font-weight: bold') El agua permite:
     ul
        li Un buen transporte de los nutrientes a las células.
        li Facilita la digestión.
        li Regula la temperatura corporal.
        li Contribuye a mantener la salud.
        li Preserva el aspecto de la piel.
    
    div.post-opcion La deshidratación provoca:
      ul  
        li Dolor de cabeza.
        li Calambres.
        li Naúseas.
        li Malestar General.
        li Cansancio.
        li Dificultar para desarrollar actividades intelectuales.
    br
    div 
     span(style='color:blue;font-weight: bold') ¿Cómo evitar la deshidratación?
      ul
       span(style='color:black;font-weight:normal')
        li Tomar agua de manera regular durante el día.
        li Beber entre dos o tres litros.
        li Incluir jugos, caldos, infusiones.
        li No exponerse al sol, ni hacer ejercicio en horas centrales del día.
        li Incluir alimentos ricos en agua como: frutas y verduras.
        li Evitar las bebidas que contienen alcohol.
    p.post-it-style Una correcta hidratación permite:
    p: span(style='color:gray;background:yellow;padding:10px;') Los nutrientes se distribuyen mejor en el organismo.
    p: span(style='color:white;background:blue;padding:10px;') Que los órganos de nuestro cuerpo funcionen mejor.
    p: span(style='color:black;background:limegreen;padding:10px;')  Se orina con mayor frecuencia, lo que permite eliminar toxinas.
    p: span(style='color:white;background:orange;padding:10px;')  La piel mejora su aspecto.
    p: span(style='color:white;background:mediumpurple;padding:10px;')  Realizar ejercicios moderados y controlados.
    br
    p: span(style='color:blue;font-weight: bold') No dejes de hidratarte en este verano y disfrutá!

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fcolumnistas%2Fnoviembre2015%2salud-hidratacion.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/columnistas/noviembre2015/salud-hidratacion.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Romina Nuñez
                //li: a(href="") salud
                //li: a(href="") deporte        