article.unselectable
    h4.black-box Alimentación  
    h3  Nektar de Dátiles 
    p.muted Ambrosia de los Dioses
    p: img(src="../../images/date-syrup.jpg", alt="avena", style="padding: 0px 0px 0px 100px")
    p.referencia por Guillermo Yamiz orientador nutricional
    p.referencia Más info: elduendeva@yahoo.com.ar
    p.referencia: a(href="https://www.facebook.com/ProductosElDuendeArgentina") facebook: Productos El Duende Argentina  
     
    p 
      span(style='color:forestgreen;font-weight: bold') ¿Beneficios?
    p Este alimento 
        span(style='color:darkgoldenrod;font-style: italic; ')–que antiguamente se consumía en Egipto- 
        | es útil en catarros bronquiales, como calmante en dolores de garganta y tos seca; ya que obra como emoliente y para trastornos nerviosos actúa como atemperante.
    
    p.post-it-style 
        span(style='color:purple;font-weight: bold') Y además... 
        |  al margen de sus virtudes terapéuticas, es bueno destacar su exquisito sabor!
    br
    div: span(style='color:purple;font-weight: bold') En todas las Estaciones! 
         p Es refrescante en verano y muy provechoso para otoño-invierno.
    p.post-it-style También... es ideal para deportistas ya que nutre sin “engordar”.
    br
    p 
      span(style='color:forestgreen;font-weight: bold') ¿Cómo lo consumimos?
    p Esta “ambrosia” puede usarse para untar galletas 
      span(style='color:darkgoldenrod;font-style: italic; ') (integrales-crackers-tostadas)
      | , panes y es apta para cocinar preparaciones con masa y en rellenos como alfajores…
    p También puede uno deleitarse comiéndolo solo por cucharadas como si fuera un dulce.
    p: span(style='color:darkorange;font-weight: bold') Ojo! Es bueno destacar que este producto no debe poseer azúcar ni aditivos químicos en su elaboración.
    div.post-opcion 
        span(style='color:goldenrod;font-weight: bold') ¿De dónde viene? 
        | Se produce según una antigua y secreta receta egipcia.
    br
    p 
      span(style='color:forestgreen;font-weight: bold') Sabías que… 
      |  es apto pata todas las edades y no posee contraindicaciones… 
      span(style='color:darkgreen;font-style: italic; ') En diabéticos consultar al médico.

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fcolumnistas%2Fnoviembre2015%2nektar-datiles.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/columnistas/noviembre2015/nektar-datiles.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Guillermo Yamiz
        .column.small-12: hr