article.unselectable
    h4.black-box Alimentación  
    h3 El grosellero Negro
    p: img(src="../../images/grosellero-negro.jpg", alt="avena", style="padding: 0px 0px 0px 10px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural
     
    p
     span(style='color:forestgreen;font-weight: bold') ¿Qué es? 
     |   La hierba con nombre de superhéroe, es también conocida como cassis o arzaparrilla… son frutos comestibles y es muy aromática.
    p 
      span(style='color:forestgreen;font-weight: bold') ¿Para qué sirve?
      |  Es muy apreciada en Francia por su uso en la repostería y perfumería. Sus hojas contienen flavonoides, lo que le aporta propiedades antioxidantes.
    p: span(style='color:olive') Además… a esta planta se le atribuye un efecto inmunológico, dada su capacidad para reducir la producción de prostaglandina. Sabías que… Su contenido en vitamina C es cuatro veces superior a una naranja…
    br
    br
    p: span(style='color:limegreen') Ayuda en el tratamiento de:
    p: span(style='color:darkorange') Reumatismo -Gota -Ácido Úrico -Prostatismo - Accidentes vasculares y cerebrales - Hipotiroidismo –Alergias 
    p 
      span(style='color:forestgreen;font-weight: bold') También… 
      | es un excelente diurético, estimulante de la digestión, útil contra las rinitis alérgicas y el asma bronquial gracias a un efecto similar a la cortisona que estimula la corteza suprarrenal…
      
    p: span(style='color:limegreen') Aunque sin las consecuencias secundarias de ésta, es considerado un gran antiinflamatorio.
    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fcolumnistas%2Fnoviembre2015%2grosellero-negro.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/columnistas/noviembre2015/grosellero-negro.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Gaia Almacen Natural
                //li: a(href="") cosmética      