article.unselectable
    h4.black-box Recetas  
    h3  ROLLITOS DE BERENJENAS
    p: img(src="../images/VEG 10receta.jpg", alt="imagen de rollitos de berenjena", style="padding: 0px 0px 0px 10px")
    p.referencia Por Alvaro Latorre Prado 
    p.referencia Chef La Orgánica (cocinaspa@hotmail.com)
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Frollito-berenjena.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/rollito-berenjena.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li Berenjenas chicas, 2
                li Mozzarella vegetal, 200 g.
                li Tomate perita, 1 lata
                li Ajo, 1 diente
                li Aceite de oliva, 2 cucharadas
                li Y además… Sal, perejil picado, tomillo, orégano y ají molido a gusto


        .column.small-8
            h5 PREPARACIÓN:
            ol 
                li Cortar las berenjenas en láminas.
                li Cortar la Mozzarrella vegetal en bastones.
                li Cubetear el tomate perita.
                li Machacar el diente de ajo.
            h6 Y ahora: 
            ol
                li Pincelar las láminas de berenjena con aceite de oliva.
                li Cocinar las láminas de berenjenas en la plancha, el horno o la parrilla.
                li Condimentarlas con sal y tomillo.
                li Colocar un bastón de mozzarella encima de cada lámina de berenjena, enrollar y sujetar con un palillo.
                li Hacer una salsa de tomates salteando el ajo en aceite de oliva, agregar el tomate cubeteado, condimentar con sal orégano y ají molido.
                li Poner los rollitos de berenjena en una asadera, cubrir con la salsa y calentar unos minutos en el horno.
                li Decorar con perejil picado y servir.


            p: strong *Si lo desea, puede reemplazar la Mozzarella vegetal por una láctea.