article.unselectable
    h4.black-box Recetas  
    h3  PANETTONE INTEGRAL
    p.muted El pan dulce para las Fiestas!
    p: img(src="../images/VEG13receta.jpg", alt="imagen de panettone integral", style="padding: 0px 0px 0px 10px")
    p.referencia Por Alvaro Latorre Prado 
    p.referencia Chef La Orgánica (cocinaspa@hotmail.com)
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Fpanettone-integral.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/panettone-integral.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 6 cucharadas de azúcar mascabo
                li 50 grs. de pasas de uva sin semilla
                li 50 grs. De levadura fresca
                li 50 grs. de nueces
                li 1 pizca de sal.
                li 2 cucharadas de aceite de coco
                li 3 cucharadas de miel
                li 400 grs. de harina integral
                li 200 grs. de harina de trigo 000
                li 50 grs. de almendras
                li Ralladura de 1/2 limón
                li gotas de esencia de vainilla


        .column.small-8
            h5 PREPARACIÓN:
            ol 
                li Precalentar el horno a temperatura media (180grados).
                li Mezclar la levadura con 100 c.c. de agua tibia, 1 cucharada de azúcar mascabo y 50 grs. de harina de trigo 000.
                li Dejar esponjar en un lugar tibio.
                li Mezclar las harinas con el azúcar, la sal y la miel, incorporar la levadura esponjada haciendo un hueco en el centro.
                li Agregar la miel, la ralladura de limón, las gotas de esencia de vainilla y el resto del agua.
                li Amasar hasta unir los ingredientes, formando un bollo suave.
                li Abrir la masa y verter el aceite de coco, amasar nuevamente y dejar leudar en un lugar tibio, hasta que la masa duplique su volumen.
                li Abrir nuevamente la masa e incorporar las nueces y las almendras, previamente fileteadas, y las pasas de uva sin semilla. antes de servir.
                li Amasar nuevamente, de forma envolvente, hasta lograr mezclar los frutos.
                li Colocar la mezcla en un molde de pan dulce de papel encerado (para 1 kilo), y dejar leudar nuevamente hasta que duplique su volumen.
                li Llevar a horno moderado por 1 hora y 15 o 1 hora y media, o hasta que se vea dorada la superficie.
                li Pincelar con miel mientras está caliente.

            p: strong Dato: Se mantiene fresco durante 4 o 5 días o hasta 6 meses en freezer.