article.unselectable
    h4.black-box Recetas  
    h3  TIMBAL DE MIJO Y VERDURAS SALSEADO
    p.muted Simple, fácil de preparar, nutritivo y muy pintoresco!
    p: img(src="../images/VEG 08receta.jpg", alt="imagen de ptimbal de mijo", style="padding: 0px 0px 0px 10px")
    p.referencia Por Jenny
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Ftimbal-mijo-verduras.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/timbal-mijo-verduras.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 2 tazas de mijo cocido
                li 3 zanahorias ralladas
                li 1 cebolla picada 
                li Hojas de remolacha y tallos tiernos cortados finamente



        .column.small-8
            h5 PREPARACIÓN:
            ol 
                li Condimentar el mijo cocido con curry, sal rosada, pimienta negra, aceite de oliva y limón. 
                li Rallar la zanahoria y reservar. 
                li Saltear la cebolla y las hojas de remolacha. 
                li Condimentar
            h6 Para la salsa
            ol
                li 50 gr castañas de Cajú remojadas
                li Condimentar con nuez moscada, sal rosada y pimienta negra a gusto
                li Agua: cantidad necesaria
                li Licuar todo agregando agua hasta lograr una consistencia de salsa cremosa.
            h6 Armado: 
            ol
                li Utilizar un aro metálico para armar. 
                li Intercalar capas de mijo y verduras formando la torre. 
                li Bañar con la salsa. 
                li Decorar con cubitos de morrón y brotes de alfalfa.


            p: strong A disfrutar!