article.unselectable
    h4.black-box Recetas  
    h3  HAMBURGUESA DE QUINOA
    p.muted La quinoa viene siendo usada en la cocina desde hace muchísimos años. Sin embargo, en la Argentina aún hay muchos secretos de este ingrediente que son pocos conocidos por la mayoría de la sociedad.
    p: img(src="../images/VEG 01receta.jpg", alt="imagen de hamburguesa de quinoa", style="padding: 0px 0px 0px 10px")
   
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Fhamburguesa-quinoa.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/hamburguesa-quinoa.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 1 taza de quinoa
                li 3 tazas de agua
                li 4 huevos batidos
                li 1/3 taza de queso parmesano
                li 3 cebollas picada en daditos
                li 3 dientes de ajo picados
                li 1/2 cucharadita de sal
                li 1 taza de repollo picado al vapor
                li 1 taza de pan rallado
                li 1 cucharada de aceite (mejor de oliva)



        .column.small-8
            p Al igual que el arroz, la quinoa debe lavarse para eliminar la saponina que contiene. Para ello se enjuaga unos segundos bajo el chorro de agua fría… nunca debe dejarse en remojo más de unos minutos porque esa saponina se depositaría en su superficie y no lograríamos eliminarla.

            p La quinoa tiene propiedades únicas: un alto contenido protéico, no posee colesterol, no tiene gluten y muchos ácidos grasos insaturados. 

            p Es la semilla de una hierba, aunque se lo considera un grano y se lo compara con los cereales por su composición y su forma de comerlo.

            p Se lo cocina de 15 a 20 minutos (tres partes de agua o caldo por una de quinoa) y se lo puede consumir en una gran variedad de platos que van desde el desayuno hasta la cena. 

            p Se lo cocina hasta que el grano se convierte en transparente y dobló su volumen.

            p Se lo debe servir inmediatamente después de cocinado para mantener su valor nutritivo.


            h5 PREPARACIÓN:
            ol 
                li Hervir la quinoa a fuego lento: 1 taza de quinoa por 3 tazas de agua. Una vez que esté tierna y haya absorbido toda el agua (unos 20 minutos) dejar enfriar a temperatura ambiente.
                li Mezclar en un bol la quinoa cocida, los huevos, el queso parmesano, las cebollas, el ajo, la sal, el repollo picado y el pan rallado. Deja reposar durante unos minutos y amasar las hamburguesas dando el tamaño y la forma deseada.
                li En una sartén a fuego medio-bajo calentar 1 cucharada y cocinar durante 7 a 10 minutos hasta que estén tostadas por ambos lados.
                li Quitar los restos de aceite apoyando en servilletas de papel para que lo absorban. 


            p: strong Recomendaciones:
            p Estas hamburguesas deben ser servidas cuanto antes puesto que son más ricas calientes y mantienen sus propiedades intactas.