article.unselectable
    h4.black-box Recetas  
    h3  MUFFINS DE ZANAHORIA Y ALMENDRAS
    p: img(src="../images/VEG 05receta.jpg", alt="imagen de muffins de zanahoria", style="padding: 0px 0px 0px 10px")
    p.referencia Por jenny
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Fmuffins-zanahoria.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/muffins-zanahoria.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 2 tazas de harina de trigo integral
                li 1 y 1/2 tazas de zanahoria fresca rallada
                li 1 taza de avena
                li 1/2 taza de almendras laminadas
                li 1/2 taza de aceite
                li 3 cucharadas de linaza
                li 1/2 taza de azúcar mascabo
                li 2 cucharaditas de polvo para hornear
                li Ralladura de 1 naranja

        .column.small-8
            h5 PREPARACIÓN:
            ol 
                li Mezclar en un recipiente el aceite con la zanahoria rallada, las almendras, la ralladura de naranja y el azúcar mascabo. Agregar la linaza y 4 cucharadas de agua.
                li Precalentar el horno a 180º C.
                li Aparte mezclar la harina con el polvo de hornear, luego agregar la avena.
                li Reunir ambas y mezclar uniformemente.
                li Colocar la preparación en moldes para muffins enmantecados y enharinados, llenando 3/4 partes de su contenido.
                li Hornear durante 20-25 minutos (se puede enterrar un palillo en la masa: si sale limpio y sin restos de masa, está listo!)


            p: strong Apuntes 
            p La linaza actúa como ligante, sustituyendo a los huevos. Se prepara mezclando 1 cucharada de lino molido en el momento con 3 cucharadas de agua, dejando reposar 30 minutos para permitir la formación de mucílago; esto equivale a un huevo.

            p: strong Para agendar
            p En la cáscara de los cereales es donde se depositan los agroquímicos utilizados en cultivos, por ello es conveniente consumir de origen agroecológico.