article.unselectable
    h4.black-box Recetas  
    h3  CAZUELA DE MAR VEGANA
    p: img(src="../images/VEG12receta.jpg", alt="imagen de cazuela de mar vegana", style="padding: 0px 0px 0px 10px")
    p.referencia Por Alvaro Latorre Prado 
    p.referencia Chef La Orgánica (cocinaspa@hotmail.com)
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Fcazuela-mar-vegana.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/cazuela-mar-vegana.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 300 grs. de arroz Yamaní
                li 2 cebollas
                li 3 dientes de ajo
                li 1 morrón colorado
                li 100 grs. de arvejas cocidas
                li 2 zanahorias
                li 100 grs. de soja texturizada gruesa
                li 50 grs. de aceitunas negras sin carozo
                li 50 grs. de hongos Shitake secos
                li 2 láminas de alga Nori
                li 10 grs. de algas molidas
                li 2 cucharas soperas de salsa de soja
                li 2 cucharaditas (tamaño café) de Cúrcuma
                li 1 cucharadita de pimentón ahumado
                li 2 cucharadas soperas de aceite de Oliva
                li 1 litro de caldo de vegetales
                li Sal y pimienta a gusto

        .column.small-8
            h5 PREPARACIÓN:
            ol 
                li Colocar el aceite de Oliva en una cazuela, llevar a fuego moderado e incorporar las cebollas finamente picadas. Dorar ligeramente e incorporar los ajos picados y el morrón en finas tiras, salteando unos 5 minutos. 
                li Incorporar el arroz, y dorar otros 5 minutos. 
                li Incorporar el caldo de verduras previamente calentado. 
                li Al levantar el hervor, incorporar las zanahorias en tiras (se hacen con el pelapapas), los hongos Shitake, las algas molidas y las algas Nori desmenuzadas.
                li Agregar la salsa de soja, la cúrcuma, el pimentón ahumado, la salsa de soja, pimienta y sal (si lo desea). 
                li Dejar reducir unos 5 minutos e incorporar las aceitunas negras cortadas. 
                li Transcurridos 10 minutos, agregar la soja texturizada gruesa y las arvejas cocidas. 
                li Cocinar por otros 5 minutos, apagar y tapar la cazuela, dejando descansar unos 5 u 8 minutos antes de servir.

            p: strong Dato: Incorpore para un aspecto aún más “marino” de su cazuela habas cocidas en los últimos 5 minutos de cocción.
            p: strong Tip: Presente la cazuela rodeada con pan francés cortado en rodajas frotados con ajo y tostados.
            p: strong Mmmm… Agregue un sabor mediterráneo incorporando tomates secos cocidos y cortados en cuadraditos.
            p: strong Consejo: Espolvoree la cazuela con perejil o cilantro fresco picado al servir.
            p: strong La sal marina le da un plus…