article.unselectable
    h4.black-box Recetas  
    h3  TARTA DE CALABAZA Y ESPINACA
    p.muted ¡Una receta fácil y deliciosa!
    p: img(src="../images/VEG 11receta.jpg", alt="imagen de tarta de calabza y espinaca", style="padding: 0px 0px 0px 10px")
    p.referencia Por Alvaro Latorre Prado 
    p.referencia Chef La Orgánica (cocinaspa@hotmail.com)
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Ftarta-calabaza-espinaca.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/tarta-calabaza-espinaca.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 250 gramos de Harina
                li 2 cucharadas soperas de aceite vegetal (girasol, oliva, etc.)
                li 1/2 Cucharadita de Sal
                li 4 Cucharaditas de Agua Fría
                li 2 paquetes de Espinacas
                li 1 kg. de Calabaza (o Zapallo)
                li Especias a Gusto (Para cocinar las espinacas)
                li Sal a Gusto



        .column.small-8
            h5 PREPARACIÓN:
            h6 Masa:
            ol 
                li Mezclar la harina y un poco de sal, y sumar la manteca vegetal y el agua. Mezclar muy bien y crear una buena masa.
                li Humedecer las manos y hacer una bola de masa, cubrirla con un paño y ponerla media hora en el refrigerador.
                li Una vez terminado este tiempo, retirar la masa y hacer el molde para la tarta. 
            h6 Relleno:
            ol
                li Preparar las espinacas, salteando con especias a gusto y sal. 
                li En otro lado preparar la calabaza o zapallo como puré y añadir condimentos a gusto.
                li Poner una capa de espinacas sobre la masa, luego una capa de calabaza o zapallo.
                li Llevar al horno hasta que quede bien cocinada y con una capa externa bien dorada.

            p: strong Dato: Para quienes consumen lácteos o huevos se pueden agregar a la preparación.
            p: strong Importante: Es necesario escurrir bien las espinacas y que el puré no quede muy líquido.