article.unselectable
    h4.black-box Recetas  
    h3  TORTILLA DE ESPINACAS Y CHAMPIGNONS VEGANA
    p: img(src="../images/VEG 04receta.jpg", alt="imagen de tortilla espinaca champignons", style="padding: 0px 0px 0px 10px")
    p.referencia Por Alvaro Latorre Prado
    p.referencia Chef La Orgánica (cocinaspa@hotmail.com)
    p.referencia facebook: /organica.comidasana   
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Ftortilla-espinaca-champignons.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/tortilla-espinaca-champignons.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 2 paquetes de espinacas 
                li 100 grs. de champignons frescos 
                li 6 cucharadas soperas de Sustituto del Huevo 
                li 6 cucharadas soperas de leche de soja 
                li Sal a gusto (el producto no contiene sal) 
                li 2 cucharaditas de aceite 



        .column.small-8
            h5 PREPARACIÓN:
            ol 
                li Lavar las espinacas, secar y cortar finamente. 
                li Lavar los champignons y cortar en láminas. 
                li Colocar en una cacerola con 1 cucharadita de aceite las espinacas y los champignons y saltear unos minutos hasta que se ablanden las espinacas. 
                li Poner en un colador, para escurrir. 
                li Mezclar el sustituto del huevo con la leche en un bol, agregar sal a gusto e incorporar las espinacas y los champignons. 
                li Colocar una sartén antiadherente a fuego suave, una cucharadita de aceite y verter la preparación, acomodando los bordes. 
                li Cocinar alrededor de 10 minutos, dar vuelta con ayuda de una tapa o plato, y cocinar nuevamente 10 minutos.

            p: strong SUSTITUTO DEL HUEVO
            p Es un producto de origen enteramente vegetal. 
            p Se pueden hacer tortillas, omelettes, rebozar milanesas y ligar rellenos de tartas. 
            p No posee grasas ni colesterol y es muy bajo en sodio. 
            p Altamente nutritivo y con menos calorías.