article.unselectable
    h4.black-box Recetas  
    h3  TRUFAS DE CASTAÑAS, PASAS Y ALGARROBA
    p.muted Las trufas son geniales!... y muy fáciles y rápidas de preparar. Podés variar los ingredientes a gusto, según lo que tengas o lo que tu imaginación te dicte. Prácticas para transportar y convidar!
    p: img(src="../images/VEG 07receta.jpg", alt="imagen de trufas castañas", style="padding: 0px 0px 0px 10px")
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Ftrufas-castanas.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/trufas-castanas.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 1/2 taza de castañas de cajú
                li 1/4 taza de girasol
                li 1/2 taza de avena
                li 3 cucharadas de aceite de coco
                li 1/4 taza de pasas de uva remojadas
                li 4 cucharadas de harina de algarroba
                li 2 cucharadas de miel
                li Coco rallado



        .column.small-8
            h5 PREPARACIÓN:
            p Todo a la procesadora! Se van agregando uno a uno los ingredientes. Se empieza por las semillas, luego los demás ingredientes secos y a continuación los húmedos.
            p El agregado de agua será el necesario para formar una masa compacta. 
            p Con ella formamos las trufas y las pasamos por coco rallado. Mantener en heladera para que permanezcan más firmes.


            p: strong Nota:
            p Podemos remojar también las castañas y el girasol, luego deshidratar o extender sobre placa y colocar cerca de una fuente de calor para secarlos, teniéndolos así crocantes nuevamente. 
            p De este modo estaremos activando las semillas y poniendo en marcha los procesos enzimáticos para incrementar su contenido nutricional… 
            p Así aprovechamos correctamente todo su potencial!