article.unselectable
    h4.black-box Recetas  
    h3  TABULE o TABBOULEH 
    p.muted Otra receta de Medio Oriente, una ensalada vegetariana muy popular!... pero en versión crudo o raw, más refrescante y muy fácil de preparar…
    p: img(src="../images/VEG 03receta.jpg", alt="imagen de tabule", style="padding: 0px 0px 0px 10px")
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Ftabule.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/tabule.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li coliflor
                li perejil picado (una buena cantidad)
                li tomate natural o tomates secos remojados cortados en cuadraditos pequeños
                li cebolla de verdeo y/o cebolla morada o blanca finamente cortada
                li menta
                li jugo de limón (abundante)
                li aceite de oliva, sal, pimienta
                li …y podés preparar diferentes variantes agregando aceitunas negras, pepino, pimiento verde y/o rojo.



        .column.small-8
            h5 PREPARACIÓN:
            p Su elaboración es muy sencilla, solo tenés que procesar las flores del coliflor hasta obtener un granulado similar al trigo burgol o cous-cous. 
            p Agregar los demás ingredientes y condimentar. Y listo!!!!!

            p: strong Recomendación:
            p Incrementar el porcentaje de alimentos crudos que ingerimos es un aporte sustancial, y el modo más inmediato y simple de potenciar nuestra dieta. Te propongo aprovechar esta estación propicia para incorporar más frutas y vegetales en su estado natural a tu menú diario.