article
    strong.verdeoscuro Recetas
    a(href="vianda-vegetales-legumbres.html"): h3 Vianda Nutritiva de Vegetales y Legumbres
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Alvaro Latorre Prado, Chef La Orgánica.

    .row
        .column.small-4           
            a(href="vianda-vegetales-legumbres.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Recetas
    a(href="panettone-integral.html"): h3 Panettone Integral para las Fiestas.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Alvaro Latorre Prado, Chef La Orgánica.

    .row
        .column.small-4           
            a(href="panettone-integral.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="cazuela-mar-vegana.html"): h3 Cazuela de mar vegana.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Alvaro Latorre Prado, Chef La Orgánica.

    .row
        .column.small-4           
            a(href="cazuela-mar-vegana.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="tarta-calabaza-espinaca.html"): h3 Tarta de calabaza y espinaca.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Alvaro Latorre Prado, Chef La Orgánica.

    .row
        .column.small-4           
            a(href="cazuela-mar-vegana.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="rollito-berenjena.html"): h3 Rollitos de berenjena.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Alvaro Latorre Prado, Chef La Orgánica.

    .row
        .column.small-4           
            a(href="rollito-berenjena.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="pan-chapati.html"): h3 Pan Chapati.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    
    .row
        .column.small-4           
            a(href="pan-chapati.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="timbal-mijo-verduras.html"): h3 Timbal de mijo y Verduras salseado.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Jenny.

    .row
        .column.small-4           
            a(href="timbal-mijo-verduras.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="trufas-castanas.html"): h3 Trufas de Castañas.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    .row
        .column.small-4           
            a(href="trufas-castanas.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="albondiga-lenteja.html"): h3 Albóndigas de Lentejas.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    .row
        .column.small-4           
            a(href="albondiga-lenteja.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="muffins-zanahoria.html"): h3 Muffins de Zanahoria.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Jenny.
    .row
        .column.small-4           
            a(href="muffins-zanahoria.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="tortilla-espinacas-champignons.html"): h3 Tortilla de Espinacas y Champignons.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Alvaro Latorre Prado, Chef La Orgánica.

    .row
        .column.small-4           
            a(href="tortilla-espinacas-champignons.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="tabule.html"): h3 Tabule.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    .row
        .column.small-4           
            a(href="tabule.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="hummus.html"): h3 Hummus.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por Jenny.
    .row
        .column.small-4           
            a(href="hummus.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Recetas
    a(href="hamburguesa-quinoa.html"): h3 Hamburguesa de Quinoa.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    .row
        .column.small-4           
            a(href="hamburguesa-quinoa.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr