article.tint-box.full-bleed
  h4 Todas las Recetas
  p.muted Recetas publicadas
  ul
    li: a(href="vianda-vegetales-legumbres.html") vianda nutritiva de vegetales y legumbres
    li: a(href="panettone-integral.html") panettone integral
    li: a(href="cazuela-mar-vegana.html") cazuela de mar vegana
    li: a(href="rollito-berenjena.html") rollitos de berenjena
    li: a(href="tarta-calabaza-espinaca.html") tarta de calabaza y espinaca
    li: a(href="pan-chapati.html") pan chapati
    li: a(href="timbal-mijo-verduras.html") timbal de mijo y verduras salseado
    li: a(href="trufas-castanas.html") trufas de castañas
    li: a(href="albondiga-lenteja.html") albóndigas de lenteja
    li: a(href="muffins-zanahoria.html") muffins de zanahoria
    li: a(href="tortilla-espinacas-champignons.html") tortilla de espinacas y champignons
    li: a(href="tabule.html") tabule
    li: a(href="hummus.html") hummus
    li: a(href="hamburguesa-quinoa.html") hamburguesa de quinoa

article
    .fb-page(data-href='https://www.facebook.com/revistavegetariana/', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
        .fb-xfbml-parse-ignore
            blockquote(cite='https://www.facebook.com/revistavegetariana/')
                a(href='https://www.facebook.com/revistavegetariana/') La Vegetariana
//- article
//-   blockquote.twitter-tweet(data-lang='es')
//-     p(lang='und', dir='ltr')
//-       ¿Qué es la harina?¿Qué produce en nuestro cuerpo? 
//-       a (href="https://twitter.com/hashtag/Mitos?src=hash") #Mitos
//-       | y 
//-       a (href="https://twitter.com/hashtag/Verdades?src=hash") #Verdades
//-       | de la 
//-       a (href="https://twitter.com/hashtag/harina?src=hash") #harina
//-       | en nuestro próximo número!!! 
//-       a(href='https://t.co/7kAtEBgUO7') pic.twitter.com/7kAtEBgUO7
//-       | — Revista Vegetariana (@r_lavegetariana) 
//-       a(href='https://twitter.com/r_lavegetariana/status/715984045847478272') 1 de abril de 2016
//-   script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')

article
  a.twitter-timeline( data-lang='es' data-dnt="true" href='https://twitter.com/r_lavegetariana', data-widget-id='715980157085941761', data-tweet-limit='1') Tweets de @r_lavegetariana.
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");