article.unselectable
    h4.black-box Recetas  
    h3  PAN CHAPATI
    p.muted El pan Chapati es típico de países como India y Pakistán. Lo más habitual es que sirva como cuchara para recoger los alimentos o para acompañar sopas u otros platos. 
    p: img(src="../images/VEG 09receta.jpg", alt="imagen de pan chapati", style="padding: 0px 0px 0px 10px")
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Fpan-chapati.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/pan-chapati.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 250 gr de harina integral
                li Sal rosada o marina a gusto
                li 1 cucharada de aceite de coco (u otro 1ª prensada en frío)
                li 1 taza aprox. de agua tibia



        .column.small-8
            p: strong Dato: No contiene levadura por lo que es ideal para personas con digestiones lentas.
            p: strong Opciones: Pueden variar las harinas, agregarle semillas molidas o tostadas, saborizarlo con especias, hacerlos salados o dulces. 
            p Los recomiendo especialmente para preparar rolls: con verduras a elección cortada en finas tiritas o rallada, brotes, hojas verdes, alguna pasta del tipo hummus, de sésamo, aderezos o dips.

            h5 PREPARACIÓN:
            ol 
                li Mezclar la harina, la sal y el aceite. Ir agregando el agua de a poco hasta lograr una masa uniforme, suave, que no se pegue en los dedos. El amasado -como en todos los panes- es quizá el paso más importante, por eso hay que dedicarle el tiempo necesario. 
                li Conviene dejar reposar la masa tapada con un paño, unos 30 min. 
                li Separar porciones del tamaño de un huevo y estirar dándole forma de discos finos. 
                li Llevar a una sartén caliente y cocinar, vuelta y vuelta.

            p: strong Tip: A medida que los hacemos apilarlos uno sobre otro y cubiertos con un paño, para que mantegan su humedad.