article.unselectable
    h4.black-box Recetas  
    h3  ALBÓNDIGAS DE LENTEJAS
    p.muted Las lentejas -por su color y textura-, me resultan un buen aliado a la hora de reemplazar la carne picada de varios platos típicos. 
    p: img(src="../images/VEG 06receta.jpg", alt="imagen de albondiga de lentejas", style="padding: 0px 0px 0px 10px")
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Falbondiga-lenteja.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/albondiga-lenteja.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 1 taza de lentejas
                li 1 taza de arroz yamaní
                li 1 cebolla 
                li 1 zanahoria rallada
                li harina de garbanzos para ayudar a ligar y para rebozarlas
                li ajo y perejil picados
                li condimentos: sal, pimienta, pimentón dulce, comino, ají molido



        .column.small-8
            p Así es, con ellas he preparado hamburguesas, albóndigas, empanadas, relleno de pastel de papas, en zapallitos rellenos, y en lo que nuestra imaginación nos dicte. 
            p Para lograr más cohesión, es bueno procesar una parte de las lentejas a utilizar. Incorporarle mucha cebolla rehogada y, según el plato que estemos preparando, pimientos, zanahoria o remolacha rallada, verdeo, perejil y variados condimentos.
            p Para lograr tener proteínas completas en nuestro plato debemos agregar una porción de un cereal, de este modo nos aportarán todos los aminoácidos esenciales.

            h5 PREPARACIÓN:
            ol 
                li Cocinar las lentejas y el arroz por separado, pasándolos un poco de su cocción.
                li Picar y rehogar la cebolla.
                li Procesar todos los ingredientes.
                li Formar las albóndigas y rebozarlas.
                li Dorar en sartén o al horno. También se pueden cocinar un poco directamente en la salsa. 


            p: strong Consejo: Podemos acompañarlas con una pasta integral y una salsa de tomates frescos licuados con varias hojas de albahaca, un diente de ajo, sal y pimienta.