article.unselectable
    h4.black-box Recetas  
    h3 Vianda Nutritiva de Vegetales y Legumbres
    p.muted Fácil y Rápido!
    p: img(src="../images/VEG 14receta.jpg", alt="imagen de vianda de vegetales y legumbres", style="padding: 0px 100px")
    p.referencia Por Alvaro Latorre Prado 
    p.referencia Chef La Orgánica (cocinaspa@hotmail.com)
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Fvianda-vegetales-legumbres.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/vianda-vegetales-legumbres.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 200 grs. de porotos aduki 
                li 200 grs. de puré de calabaza 
                li 1 berenjena mediana 
                li ½ paquete de espinaca 
                li 1 cebolla colorada chica
                li  1 diente de ajo 
                li 1 cucharada de aceite de oliva
                li semillas de sésamo integral
                li sal y pimienta a gusto.


        .column.small-8
            h5 PREPARACIÓN:
            ol
                li Remojar 3 o 4 horas los porotos aduki, y cocinarlos durante 1 hora, retirarlos y colarlos. 
                li Cocinar la calabaza y hacer un puré. 
                li Saltear las berenjenas previamente cortadas en cubitos con media cebolla y un chorrito de aceite hasta que estén cocidas. 
                li Saltear con unas gotas de aceite la espinaca, 
                li Por último, saltear los porotos con la media cebolla restante y el ajo picado. 
            
            p.post-it-style Esta vianda puede dividirse en 2 porciones, y queda muy bien acompañada de un rico arroz yamaní cocido, rociado con aceite de oliva.
            p: strong Sugerencia: En todos los pasos, si lo desea, agregar sal y pimienta… aunque con el sabor de los vegetales ya alcanza.
            
            p Armar la vianda en un recipiente rectangular o redondo, colocando una capa de puré de calabaza, una de berenjenas y otra de espinacas. Encima colocar los porotos aduki y terminarla con otra capa de puré de calabaza espolvoreada con sésamo integral.

            p.pizarron DATO: Es ideal para llevar al trabajo, ahorrar y comer de forma saludable.
            p IMPORTANTE: Se puede freezar.