article.unselectable
    h4.black-box Recetas  
    h3  HUMMUS
    p.muted Una forma atractiva de incorporar legumbres a nuestra dieta es elaborando una pasta o puré, con el que podemos acompañar todo tipo de comidas. Recomiendo tenerlo siempre disponible, ya que es un sabroso y nutritivo tentempié.   
    p: img(src="../images/VEG 02receta.jpg", alt="imagen de hummus", style="padding: 0px 0px 0px 10px")
    p.referencia Por Jenny Laura Caballero 
    p.referencia Chef La Orgánica (cocinaspa@hotmail.com)
    
    .row
        .column.small-12
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Frecetas%2Fhummus.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/recetas/hummus.html', data-layout='button')


    .row
        .column.small-4.caja-clarita                        
            h5 INGREDIENTES:
            ul
                li 250 grs. de garbanzos
                li jugo de limón, ½  o más
                li aceite de oliva, chorro generoso
                li ajo, 1 diente
                li sal, pimienta
                li pimentón (dulce o picante, según gustos)
                li comino, pizca
                li tahini (pasta de sésamo), 1 o 2 cucharaditas



        .column.small-8
            h5 PREPARACIÓN:
            ol 
                li Remojar los garbanzos entre 8 y 10 horas. Cocinarlos.
                li Procesar todos los ingredientes hasta obtener un puré ligero, de ser necesario agregar líquido de cocción de los garbanzos.
                li Al momento de servir, colocar en un plato en forma extendida, por encima un chorro de aceite de oliva, pimentón y abundante perejil.


            p: strong Hummus significa garbanzo y es originario de Oriente Medio. Se lo considera un alimento básico y muy nutritivo.

            p Tiene un alto contenido en fibras, proteínas y minerales. Además es un alimento energético ya que proporciona hidratos de carbono de absorción lenta.

            p Según investigaciones, el consumo de este potaje produce una buena sensación y hasta da felicidad a quienes lo ingieren. Se debe al contenido de un aminoácido conocido como triptofen que, en buena cantidad, produce serotonina… una sustancia benefactora llamada la hormona de la felicidad.

            p: strong Puede conservarse en la heladera de 7 a 10 días, inclusive freezarlo en porciones y descongelar a medida que se consume. 