article.unselectable
  h4.black-box Noticias
  h3 Agenda Ferias y afines
  p.muted Abril - Mayo 2016
  p: img(src="../../images/feria-bonpland.jpg", alt="imagen de ferias y afines", style="padding: 0px 0px 0px 10px")  
  
  p: span(style='color:black;font-weight:bold') Sabe la Tierra Belgrano
  p Los sábados – cada 15 días – de 10 a 20 hs. Juramento 2527. Belgrano. 
  p: span(style='color:green;font-weight:bold'): a(href="http://www.sabelatierra.com", target="_blank") www.sabelatierra.com

  p: span(style='color:black;font-weight:bold') A Cultivar Que Se Acaba El Mundo
  p Sábados de 11 a 20 hs. Pje San Lorenzo 371. San Telmo.
  p: span(style='color:cyan;font-weight:bold'): a(href="https://www.facebook.com/mercadobonpland", target="_blank") facebook.com/acultivar

  p: span(style='color:black;font-weight:bold') Mercado de Bonpland
  p Martes, Miércoles, Viernes y Sábados de 10 a 20. Bonpland 1660. Palermo. 
  p: span(style='color:darkgreen;font-weight:bold'): a(href="https://www.facebook.com/mercadosolidario.bonpland", target="_blank") facebook.com/mercadosolidario.bonpland

  p: span(style='color:black;font-weight:bold') El Galpón
  p Miércoles y Sábados de 9 a 18 hs. Av. Federico Lacroze 4171. Chacarita. 
  p: span(style='color:green;font-weight:bold'): a(href="http://www.elgalpon.org.ar/elgalpon/mercado/mercado", target="_blank") www.elgalpon.org.ar/elgalpon/mercado/mercado

  p: span(style='color:black;font-weight:bold') Feria de Agronomía
  p Todos los segundos sábados y domingos de cada mes. Predio de la Facultad de Agronomía, Av. San Martin 4453 o Av. De los Constituyentes 3454. Agronomía.
  p: span(style='color:cyan;font-weight:bold'): a(href="https://www.facebook.com/Feriadelproductoralconsumidorenlafauba/", target="_blank") www.facebook.com/Feriadelproductoralconsumidorenlafauba/

  p: span(style='color:black;font-weight:bold') Iriarte Verde
  p Jueves y Sábados de 10 a 19 y 16 respectivamente. Río Limay 1233. Barracas.
  p: span(style='color:darkgreen;font-weight:bold'): a(href="http://www.iriarteverde.com.ar", target="_blank") www.iriarteverde.com.ar

  br
  br

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2agenda-ferias-bsas-afines.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/agenda-ferias-bsas-afines.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable