article.unselectable
  h4.black-box Actualidad
  h3 La ONU Contra los monocultivos a gran escala
  p.muted Actualidad Global
  p: img(src="../../images/monocultivogranescala.jpg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 20px")   

  p Admitieron que las cosechas a menor escala son mejores. Así, al menos, lo estableció la Comisión de las Naciones Unidas sobre Comercio y Desarrollo, al asumir que las pequeñas cosechas orgánicas son la mejor forma de alimentar al mundo. 
  p Esto es no sólo por los agroquímicos que usan las producciones más industrializadas, sino porque de esta forma se pueden crear sistemas alimentarios locales fuertes en pos de una agricultura más sustentable.
  p 
    span(style='color:green;font-weight:bold') ¿Beneficios?  
    | Aumento del carbono en el suelo, reducción de las emisiones de gases de efecto invernadero, optimización del uso de fertilizantes, reducción de residuos a través de cadenas de comida, cambio de los hábitos alimentarios hacia el consumo amigable con el clima… sólo para nombrar algunos.




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2monocultivos.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/monocultivos.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable