article.unselectable
  h4.black-box Nota
  h3 Ferias de Buenos Aires
  p.muted Ya sabemos que no es tarea fácil alimentarse siendo vegetariano –mucho menos veganos- pero existen algunas alternativas que nos permiten ser más orgánicos a la hora de elegir qué llevar a la mesa… e incluso qué ponernos o con qué jugar.
  p: img(src="../../images/ferias-bsas.jpg", alt="imagen de ferias de bsas", style="padding: 0px 0px 0px 10px")   


  p Esta tendencia de alimentarnos en forma saludable y vivir mejor, estaba relegada a las dietéticas y tiendas naturales… hasta ahora… que salió a las calles.
  p Hay ferias para casi todos los gustos y llegan a la Ciudad desde productores de todo el país. Acá les damos un breve pantallazo para ir agendando:

  p:span(style='color:green;font-weight:bold') VEGANOPOLIS:
  p Es la feria Vegana de productos orgánicos y afines. Abrió sus puertas en el barrio de Belgrano hace algo más de dos meses…
  p 
   span(style='color:darkorange;font-weight:bold') Qué ofrece: 
   | Además de alimentos, cuenta con vestimenta, accesorios, cosmética natural y charlas informativas.
  p 
    span(style='color:darkcyan;font-weight:bold') Dónde: 
    | Promete ser itinerante al menos una vez al mes.
  p 
    span(style='color:firebrick;font-weight:bold') Más info: 
    a(href="https://www.facebook.com/veganopolisferiavegana", target="_blank") www.facebook.com/veganopolisferiavegana o 15-5413-3647.
  br
  br
  p:span(style='color:green;font-weight:bold') FERIA SOLIDARIA de BONPLAND:
  p Cuatro días a la semana esta feria pretende fomentar la sustentabilidad y el comercio justo. Lo que se vende es directo del productor al consumidor.
  p 
     span(style='color:darkorange;font-weight:bold') Qué ofrecen: 
     | Aceites, especias, semillas, ropa, chocolates, vinos y demás productos.
  p 
    span(style='color:darkcyan;font-weight:bold') Dónde:  
    | Bonpland 1660
  p 
    span(style='color:firebrick;font-weight:bold') Más info: 
    a(href="https://www.facebook.com/mercadobonpland", target="_blank") www.facebook.com/mercadobonpland
  br
  br
  p:span(style='color:green;font-weight:bold') BUENOS AIRES MARKET:
  p Es un mercado de productos orgánicos que ya cuenta con más de 70 stands de todo el país.
  p 
     span(style='color:darkorange;font-weight:bold') Qué ofrecen: 
     | Se puede encontrar comida, productos delicatessen, bebidas orgánicas, ropa, accesorios, adornos…
  p 
    span(style='color:darkcyan;font-weight:bold') Dónde: 
    | Se realiza en diferentes sitios de la Ciudad en forma esporádica.
  p 
    span(style='color:firebrick;font-weight:bold') Más info: 
    a(href="http://www.buenosairesmarket.com", target="_blank") www.buenosairesmarket.com
  br
  br
  p:span(style='color:green;font-weight:bold') EL GALPÓN: 
  p Todos los miércoles y sábados abre sus puertas en el barrio de Chacarita. Es el sitio donde pequeños productores traen sus ofertas desde quintas y campos. 
  p 
     span(style='color:darkorange;font-weight:bold') Qué ofrecen: 
     | Todo lo que se vende es libre de agrotóxicos y los productos son de producción casera y artesanal. Hay desde frutas y verduras, hasta lácteos y fertilizantes naturales, además de cosmética y limpieza.
  p 
    span(style='color:darkcyan;font-weight:bold') Dónde:  
    | Federico Lacroze 4171, Chacarita
  p 
    span(style='color:firebrick;font-weight:bold') Más info: 
    a(href="http://www.elgalpon.org.ar", target="_blank") www.elgalpon.org.ar
  br
  br
  p:span(style='color:green;font-weight:bold') MERCADO PUNTO VERDE:
  p Los viernes y sábados un grupo independiente de productores ofrecen sus mercaderías promoviendo el comercio justo. 
  p 
     span(style='color:darkorange;font-weight:bold') Qué ofrecen: 
     | Alimentos, objetos de diseño, artesanías y productos para el hogar de diversos rubros.
  p 
    span(style='color:darkcyan;font-weight:bold') Dónde: 
    | Av. Dorrego 1429.
  p 
    span(style='color:firebrick;font-weight:bold') Más info: 
    a(href="http://www.mercadopuntoverde.com.ar", target="_blank") www.mercadopuntoverde.com.ar
  br
  br
  p:span(style='color:green;font-weight:bold') SAN TELMO VERDE:
  p Ya en la zona sur de la Ciudad, los martes y viernes abre las puertas este espacio que invita a degustar nuevos sabores.
  p 
     span(style='color:darkorange;font-weight:bold') Qué ofrecen: 
     | Verduras de quinta, conservas, aceitunas, pastas, quesos caseros y demás productos naturales.
  p 
    span(style='color:darkcyan;font-weight:bold') Dónde: 
    | Perú 677, San Telmo
  p 
    span(style='color:firebrick;font-weight:bold') Más info: 
    a(href="https://www.facebook.com/santelmo.verde", target="_blank") www.facebook.com/santelmo.verde
  br
  br
  p:span(style='color:green;font-weight:bold') FERIA VEGANA BUENOS AIRES
  p Cuenta con una veintena de emprendedores que ofrecen sus productos sin contenido ni uso de animales.
  p 
     span(style='color:darkorange;font-weight:bold') Qué ofrecen: 
     | Gastronomía, cosmética, talleres y charlas.
  p 
    span(style='color:darkcyan;font-weight:bold') Dónde: 
    | Es itinerante.
  p 
    span(style='color:firebrick;font-weight:bold') Más info: 
    | facebook FeriaVeganaBuenosAires
  br
  br
  p:span(style='color:green;font-weight:bold') FERIA DE CONSUMO RESPONSABLE:
  p Este emprendimiento –ahora cooperativo- cuenta con más de 70 puestos de emprendedores sustentables y se realiza todos los domingos a pasos de Plaza de Mayo. 
  p 
     span(style='color:darkorange;font-weight:bold') Qué ofrecen: 
     | Hay vestimenta, juguetes, composteras, productos de diseño, cosmética, accesorios… también hay charlas y música en vivo.
  p 
    span(style='color:darkcyan;font-weight:bold') Dónde: 
    | Av. Pte Julio A. Roca (Diagonal Sur) 600, entre Alsina y Moreno.
  p 
    span(style='color:firebrick;font-weight:bold') Más info: 
    a(href="https://www.facebook.com/Feria-de-Consumo-Responsable", target="_blank") www.facebook.com/Feria-de-Consumo-Responsable o feriadeconsumoresponsable@gmail.com

  br
  br

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2ferias-bsas.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/ferias-bsas.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable