article.unselectable
  h4.black-box Actualidad
  h3 AptoVegano.com
  p.muted El sitio web para veganos
  p: img(src="../../images/vegansite.png", alt="imagen de sitio web vegana", style="padding: 0px 0px 0px 50px")
  p.referencia por Valeria Carbajal 


  p 
    span(style='color:darkorange;font-weight:bold;text-transform:uppercase') ¿De qué se trata? 
    | aptovegano.com es una web en donde consultar los restaurants, bares y emprendimientos de toda la Argentina con esta filosofía. Contamos con fotos, reseñas, la posibilidad de seguir a amigos para ver sus lugares favoritos, y con un solo click guardar lugares nuevos para visitar. 
  p
    span(style='color:cadetblue;font-weight:bold;text-transform:uppercase') ¿Para qué? 
    | surgió de una idea de Domingo. Hablando de las opciones en el mercado, buscando un lugar que lo nucleara todo: Una página para consultar y planear desde casa -o desde la calle- a dónde comer según los antojos del momento o la zona en donde estemos. Semanas después lanzábamos la web. 
  p.post-it-style Para alegría de todos… fue recibida con mucho entusiasmo por gente vegana, no-vegana y en transición. La web sirve para los propietarios de restaurantes, para quienes ofrecen opciones veganas y para quienes quieren consumirlas sean o no veganos.
  br
  br
  p 
    span(style='color:darkorange;font-weight:bold;text-transform:uppercase') ¿Por qué? 
    | Queremos que el veganismo se conozca y por eso la motivación no termina en facilitarle la vida al vegano a la hora de comer. ¡Tenemos muchas ideas más!

  p: span(style='color:tomato;font-style:oblique')  Contamos con vos: Los invitamos a visitarla, a registrarse, ¡a completarla! Entre todos la armamos y la hacemos crecer. Activamos desde nuestra casa al subir una foto y una review, así de simple.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2sitiowebvegano.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/sitiowebvegano.html', data-layout='button')