article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="sitiowebvegano.html"): h3 El sitio web para veganos
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¡Sí, se trata de la primera serie web vegana en español! 

    .row
        .column.small-4           
            a(href="sitiowebvegano.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="serievegana.html"): h3 Bendita y León ¿una serie vegana?
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¡Sí, se trata de la primera serie web vegana en español! 

    .row
        .column.small-4           
            a(href="serievegana.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="agenda-ferias-bsas-afines.html"): h3 Agenda Ferias de Buenos Aires
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Calendario de ferias y mercados en abril y mayo en la ciudad.

    .row
        .column.small-4           
            a(href="agenda-ferias-bsas-afines.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="hospital-natural.html"): h3 Un hospital con medicina natural.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable En Colombia, cerca de Bogotá, los laboratorios van a pérdida… o al menos eso se intenta en favor de los pacientes.

    .row
        .column.small-4           
            a(href="hospital-natural.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Ecología
    a(href="tirar-basura-escrache.html"): h3 Por tirar basura, escrache
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable En el Estado mexicano de Nuevo León se decidió implementar un nuevo tipo de multa...

    .row
        .column.small-4           
            a(href="tirar-basura-escrache.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="cargador-solar.html"): h3 Carga solar para celu… y gratis
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Ya son varias las ciudades que disponen en sus calles cargadores solares...

    .row
        .column.small-4           
            a(href="cargador-solar.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="monocultivos.html"): h3 La ONU Contra los monocultivos a gran escala
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Admitieron que las cosechas a menor escala son mejores...

    .row
        .column.small-4           
            a(href="monocultivos.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="jardinenergiasolar.html"): h3 Un jardín con energía solar!
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Ya es política de Estado en la provincia de Buenos Aires...

    .row
        .column.small-4           
            a(href="jardinenergiasolar.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="carnavalessinanimales.html"): h3 Carnavales sin animales
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Otra vez Bolivia dio en la tecla...

    .row
        .column.small-4           
            a(href="carnavalessinanimales.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="unfilmevegano.html"): h3 Naturaleza Muerta: ¿Un filme vegano?
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable “Durante miles de años el hombre abusó de los animales utilizándolos para vestimentas..."

    .row
        .column.small-4           
            a(href="unfilmevegano.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Ecología
    a(href="parquesolar.html"): h3 Ya existe el primer parque solar de Buenos Aires
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Está en Brandsen, en  la localidad de Samborombón y cuenta con más de 440 paneles...

    .row
        .column.small-4           
            a(href="parquesolar.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="compromisoveggie.html"): h3 Famosos y el compromiso veggie
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable El mes pasado fue el turno de Beyoncé que lanzó el servicio de comida vegana...

    .row
        .column.small-4           
            a(href="compromisoveggie.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="aviones-biocombustible.html"): h3 Aviones con Biocombustible
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable La idea es que se genere a partir de la basura. Esta realidad tan próxima se implementará gracias a una asociación entre la compañía de aviación British Airways y la empresa Solena Fuels...

    .row
        .column.small-4           
            a(href="aviones-biocombustible.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="panel-publicitario-agua-aire.html"): h3 Un panel publicitario que produce agua potable del aire
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Un panel publicitario que genera agua potable? Sí, y es posible gracias al ingenio en acción, slogan que justamente engloba la campaña publicitaria que la Universidad peruana de Ingeniería y Tecnología (UTEC)...

    .row
        .column.small-4           
            a(href="panel-publicitario-agua-aire.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="basura-energia.html"): h3 Basura en energía
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Es sabido que los supermercados son grandes productores de desechos...

    .row
        .column.small-4           
            a(href="basura-energia.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Nota
    span.muted | Actualidad
    a(href="ferias-bsas.html"): h3 Ferias de Buenos Aires
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Ya sabemos que no es tarea fácil alimentarse siendo vegetariano –mucho menos veganos- pero...

    .row
        .column.small-4           
            a(href="ferias-bsas.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Noticias
    span.muted | Actualidad
    a(href="primer-super-vegano.html"): h3 Primer super vegano
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable No es en América, pero es digno de copiarse...

    .row
        .column.small-4           
            a(href="primer-super-vegano.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Noticias
    span.muted | Actualidad
    a(href="composteras-ciudad.html"): h3 Ya hay composteras en la Ciudad
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Las primeras 4 se colocaron en el Rosedal...

    .row
        .column.small-4           
            a(href="composteras-ciudad.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr