article.unselectable
    h4.black-box Noticias
    h3  Un hospital con medicina natural
    p.muted En Colombia, cerca de Bogotá, los laboratorios van a pérdida… o al menos eso se intenta en favor de los pacientes.
    p: img(src="../../images/hospital-nazareth.jpg", alt="avena", style="padding: 0px 0px 0px 10px")     
    p Se trata del
        span(style='color:green;font-weight:bold')  Hospital de Nazareth
        | , que trata a sus 2806 pacientes con lo que le brinda la naturaleza.
    p Es así que se curan enfermedades respiratorias con jengibre; problemas digestivos con boldo; dolores corporales con orégano; infecciones urinarias con ortiga mayor y los nervios con manzanilla para ejemplificar con algunas plantas conocida.
    p Después de siglos –y avance de la ciencia- se vuelve un poco a las raíces, por lo que la cura queda en mano de plantas medicinales usadas desde hace siglos por campesinos locales y sapiencia ancestral.

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2hospital-natural.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/hospital-natural.html', data-layout='button')

        .column.small-8
            ul.inline-list
                // li: span.fi-pricetag-multiple
                // li: a(href="") salud