article.unselectable
  h4.black-box Actualidad
  h3 Bendita y León ¿una serie vegana?
  p.muted ¡Sí, se trata de la primera serie web vegana en español! 
  p: img(src="../../images/seriewebvegan.jpg", alt="imagen de serie web vegana", style="padding: 0px 0px 0px 50px")   

  p Gonzalo Acosta, guionista y director del proyecto, cuenta un poco sobre su obra:
  p
    span(style='color:navy;font-weight:bold;text-transform:uppercase') ¿Qué es? 
    | Es un proyecto audiovisual que busca promover el veganismo… durante tres temporadas –la primera en julio-  de diez capítulos cada una en su canal de Youtube.
  p 
    span(style='color:salmon;font-weight:bold;text-transform:uppercase') ¿Por qué? 
    | La desinformación y el prejuicio son moneda corriente en la temática vegana y desde esta serie se busca echar luz sobre todos los interrogantes que genera.
  
  p.post-it-style La mayoría de sus integrantes son veganos.
  
  p 
    span(style='color:navy;font-weight:bold;text-transform:uppercase') ¿De qué forma? 
    | Con un enfoque desde la comedia. 
  
  p 
    span(style='color:salmon;font-weight:bold;text-transform:uppercase') ¿Es sectaria? 
    | No, la web serie se dirige a ambos públicos: veganos y no veganos. Se presenta para los veganos como una ficción que habla sobre su mundo y su código, de forma coherente con el veganismo. Pero a su vez, pretende que el común de la gente se vincule sin sentirse ofendido ni acusado.

  p.pizarron Como es a puro pulmón ya que decidieron no contar con el apoyo de empresas que no comulguen esa filosofía de vida, todo apoyo es importante. Desde un ME GUSTA hasta aporte económico. 

  p 
    span(style='color:navy;font-weight:bold;text-transform:uppercase') ¿Qué busca? 
    | Generar conciencia sobre el dolor ajeno, el animal como ser sintiente y con derechos, la salud, la ecología y el intento por hacer el menor daño posible a otros y al planeta. También aborda temas polémicos como el feminismo y la homofobia. 

  p: span(style='color:salmon;font-style:oblique')  Entre sus actores cuenta con la participación especial de Pocho La Pantera y Christian Sancho.

  p: span(style='color:navy;font-weight:bold')  Más sobre el proyecto:
  p Bendita y León son una pareja absorbida por la rutina. Viven juntos, pero lo único que los une es su mascota Amadeo, un pequeño chanchito al cual tratan como a un hijo. Un accidente que desencadena la trágica muerte del animal los lleva a hacer un cambio radical en sus vidas: eligen adoptar el veganismo. ¿Están listos para este cambio?¿Está listo su entorno para aceptarlos? 

  p: span(style='font-style:oblique;font-size:125%') Sabé más en las redes:
  p: a.fi-social-instagram(href='https://instagram.com/bendita_y_leon', target="_blank")  instagram.com/bendita_y_leon
  p: a.fi-social-facebook(href='https://www.facebook.com/Benditayleon', target="_blank")  facebook.com/Benditayleon
  p: a.fi-social-twitter(href='https://twitter.com/benditayleon', target="_blank")  twitter.com/benditayleon
  p: a.fi-social-youtube(href='https://www.youtube.com/channel/UCRrbuullpsbzfN2O-iE2sVw', target="_blank")  youtube.com/channel/UCRrbuullpsbzfN2O-iE2sVw


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2serievegana.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/serievegana.html', data-layout='button')