article.unselectable
    h4.black-box Actualidad
    h3 Por tirar basura, escrache
    p: img(src="../../images/basura-escrache.png", alt="imagen de basura escrache", style="padding: 0px 0px 0px 100px")   

    p En el Estado mexicano de Nuevo León se decidió implementar un nuevo tipo de multa para quien no respete las normas y tire la basura a la calle: Su cara en un anuncio panorámico.
    p Esta exhibición pública, con el rostro en una gigantografía, se dará cuando el ciudadano sume tres faltas por contaminación a la ciudad.
    p Y no es para menos! Esa región padece un importante problema de contaminación y se recogen al día 25 toneladas de desechos abandonados en la vía pública.
    p Dicen que el primer rostro fue de un hombre que arrojaba basura desde su auto. El letrero muestra al infractor –con nombre completo- en el momento de ser detenido y la leyenda "detenido por cochino".
    p: span(style='color:crimson') Veremos si funciona… acá creemos que sólo por aparecer la gente tiraría la basura a lo loco!

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2tirar-basura-escrache.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/tirar-basura-escrache.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      