article.unselectable
  h4.black-box Actualidad
  h3 Aviones con Biocombustible
  p: img(src="../../images/aviones-biocombustible.jpg", alt="imagen de aviones con biocombustible", style="padding: 0px 0px 0px 20px")   

  p La idea es que se genere a partir de la basura. Esta realidad tan próxima se implementará gracias a una asociación entre la compañía de aviación British Airways y la empresa Solena Fuels.
  p Este combustible reduce en un 95% las emisiones de carbono, comparado con las opciones tradicionales.
  p Pero algo más extraordinario: como Londres ya cuenta con un importante sistema de reciclaje, la empresa sólo usará la basura que no pueda ser reciclada para hacer este combustible… Un círculo genial por donde se lo mire: Londres feliz de saber qué hacer con la basura que no pueden asimilar, la compañía feliz porque recibirá dinero para resolver qué hacer con esa basura, los aviones felices de volar con biocombustible y el planeta feliz de no ser tan contaminado por la raza humana.
  p 
    span(style='color:green;font-weight:bold') ¿Cómo funciona? 
    | Una vez en la planta, los desechos son convertidos en gas y luego en una sustancia que funciona como los combustibles sintéticos de carbón y gas natural que se usan en la industria de la aviación.
  p Si bien este sólo servirá para cubrir apenas el 2% del combustible que usan los aviones de la compañía, la idea es que se pueda ir ampliando… a toda la aviación.

  


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2aviones-biocombustible.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/aviones-biocombustible.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable