article.unselectable
  h4.black-box Actualidad
  h3 Carnavales sin animales
  p: img(src="../../images/carnaval-bolivia.jpg", alt="imagen de carnavales sin animales", style="padding: 0px 0px 0px 50px")   

  p: span(style='color:rebeccapurple') Otra vez Bolivia dio en la tecla y prohibió para los Carnavales el uso de pieles y plumas provenientes de animales.
  p La razón no es pura y exclusivamente un capricho ecologista, sucede que la utilización de este tipo de vestuarios llegó a poner en peligro a varias especies como los flamencos andinos, los loros, los tucanes y los cóndores.
  p: span(style='color:sienna') La medida se tomó desde el Ministerio de Medio Ambiente, Biodiversidad y Cambio Climático y resume: “Se prohíbe la comercialización y el acopio de animales silvestres, vivos o muertos, o elementos que provengan de estos en manifestaciones del Carnaval a nivel nacional”.
  p: span(style='color:darkolivegreen') Quienes no cumplieron con la normativa debieron afrontar un proceso penal con entre tres y nueve años de cárcel. 



  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2carnavalessinanimales.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/carnavalessinanimales.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable