article.unselectable
  h4.black-box Actualidad Local
  h3 Y se hizo el Libro árbol…
  p: img(src="../../images/libroarbolkit.jpg", alt="imagen de libro arbol", style="padding: 0px 0px 0px 10px")   

  p Tener un hijo, plantar un árbol, escribir un libro o… por qué no? Plantar un libro y abreviar algunos pasos… además, si es un libro infantil el niño ya está! 
  p 
    | Efectivamente, 
    span(style='font-weight:bold') "Mi papá estuvo en la selva" 
    | es un cuento que busca generar lectores con conciencia ambiental. Son 40 ejemplares realizados en material biodegradable que, luego de ser leídos en distintos espacios, será plantado en la tierra para ver crecer jacarandaes.
  p El libro –que no se comercializa- es obra conjunta entre los ilustradores Gusti y Anne Decis, el sello independiente Pequeño Editor y artesanos de la Papelera Palermo…
  p Y la cruzada por ver crecer estos bellos árboles piensa en recorrer el mundo. Ya hay instituciones que lo leerán en Ruanda, Italia… además de recorrer todo el país empezando por el Chaco.
  p: span(style='color:green;font-weight:bold') ¡Ojalá haya más proyectos así!


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoviembre2015%2ysehizoarbol.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/ysehizoarbol.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable