article.tint-box.full-bleed
	h4 Nuestras Secciones
	p.muted Todas las notas
	ul
		li: a(href="../alimentacion/seccionalimentacion.html") alimentación
		li: a(href="../salud/seccionsalud.html") salud
		li: a(href="../deportes/secciondeportes.html") deportes
		li: a(href="../solidaridad/seccionsolidaridad.html") solidaridad	
		li: a(href="../alimentacion/seccionalimentacion.html") alimentación
		li: a(href="../sustentabilidad/seccionsustentabilidad.html") sustentabilidad
		li: a(href="../cosmetica/seccioncosmetica.html") cosmética
		li: a(href="seccionnoticias.html") noticias