article.unselectable
  h4.black-box Actualidad
  h3 Famosos y el compromiso veggie
  p: img(src="../../images/compromiso-veggie.jpg", alt="imagen de compromiso veggie", style="padding: 0px 0px 0px 50px")   

  p El mes pasado fue el turno de Beyoncé que lanzó el servicio de comida vegana “22 Días de Nutrición”, basado en que toma 21 días romper el mal hábito y el día 22 para marcar un nuevo comienzo. Los platos van desde los  a los 15 dólares.
  p Por otro lado, también el mes pasado Morrissey canceló un concierto en Islandia por negarse estadio a no vender carne mientras él realizara su recital. Sí, al cancelarlo advirtió: “Me encanta Islandia y he esperado mucho tiempo para regresar, pero dejaré al Harpa Concert Hall con su sed de sangre caníbal”. Esta no fue la primera vez que manifestó su repudio a las tendencias carnívoras.
  p Para la misma fecha dos estrellas se desnudaron contra la explotación animal. Una fue la cantante Pink para la campaña de PETA bajo el lema "Prefiero ir desnuda que usar pieles". La otra fue la actriz Helena Bonham Carter -ex pareja del cineasta Tim Burton-, para la fundación Blue Marine que protege la vida marina en Gran Bretaña.
  p La lista de celebridades que se suman a esta política cada vez es más amplia en todos los continentes… esperemos que finalmente se logre sembrar conciencia.




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fnoticias%2compromisoveggie.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/noticias/compromisoveggie.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable