doctype html
html(lang="es")
  head
    title Notas del Mes
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="../../images/favicon.png")
    link(rel="stylesheet", href="http://cdn.foundation5.zurb.com/foundation.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css") 
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css ") 
    link(rel="stylesheet", href="../../css/styles.css")

  body
    div.content  
      .row
        .column.small-7
          a(href="../index.html")
            img(src="../../images/logo.png", alt="logo de la vegetariana")
          
        .column.small-5
          ul.inline-list.right.top-actions
            li: row.collapse
              .column.small-4: a(href="https://www.facebook.com/revistavegetariana")
                img.topIcon(src="../../images/FacebookIcon.png", alt="logo de facebook")
              .column.small-4: a(href="https://twitter.com/r_lavegetariana")
                img.topIcon(src="../../images/TwitterIcon.png", alt="logo de twitter")  
              .column.small-4: a(href="https://instagram.com/revistavegetariana/")
                img.topIcon(src="../../images/InstagramIcon.png", alt="logo de facebook")
      
      .row.barra-menu
        .contain-to-grid.sticky
            nav.top-bar(data-topbar role="navigation")
              ul.title-area
                li.name
                li.toggle-topbar.menu-icon
                  a.fi-list.hamburguer(href="#")
                    

              section.top-bar-section
                ul.left
                 li: a(href="../../index.html") Home
                 li.active: a(href="notasdelmes.html") Notas
                 //li.has-dropdown
                    a(href='#') Notas
                    ul.dropdown
                      li
                        a(href='#') Nutrición
                      li
                        a(href='#') Salud
                      li
                        a(href='#') Deportes
                      li
                        a(href='#') Solidaridad
                      li
                        a(href='#') Alimentación
                      li.active
                        a(href='#') Sustentabilidad
                      li.active
                        a(href='#') Cosmética
                      li.active
                        a(href='#') Noticias
                 li: a(href="../../recetas/recetas.html") Recetas
                 li: a(data-reveal-id="myModal" data-reveal) Quienes somos
                  
      .row  
        .column.small-12
          #myModal.reveal-modal(data-reveal='')
            h2.modalq Quienes Somos
            p La Vegetariana, Guía Orgánica de Buenos Aires, es una revista de distribución gratuita que difunde una manera más saludable de vivir. 
            p Quienes la hacemos creemos que hacía falta un medio que mostrara de forma clara y concreta que se pueden hacer cosas por mejorar nuestra vida y nuestro hábitat.
            p Por eso -desde hace más de dos años- nos encargamos personalmente de cada una de las áreas, que incluyen desde el armado editorial y el diseño, hasta la distribución.
            p La Vegetariana no es una revista para vegetarianos, es una publicación para acercar a todo aquel que quiera a una vida mejor.

            a.close-reveal-modal ×

      .row
        .column.small-12.medium-8.large-8
          include includes/col-1-notasdelmes
        .column.small-12.medium-4.large-4.ruled
          include includes/col-2-notasdelmes

      .row
        .column.small-12: hr(style="border-width: 3px 0 0")
      
 
    footer
     include ../../includes/footer
    #fb-root
  script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  script(src="http://cdn.foundation5.zurb.com/foundation.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js")  
  script(src="../../js/functions.js")
  script(async='', defer='', src='http://assets.pinterest.com/js/pinit.js') 