article.unselectable
    h4.black-box Deporte
    h3 Contraer - Estirar 
    p: img(src="../../images/contraer-estirar.jpg", width="600", height="200", alt="imagen de agar-agar", style="padding: 0px 0px 0px 100px")
    p.referencia por Romi Nuñez
    p.referencia rominichi@yahoo.com
    p.referencia: a(href="https://www.twitter.com/RominichiNuez") twitter: @RominichiNuez     

    p Nuestra vida cotidiana trascurre en tiempos vertiginosos y la mayoría de las veces nos olvidamos de nuestro cuerpo. Todo lo que nos pasa, afecta al mismo y por lo general se manifiesta a través de la TENSIÓN.
    p: span(style='color:navy;font-weight:bold') ¿Qué es la tensión?
    p Es la respuesta del cuerpo frente a distintas preocupaciones o estrés, que se transforma en contracciones musculares. 
    p Como somos una totalidad: 
      span(style='color:black;font-weight:bold') cuerpo – alma – mente y espíritu… 
      | todo tiende a transformarse, modificándose no solo nuestro cuerpo sino también nuestro estado emocional y mental.
    p Por lo general nuestro cuerpo permanece siempre en una pequeña tensión denominada tono muscular. Este tono muscular nos ayuda a mantener la postura y a estar erguidos.
    p Cuando caminamos, corremos o hacemos ejercicios las fibras musculares generan una tensión denominada CONTRACCIÓN MUSCULAR. 
    p En la CONTRACCIÓN MUSCULAR, los músculos tienden a juntarse o a acortarse.
    p: span(style='color:navy;font-weight:bold') Podemos hablar de tres tipos de contracciones:
    p 
     span(style='color:mediumvioletred;font-weight:normal') -Las contracciones isotónicas: 
     | donde las fibras musculares se contraen y modifican su longitud.
    p 
     span(style='color:mediumvioletred;font-weight:normal') -Las contracciones concéntricas: 
     | donde el músculo se acorta y movilizan una parte del cuerpo para superar la resistencia y
    p 
     span(style='color:mediumvioletred;font-weight:normal') -Las contracciones isométricas: 
     | donde le músculo permanece estático pero genera tensión.
    p.post-it-style Esencial: Como vivimos en permanente contracción es muy importante ELONGAR o ESTIRAR junto a una buena respiración y en un ambiente que nos invite a la relajación. 
    div: span(style='color:navy;font-weight:bold') Beneficios de la elongación:
    p:span(style='color:deeppink;font-weight:bold') • permite una buena movilidad
    p:span(style='color:green;font-weight:600') • aumenta la flexibilidad de los músculos y tendones
    p:span(style='color:mediumvioletred;font-weight:600') • previene contracturas musculares
    p:span(style='color:indigo;font-weight:600') • estimula la lubricación articular
    p:span(style='color:crimson;font-weight:600') • disminuye la presión arterial
    p:span(style='color:slateblue;font-weight:600') • reduce el estrés físico
    p:span(style='color:firebrick;font-weight:600') • mejora la coordinación de movimientos.
    br
    br
    div: span(style='color:navy;font-weight:bold') ¿Qué es elongar?
    | Es alargar el músculo más allá de su posición de reposo.
    br
    br
    div: span(style='color:navy;font-weight:bold') ¿Cuándo se puede elongar? 
    | Antes de hacer ejercicio para que los músculos entren en calor, pero lo más recomendable es hacerlo después del ejercicio.
    br
    br
    p: span(style='color:coral;font-weight:600') Ya no tenés más excusas, empezá tus clases de pilates, de elongación o de corrección postural y comenzá a cuidar tu cuerpo!!!!!


    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fdeportes%2contraerestirar.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/deportes/contraerestirar.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      