article.unselectable
  h4.black-box Deportes
  h3 Volviendo a la rutina
  p: img(src="../../images/volviendo-rutina.jpg", alt="imagen de volviendo a la rutina", style="padding: 0px 50px 0px 50px")   
  p.referencia por Romi Nuñez
  p.referencia rominichi@yahoo.com
  p.referencia: a(href="https://www.twitter.com/RominichiNuez") twitter: @RominichiNuez   
  br
  br
  p.post-claro Tal vez dejamos pasar algunos meses pero... la idea es que puedas mantener un cuerpo relajado y disponible mientras te ocupás de tus obligaciones. 
  br
  br
  p 
    span(style='color:slateblue;font-weight:bold') Ojo! 
    | Hay que tomar conciencia de que tenemos un cuerpo que necesita cuidados, de lo contrario es muy probable que aparezca el stress, el cansancio y el desgano.

  
  p.pizarron El sedentarismo no es amigo de nuestro cuerpo, por esta razón es necesario que podamos movernos y no quedarnos quietos. 

  p 
    span(style='color:crimson;font-weight:bold') ¿Cómo? 
    span(style='color:slateblue') Empezá a escuchar tu cuerpo y dale un lugar privilegiado en tu vida.

  p.post-it-style Si trabajás en una oficina, buscá momentos para estirarte, subí escaleras, usá la bici para ir al trabajo en vez de ir en colectivo o en subte.
  br
  br
  p:  span(style='font-weight:bold') ¿Cómo logramos esto?
    ul  
      li Dormí entre 6 y 8 hs diarias para que tu cuerpo tenga un buen descanso.
      li Tomá 2 litros de agua por día para evitar la deshidratación.
      li Incorporá en tu alimentación verduras, frutas, hortalizas y reducí carnes si es que aún no las dejaste.
      li Mové tu cuerpo yendo a clases de pilates,  de corrección postural, de elongación, de danza en todos sus estilos, etc., mínimo dos veces por semana.
      li Hacé deportes, salí a correr, a caminar!
      li Disfrutá en familia, salí con amigos…
      li Permitite sentirte bien con vos mismo y con los demás
      li Buscá tus sueños y hacelos realidad

  p 
    span(style='color:slateblue;font-weight:bold') IMPORTANTE: 
    span(style='color:crimson') Siempre hay posibilidades para salir de la quietud.

  br


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fdeportes%2volviendo-rutina.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/deportes/volviendo-rutina.html', data-layout='button')
