article
    strong.verdeoscuro Deporte 
    span.muted | Romina Nuñez
    a(href="volviendo-rutina.html"): h3 Volviendo a la rutina
    p.muted.unselectable Tal vez dejamos pasar algunos meses pero... la idea es que puedas mantener un cuerpo relajado y disponible mientras te ocupás de tus obligaciones...
    .row
        .column.small-4            
            a(href="volviendo-rutina.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Deporte 
    span.muted | Romina Nuñez
    a(href="salud-hidratacion.html"): h3 Hidratación
    p.muted.unselectable Sabías que… nuestro cuerpo está compuesto por un gran porcentaje de agua y continuamente tenemos pérdidas de líquido y es necesario recuperarlo?
    .row
        .column.small-4            
            a(href="salud-hidratacion.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Deporte 
    span.muted | Romina Nuñez
    a(href="contraerestirar.html"): h3 Contraer Estirar
    p.muted.unselectable Nuestra vida cotidiana trascurre en tiempos vertiginosos y la mayoría de las veces nos olvidamos de nuestro cuerpo. Todo lo que nos pasa, afecta al mismo y por lo general se manifiesta a través de la TENSIÓN.
    .row
        .column.small-4            
            a(href="contraerestirar.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Deporte 
    span.muted | Romina Nuñez
    a(href="esferodinamia.html"): h3 Esferodinamia
    p.muted.unselectable ¿Qué es? Es una técnica de trabajo corporal que emplea esferas de distintos tamaños...
    .row
        .column.small-4            
            a(href="esferodinamia.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Deporte 
    span.muted | Romina Nuñez
    a(href="pilates.html"): h3 Pilates
    p.muted.unselectable Pilates, el método por excelencia...
    .row
        .column.small-4            
            a(href="pilates.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Deporte 
    span.muted | Nota
    a(href="gym-verano.html"): h3 Vacaciones y ejercicios
    p.muted.unselectable Llegan las vacaciones y la rutina saludable que intentamos mantener durante el año parece tomar ciertos recreos....
    .row
        .column.small-4            
            a(href="gym-verano.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Deporte 
    span.muted | Nota
    a(href="que-si-que-no-gym.html"): h3 Qué sí y que no en el gym
    p.muted.unselectable Cuántas veces ir: Hay que ser constante. Eso de anotarse y no ir no va, pero tampoco alcanza una sola vez a la semana...
    .row
        .column.small-4            
            a(href="que-si-que-no-gym.html")  Leer más
        .column.small-12: hr


article
    strong.verdeoscuro Deporte 
    span.muted | Juan E. González
    a(href="pesas-para-perder-peso.html"): h3 ¿Pesas para perder peso?
    p.muted.unselectable “Quiero adelgazar, pero si hago pesas, voy a quedar con muchos músculos”, esta es una de las frases que con más frecuencia escucho en el ámbito del entrenamiento; pero esto no es necesariamente así...
    .row
        .column.small-4            
            a(href="pesas-para-perder-peso.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Deporte 
    span.muted | Nota
    a(href="en-gym.html"): h3 En el gym
    p.muted.unselectable No hay que obsesionarse… Con los primeros calores todos nos agolpamos en el gimnasio...
    .row
        .column.small-4            
            a(href="en-gym.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Deporte 
    span.muted | Juan E. González
    a(href="a-trotar.html"): h3 Salir a trotar, ¿cómo?
    p.muted.unselectable El trote es sin dudas una buena opción si decidimos movernos un poco y mejorar la salud de una forma relativamente sencilla y al alcance de todos...
    .row
        .column.small-4            
            a(href="a-trotar.html")  Leer más
        .column.small-12: hr