article.unselectable
  h4.black-box Deportes
  h3 Salir a trotar, ¿cómo?
  p: img(src="../../images/empezar-correr.jpg", alt="imagen de salir a trotar", style="padding: 0px 0px 0px 10px")   

  p El trote es sin dudas una buena opción si decidimos movernos un poco y mejorar la salud de una forma relativamente sencilla y al alcance de todos: no necesitamos hacer un gasto económico… sólo hace falta que nos hagamos un espacio para ello. Si no contamos con los cuidados de un profesional, debemos tener en cuenta unos puntos básicos a la hora hacerlo:
  p • Acordate de que 
    span(style='font-weight:bold') el trote no puede ser prescrito arbitrariamente para cualquier persona.
    |  Si tenés algún tipo de lesión, sobrepeso o cualquier enfermedad, te recomiendo que solicites los concejos y cuidados de alguien idóneo en el área.
  p: span(style='color:crimson')
    span(style='font-weight:bold') • Si estás inactivo 
    |  desde hace mucho tiempo, comenzá caminando unos días. Podés ir aumentando la intensidad progresivamente: caminata, caminata con pasos rápidos y luego ir alternando caminata y trote. 
  p • Recordá que antes de llegar al trote tenés que 
    span(style='font-weight:bold') fortalecer toda tu estructura. 
    | Esto es porque existe una fase de vuelo y, al hacer contacto con el piso, el impacto a nivel del tobillo es el de 2 a 5 veces  tu peso corporal… ¡y a nivel de las rodillas es de 5 a 9 veces!
  p • Si ya estás trotando, caminá unos minutos para calentar, hacé una elongación general, trotá, y al finalizar podés volver a caminar unos minutos y 
    span(style='font-weight:bold') siempre elongá nuevamente.
  p 
    span(style='font-weight:bold') • Un buen par de zapatillas es importante.
    |  Te recomiendo aquellas con amortiguación en la zona del talón, con suelas flexibles para que el pié pueda moverse lo más libre posible.
  p • Ponete ropa cómoda y de un material para que tu cuerpo pueda “respirar”, nunca utilices ropa que te haga transpirar de más: 
   span(style='font-weight:bold') ¡al sudar no perdés grasas!
  p • Llevá reloj, 
    span(style='font-weight:bold') corré por tiempo y no por distancia;
    |  y aumentalo progresivamente siempre escuchando a tu cuerpo… no te sobre exijas.
  p 
    span(style='font-weight:bold') • Respirá controladamente.
    |  Puede ser por nariz o por boca, siempre seguí un tiempo, concentrate en ella, es muy importante.
  p: span(style='color:crimson') • Hidratate bien antes, durante y después del trote.
    span(style='font-weight:bold')  Llevá una botellita con agua.
  p • Si tenés la posibilidad,
    span(style='font-weight:bold')  trotá en terrenos blandos
    |   como en la plaza. Si podés hacelo por el pasto; y si lo haces por las veredas tené cuidado sobre todo al bajar los cordones, ya que podés lesionarte fácilmente las rodillas.
  p • Si salís temprano nunca lo hagas en ayunas.
    span(style='font-weight:bold')  Desayuná algo leve
    |  por lo menos media hora antes, y cuando volvés hacete un desayuno completo.
  p: span(style='color:crimson') • El descanso es importante. Por ejemplo, en la semana 
    span(style='font-weight:bold') trotá 3 días y descansá  4 días,
    |  alternados.
  p • Relajate, 
    span(style='font-weight:bold') aprovechá para despejarte,
    |  no lo hagas tensionado. Esto debe ser un placer, no un sufrimiento! 

  p: span(style='font-size:125%;font-style:oblique') Lo más difícil es empezar, los primeros días seguramente te va a costar salir, pero cuando tu organismo se acostumbre, tu mente y tu cuerpo te van a pedir hacerlo!




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fdeportes%2a-trotar.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/deportes/a-trotar.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable