article.unselectable
  h4.black-box Deportes
  h3 Vacaciones y ejercicios
  p: img(src="../../images/gym-verano.jpg", alt="imagen de gym en vacaciones", style="padding: 0px 50px 0px 50px")   

  p Llegan las vacaciones y la rutina saludable que intentamos mantener durante el año parece tomar ciertos recreos. Veamos qué podemos hacer para mantenernos en forma, incluso, en el verano.
  p Existen algunas ventajas que nos ayudarán a no abandonar por completo las buenas prácticas. La alimentación, claro, es esencial… lo que no quiere decir que nos permitamos algunos gustos extras!
  p Aunque todo parezca muy tentador en vacaciones, hay ventajas que podemos aprovechar… la playa, por ejemplo, es  el gimnasio ideal: agua, sol, arena y aire puro.
  p: span(style='color:slateblue;font-weight:bold') ¿Qué se puede hacer?
  ul
    li 
      span(style='color:whitesmoke;font-size:18px;padding:5px;background:crimson') Correr: 
      |   la arena mojada al lado del mar, los paisajes entrañables –y a veces zigzagueantes- de la sierra, o las calles de tierra son un escenario ideal para correr, trotar o caminar.
    li 
      span(style='color:whitesmoke;font-size:18px;padding:5px;background:darkorange') Nadar: 
      | Es sabido que la natación es uno de los deportes más completos. Pero además –dentro de la pileta, el mar o el río- se pueden hacer diversos ejercicios.
    li 
      span(style='color:whitesmoke;font-size:18px;padding:5px;background:slateblue') Piernas y abdominales: 
      | Juntar caracoles, piedritas u hojas es un buen ejercicio. 
  div.pizarron 
    p: span(style='font-weight:bold') Para tener en cuenta:
    p • Es indispensable elongar al terminar.
    p • El mejor horario es el de la mañana.
    p • Usar protector solar, siempre.
    p • Beber mucha agua.
  br
  br


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fdeportes%2gym-verano.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/deportes/gym-verano.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable