article.unselectable
  h4.black-box sustentabilidad
  h3 Los sí y los no...
  p.muted Agua oxigenada
  p: img(src="../../images/usos_agua_oxigenada.jpg", alt="imagen de agua oxigenada", style="padding: 0px 0px 0px 10px")   

  p Sirve para blanquear ropa (manchas de sangre, de vino, etc) y como desinfectante… aunque no tanto como algunos dicen:
  p Mata gérmenes (aunque no siempre es necesario matarlos a todos!!!!). Hay gérmenes en la boca que son necesarios. Así que al lavarse los dientes o hacer buches con agua oxigenada no hay que exagerar… no repitan tanto!!!!

  p 
     span(style='font-weight:bold') Ojo! 
     | Mata gérmenes pero no elimina a la salmonella, por lo que blanquear alimentos o lavarlos con Agua oxigenada no alcanza para que sean inocuos!!! 
  p Y blanquea los dientes (un poco) y las uñas de los fumadores…

  p 
    span(style='color:red;font-size:115%') Para blanquear uñas: 
    | Poner una cucharada (10Vol.) en un recipiente con agua fría y remojarlas durante 10 minutos.
  
  p 
    span(style='color:cadetblue;font-size:115%') Cepillos de dientes: 
    | Colocarlos en una solución de agua oxigenada conserva los cepillos libres de gérmenes.

  p 
    span(style='color:red;font-size:115%') Para los dientes: 
    | hacer buches con una cucharada de postre de este producto y mantener unos minutos y escupir. No repetir en lapsos cortos.


  p Pero para desilusión de muchos, el agua oxigenada no es tan eficaz en la curación de heridas abiertas. Esto es porque retrasa la cicatrización, impide la adecuada irrigación sanguínea a los tejidos si se aplica continuamente y se inactiva al aplicarlo en una herida abierta… un mito que se cae.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2vinagre-umeboshi.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/vinagre-umeboshi.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable