article.unselectable
  h4.black-box Alimentación
  h3 Huertas en otoño e invierno
  p: img(src="../../images/plantar-invierno.jpg", alt="imagen de huertas otoño invierno", style="padding: 0px 0px 0px 10px")   

  p Llega un tiempo de recambio. Hay que renovar la tierra y plantar vegetales de estación y, por qué no, algunas lindas flores. Veamos qué podemos hacer con nuestros espacios verdes para que no pierdan vida cuando hace frío y no nos hagan esperar hasta la primavera.

  p 
    span(style='color:marron;font-weight:bold') Flores: 
    | Conejitos, petuñas, verbenas, clavelinas, alisos y los infaltables crisantemos…

  p 
    span(style='color:brown;font-weight:bold') Verduras: 
    | Acelgas, espinacas, lechugas, rúcula, brócoli, repollos, coliflor, remolacha, zanahorias, rabanitos, cebollas, puerros…

  p 
    span(style='color:chocolate;font-weight:bold') Arómaticas: 
    | Perejil, romero, tomillos, etc. Se pueden usar semillas -hay que enterrarlas a una profundidad del doble de su tamaño- o plantines.

  p.post-it-style 
    span(style='color:darkred;font-weight:bold') ¿Cómo se limpian las plantas? 
    | Ya entrado el otoño, y cuando empiezan los primeros fríos, es necesario limpiar las varas secas desde la base. También despuntar y emprolijar las plantas que florecieron en cantidad durante la primavera y el verano hasta ya entrado marzo.
  br
  br
  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2huertas-otonio-invierno.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/huertas-otonio-invierno.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable