article.unselectable
  h4.black-box Reciclaje
  h3 ¿Piedritas sanitarias para mascotas?
  p: img(src="../../images/piedrasgato.jpg", alt="imagen de piedras de gato", style="padding: 0px 0px 0px 100px")   

  p ¿Tu gato colmó su baño? ¿No hay más piedritas en la bolsa? ¿el olor se apodera de la casa? Existen soluciones muy económicas para dejar de depender de las piedritas comerciales…
  p Yo lo probé y funcionó… y ahora, además de cuidar el medioambiente reciclando lo que no uso y siendo amigable con el medio ambiente, también ahorro dinero!!!!
  p: span(style='color:lightseagreen;font-weight:bold') Sabías que… las piedritas para gatos tardan años en degradarse?
  p: span(style='color:lightseagreen;font-weight:bold')  ¿Qué necesitamos?
  p:span(style='color:navy;font-weight:bold') • Diarios o papeles que no uses
  p:span(style='color:darkslateblue;font-weight:bold') •  Agua
  p:span(style='color:navy;font-weight:bold') • Jabón o detergente
  p:span(style='color:darkslateblue;font-weight:bold') • Bicarbonato de sodio
  br
  br
  p:span(style='color:lightseagreen;font-weight:bold')  ¿Cómo?
  ol
    li Triturar el papel.
    li Volcarlo en un recipiente con agua tibia y un poco de jabón. Lavarlo bien y dejarlo en remojo hasta que se transforme en una masa granulada… como un yogur con cereales.
    li Escurrirlo con la ayuda de un colador. Presionando.
    li Colocar esa pulpa en otro recipiente con agua limpia, agregar el bicarbonato de sodio y amasar la pasta.  
    li Colar nuevamente y amar pequeñas pelotas de papel con tus manos. Dejarlas secar y ¡listo!

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2piedrasgato.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/piedrasgato.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable