article.unselectable
  h4.black-box Sustentabilidad
  h3 Tinturas Naturales
  p: img(src="../../images/tintas-naturales.jpg", alt="imagen de tintas naturales", style="padding: 0px 0px 0px 30px")   
  p.referencia Por Natalia Martínez Sagán, Dirección de Arte-Maquillaje- Vestuario

  p 
  span(style='color:darkviolet;font-weight:bold') ¿Qué son los tintes naturales? 
  | Son sustancias de origen animal o vegetal utilizadas para dar distintos colores a las fibras. Pueden ser cortezas de árboles, raíces, flores e insectos secos, por solo mencionar algunos. Fueron utilizadas durante miles de años para dar color y vida a los tejidos.
 
  p 
  span(style='color:navy;font-weight:bold') Error común: 
  | La experiencia en el teñido de telas casi siempre se limita al uso de la tan ponderada -y poco sustentable- anilina, más allá de los intentos caseros de dar color a prendas de algodón con té. Poco y nada se sabe acerca de los tintes naturales o ‘natural dyes’, como proclama el inglés.
  p 
  span(style='color:lightseagreen;font-weight:bold') Natural Dyes: 
  | Vasudevan, dueño de ‘Tasara Weaving Centre’ en el sur de la India, vino de visita a nuestro país en el mes de Julio pasado para compartir sus conocimientos sobre distintas técnicas de intervención textil, entre ellas, los tintes naturales. 
  p.post-it-style Un poco de historia… Hasta mediados del siglo XVIII -cuando los tintes sintéticos ingresaron al mercado- las tonalidades en la industria textil provenían de los colores que se obtenían de estas diversas fuentes que nos regalaba nuestra Madre Tierra. 
  p 
  span(style='color:darkviolet;font-weight:bold') Encanto… 
  | En medio de ollas de agua hirviendo, bolsas llenas de aserrines varios y hermosas telas, uno se siente como Alicia cuando se cae por el espejo…con un universo hermosamente aromático que se presenta ante uno. 
  p 
  span(style='color:darkviolet;font-weight:bold') ¿Cómo? 
  | El procedimiento, en líneas generales, consiste en hervir el elemento con el que se quiere dar el tinte durante un tiempo determinado, dejarlo reposar y, en caso de ser necesario, agregar el mordiente adecuado. 
  p 
  span(style='color:lightseagreen;font-weight:bold') Dato: 
  | Los mordientes son sustancias que sirven para fijar el color y, dependiendo el caso, modificar la tonalidad que se obtendrá al final del proceso. Entre los más populares se destaca el alumbre o el hierro. Por último, se introduce nuestra prenda –previamente lavada- cómodamente en este baño aromático y se la deja reposar por un periodo de tiempo considerable… el mínimo estipulado es de 1 hora. 
  p 
  span(style='color:darkviolet;font-weight:bold') Importante: 
  span(style='font-style: italic') Siempre es recomendable trabajar con fibras naturales, tales como la lana y la seda. 
  br
  br
  p.post-it-style ¿Con qué? Entre los tintes naturales más populares podemos encontrar al té, la yerba, la cáscara de cebolla, el café, la cochinilla y las flores de palo borracho… pero, tal como nos transmitió nuestro querido maestro de la India, la magia de este tipo de teñido reside en experimentar con aquello que podemos encontrar en nuestra propia tierra. 
  br
  p 
  span(style='color:darkviolet;font-weight:bold') OJO: 
  span(style='font-style: italic') Un elemento no menor a tener en cuenta es la calidad del agua que utilizaremos –y que suele variar entre regiones-, ya que su acidez o alcalinidad tendrá un impacto considerable en el color que obtendremos al finalizar.   
  br
  p
  span(style='color:darkviolet;font-weight:bold') Esencial: 
  | Son renovables, sustentables y no tóxicos. Los tintes naturales ofrecen un vasto universo de posibilidades para explorar mientras conectamos con la Tierra y mantenemos con vida milenarias técnicas de trabajo. 
  br
  br
  p: span(style='font-style: italic') Bibliografía: Para ampliar información, recomiendo el maravilloso libro ‘LAS TINTES NATURALES. TELERAS SANTIAGUEÑAS’, de Celestina Stramiglioli.


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2tintasnaturales.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/tintasnaturales.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      