article.unselectable
  h4.black-box Sustentabilidad
  h3 Limón
  p.muted Sin dudas son saludables y ayudan también con la limpieza de la casa…
  p: img(src="../../images/limon.jpg", alt="imagen de limon", style="padding: 0px 0px 0px 10px")   

  p Veamos qué podemos hacer con ellos además de condimentar la ensalada:

  p 
    span(style='padding:5px;color:whitesmoke;background:darkorange;font-weight:bold') Para limpiar en la cocina: 
    | Limón partido al medio, sal sobre la pulpa y se lo frota sobre sartenes, ollas y las tablas de cortar. Después se enjuaga. Es también un poderoso desengrasante.

  p 
    span(style='padding:5px;color:whitesmoke;background:seagreen;font-weight:bold') Heladera y microondas: 
    | Es recomendable poner medio limón en un plato y meterlo en la heladera para absorber los olores. Cambiarlo una vez a la semana. Para el microondas poner ¾ de taza de agua y un par de cucharadas de jugo de limón hasta hervir y dejarlo cerrado por 10 minutos. Después secar con un trapo.

  p 
    span(style='padding:5px;color:whitesmoke;background:orange;font-weight:bold')  Para limpiar ventanas y espejos: 
    | Mezclar un par de cucharadas de limón con agua en una botella con atomizador. Funciona igual que el vinagre… pero huele mejor.

  p 
    span(style='padding:5px;color:whitesmoke;background:olivedrab;font-weight:bold') Para limpiar el inodoro: 
    | Como quita el sarro se recomienda poner media taza de jugo de limón y dejar reposar antes de limpiarlo. Se pude hacer lo mismo con el bronce y otros metales en canillas, bañadera, etc.

  p 
    span(style='padding:5px;color:whitesmoke;background:goldenrod;font-weight:bold') Limpieza de muebles: 
    | Colocar 2 cucharaditas de aceite de oliva, el jugo de ½ limón  y ½ taza de agua tibia, se mezcla y… con un paño apenas humedecido se repasan los muebles.

  p 
    span(style='padding:5px;color:whitesmoke;background:forestgreen;font-weight:bold') Para quemar grasas y como desintoxicante: 
    | beber el jugo de un limón a primera hora de la mañana, antes de comer algo, así se estimulan los jugos gástricos. Puede ser caliente o frío. Es desinfectante, antiséptico, purificante y contiene flavonoides que remueven la grasa en sangre.

  p 
    span(style='padding:5px;color:whitesmoke;background:darkseagreen;font-weight:bold') Dientes: 
    | No es blanqueador, pero sirve para el dolor de muelas o para detener el sangrado en las encías. 

  p 
    span(style='padding:5px;color:whitesmoke;background:darkslategrey;font-weight:bold') Piel radiante: 
    | Se puede lavar la cara con jugo de limón y azúcar para una piel más limpia y suave… no es recomendable en verano por al exposición al sol. Además, se puede rallar su cáscara y mezclar con azúcar y aceite de oliva para usar como un exfoliante casero para todo el cuerpo.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2limon.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/limon.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable