article.unselectable
  h4.black-box Sustentabilidad
  h3 ¿Cómo bajar costos en la energía?
  p.muted y de paso colaboramos con el medio ambiente
  p: img(src="../../images/energy-savings--bulb-orig.jpg", alt="ima.jpg", style="padding: 0px 0px 0px 10px")   


  p Las facturas de luz son cada vez más abultadas y ya no sabemos cómo hacer para reducir nuestro gasto. Veamos algunos tips que pueden ayudarnos:

  p 
    span(style='color:olive;font-weight:bold') Pero además… 
    | casi la mitad de todas las emisiones de gases con efecto invernadero de EEUU provienen de la enería hogareña! 
  
  p.post-claro Saber en qué consumimos nos servirá para ver qué podemos reducir.
  br
  br
  p
    span(style='color:olive;font-weight:bold') Sabías que… 
    | la luz representa sólo el 20% de nuestro consumo de energía en los hogares?

  p Si no estás seguro de la cantidad de voltios consumidos que figuran en tu boleta podés:
  p
    ol
      li Antes que nada es recomendable llamar a un electricista para que evalúe si existen fugas en la instalación eléctrica o si algún artefacto no está funcionando del todo bien.
      li También podés pedir a la empresa (EDESUR o EDENOR según corresponda) que haga una auditoria. Los medidores muchas veces deben ser cambiados.
      li Si todavía no cambiaste tus lamparitas sin dudas llegó la hora! Con las bajo consumo podés ahorrar hasta 5 veces lo que gastan las comunes.
      li Sellar ventanas. Si vas a calefaccionar con aire acondicionado es esencial para no desperdiciar energía o hacer trabajar de más al aparato. Con masilla o con silicona se resuelve.
      li En invierno las alfombras conservan el calor dentro del hogar. En verano las cortinas no sólo sirven para no dejar entrar el calor sino que también para que no se vaya el frío. 
      li Desenchufar lo que no está en uso. Muchas veces dejamos conectados aparatos como televisores, celulares o computadoras hibernando pero… aunque no lo creas todo suma y puede llegar a significar hasta un 7% del total de la factura!
  
  p.pizarron Sabías que… el frío y el calor se transmiten a través de las ventanas y pisos, por lo que usar cortinas y alfombras puede hacerte ahorrar hasta un 25% en calefacción?

  p
    span(style='color:olive;font-weight:bold') Energía solar en casa? 
    | Es cierto que es muy difícil en las ciudades colocar en forma particular paneles solares en nuestros techos, pero ya existe un dispositivo que -mediante internet- acumula la energía solar durante el día para usarla durante la noche. Se trata de una batería de ion de litio equipada con paneles fotovoltaicos completamente independientes de los sistemas de energía tradicionales. Se fija en la pared y listo! No más contaminación y no más gastos exorbitantes en las facturas de luz… esperemos que llegue pronto! 

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2bajar-costos-energia.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/bajar-costos-energia.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable