article
    strong.verdeoscuro Notas 
    span.muted | Sustentabilidad
    a(href="bajar-costos-energia.html"): h3 ¿Cómo bajar costos en la energía?
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Las facturas de luz son cada vez más abultadas y ya no sabemos cómo hacer para reducir nuestro gasto...

    .row
        .column.small-4           
            a(href="bajar-costos-energia.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Notas 
    span.muted | Sustentabilidad
    a(href="sustentabilidad.html"): h3 Sustentabilidad: Consumí local! 
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Por qué? Te asegurás de que lo que consumís es fresco y de temporada. Colaborás con el Medio Ambiente.

    .row
        .column.small-4           
            a(href="sustentabilidad.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Sustentabilidad
    a(href="reciclaje.html"): h3 Desperdicios… ¿y ahora qué hacemos? 
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Sabías que… aprovechar los desperdicios en una casa ahorraría mucho dinero por año.

    .row
        .column.small-4           
            a(href="reciclaje.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Sustentabilidad
    a(href="arbolesfrutales.html"): h3 Frutas en los árboles de la Ciudad
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Uno se acostumbra a que la acción de estirar la mano y sacar una naranja del árbol sólo suceda en las afueras de la ciudad.

    .row
        .column.small-4           
            a(href="arbolesfrutales.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Reciclaje 
    span.muted | Sustentabilidad
    a(href="basuraelectronica.html"): h3 Basura electrónica
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable El cambio de celulares por un modelo más nuevo, la rapidez con la que los electrodomésticos se rompen, las baterías inutilizadas…

    .row
        .column.small-4           
            a(href="basuraelectronica.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Reciclaje 
    span.muted | Sustentabilidad
    a(href="tintasnaturales.html"): h3 Tinturas Naturales
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Qué son los tintes naturales? Son sustancias de origen animal o vegetal utilizadas para dar distintos colores a las fibras…

    .row
        .column.small-4           
            a(href="tintasnaturales.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Reciclaje 
    span.muted | Sustentabilidad
    a(href="piedrasgato.html"): h3 ¿Piedritas sanitarias para mascotas?
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Tu gato colmó su baño? ¿No hay más piedritas en la bolsa? ¿el olor se apodera de la casa? Existen soluciones muy económicas para dejar de depender de las piedritas comerciales…

    .row
        .column.small-4           
            a(href="piedrasgato.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Reciclaje 
    span.muted | Sustentabilidad
    a(href="reciclajeencasa.html"): h3 Reciclaje en casa
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable El cuidado del medio ambiente puede ¿debe? empezar por casa…

    .row
        .column.small-4           
            a(href="reciclajeencasa.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Reciclaje 
    span.muted | Sustentabilidad
    a(href="reciclaje-pilas.html"): h3 ¿Reciclado de pilas?
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Control remoto de la tele, del aire, del equipo de audio; juguetes de los niños, radio portátil…

    .row
        .column.small-4           
            a(href="reciclaje-pilas.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Ecología
    span.muted | Sustentabilidad
    a(href="plantasenverano.html"): h3 Plantas en verano
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Empiezan los calores y el sol raja la tierra… ¿qué cuidados podemos tener con las plantas?
    .row
        .column.small-4           
            a(href="plantasenverano.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Ecología
    span.muted | Sustentabilidad
    a(href="granito-de-arena.html"): h3 Tu granito de arena puede ser muy grande
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable La ciudad comenzó a pedirnos que le dediquemos 2 segundos para realizar la separación de residuos en origen… y era hora!
    .row
        .column.small-4           
            a(href="granito-de-arena.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Ecología
    span.muted | Sustentabilidad
    a(href="plantas-saludables.html"): h3 Plantas saludables en Primavera
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable No es necesario poner químicos en la tierra ni rociar las hojas con componentes nocivos para animales y personas...
    .row
        .column.small-4           
            a(href="plantas-saludables.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Ecología
    span.muted | Nota
    a(href="agua-lejos-de-ser.html"): h3 Lejos de ser inodora, incolora e insípida
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Prestemos especial atención al agua que ingerimos, con la que lavamos y preparamos nuestros alimentos...
    .row
        .column.small-4           
            a(href="agua-lejos-de-ser.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Sustentabilidad
    span.muted | Nota
    a(href="economias-solidarias.html"): h3 Economías Solidarias
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Muchas veces creemos que nuestras ganancias están en el sueldo a fin de mes, pero no es así o –al menos- muchos ya iniciaron el camino...
    .row
        .column.small-4           
            a(href="economias-solidarias.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Sustentabilidad
    span.muted | Nota
    a(href="si-no-agua-oxigenada.html"): h3 Los sí y los no...
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Sirve para blanquear ropa (manchas de sangre, de vino, etc) y como desinfectante...
    .row
        .column.small-4           
            a(href="si-no-agua-oxigenada.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Sustentabilidad
    span.muted | Nota
    a(href="huertas-otonio-invierno.html"): h3 Huertas en otoño e invierno
    p.muted.unselectable Llega un tiempo de recambio. Hay que renovar la tierra y plantar vegetales de estación y, por qué no, algunas lindas flores...
    .row
        .column.small-4           
            a(href="huertas-otonio-invierno.html")  Leer más
        .column.small-12: hr


article
    strong.verdeoscuro Sustentabilidad
    span.muted | Nota
    a(href="limon.html"): h3 Limón
    p.muted.unselectable Veamos qué podemos hacer con ellos además de condimentar la ensalada...
    .row
        .column.small-4           
            a(href="limon.html")  Leer más
        .column.small-12: hr


article
    strong.verdeoscuro Sustentabilidad
    span.muted | Carolina Irschick
    a(href="hacer-tierra.html"): h3 Hacer tierra 
    p.muted.unselectable eciclar consiste en convertir un material en otro...
    .row
        .column.small-4           
            a(href="hacer-tierra.html")  Leer más
        .column.small-12: hr
