article.unselectable
  h4.black-box Sustentabilidad
  h3 Economías Solidarias
  p: img(src="../../images/economia-solidaria.jpg", alt="imagen de economia solidaria", style="padding: 0px 0px 0px 0px")   

  p Muchas veces creemos que nuestras ganancias están en el sueldo a fin de mes, pero no es así o –al menos- muchos ya iniciaron el camino para que no sea tan así. No se trata de desbarrancar –del todo- al capitalismo, pero sí de encontrar 
    span(style='color:green;font-weight:bold') alternativas 
    |  que no necesiten del dinero como medio de intercambio o que ese dinero no sea más que una herramienta para lograr que ese canje se lleve a cabo… lo que se dice 
    span(style='color:green;font-weight:bold') una forma diferente de pensar la plata.
  p Después de todo, 
    span(style='color:green;font-weight:bold') todos tenemos algo para ofrecer 
    | y esa es la premisa que encontraron varios grupos para lanzar los distintos sitios de comercialización.
  p Hay experiencias desde el mutualismo, el cooperativismo y la autogestión; hasta lugares de trueque, economías sin dineros o sitios donde la economía sea 
    span(style='color:green;font-weight:bold') un intercambio justo entre productores y consumidores…
  p Acá sólo podemos brindar un 
    span(style='color:green;font-weight:bold') pequeño pantallazo de algunos, 
    | pero hay un montón de lugares donde poder hacer real otra 
    span(style='color:green;font-weight:bold') economía más solidaria.

  p 
    span(style='color:green;font-weight:bold') Bioecon 
    | es uno de ellos. Desde esta plataforma web se propulsa un sitio para dar y recibir desde objetos materiales y comidas, hasta saberes y servicios… y sin utilizar dinero. ¿Cómo? Mediante puntos o canje… o por el simple placer de compartir. 

  p La cooperativa de trabajo 
    span(style='color:green;font-weight:bold') Colectivo Solidario 
    | ofrece la logística para garantizar que los productos de Economías Solidarias de todo el país (fábricas recuperadas, cooperativas de trabajo etc) logren llegar al mercado con sus productos. 

  p La 
    span(style='color:green;font-weight:bold') Red Global de Trueque 
    | desde 1995 ofrece -además de intercambio de mercancías y saberes- capacitación y desarrollo de modelos para el intercambio de bienes, servicios y conocimientos… sin dinero.

  p En 
    span(style='color:green;font-weight:bold') Mercado Punto Verde 
    | proponen un intercambio justo, sin especulación, donde productores y consumidores pueden interactuar de forma responsable con uno, con los demás y con el medio que nos rodea.

  p.pizarron Todas estas economías comparten un mismo valor: las cosas valen por el trabajo que hay detrás de ellas y no por las ganas de poseerlas… 

  p: span(style='color:whitesmoke;background:darkgreen;font-weight:bold;padding:10px') BIOECON
  p 
    span(style='color:green;font-weight:bold') Qué se puede hacer: 
    | Se puede solucionar desde la canasta de alimentos o ayudar a pasar una crisis de desempleo, hasta realizar un emprendimiento mediano o a escala industrial. 

  p 
    span(style='color:green;font-weight:bold') Quiénes pueden ingresar: 
    | Cualquier persona que tenga algo que ofrecer (una cosa, un conocimiento o una actividad) y necesitar algo. Hay que tener ganas de participar dentro de esta economía pensando en todos y no simplemente en uno.

  p 
    span(style='color:green;font-weight:bold') Cómo se puede participar: 
  p 1) Dar libremente y recibir libremente de la comunidad.
  p 2) Intercambiar directamente un objeto, conocimiento u actividad con los de otro.
  p 3) Usar puntos cuando ofertas y necesidades entre dos partes no coinciden.

  p
    span(style='color:green;font-weight:bold') Qué los diferencia del mercado convencional: 
    | Se maneja con puntos en lugar de dinero. Los puntos son un medio y no pueden ser un fin. No se pueden acumular ni ahorrar. Cuando eso sucede los puntos se oxidan y ya no sirven.

  p.post-it-style Ingresá en www.bioecon.net y enterate más…
  br
  br
  p: span(style='color:whitesmoke;background:darkgreen;font-weight:bold;padding:10px') Colectivo Solidario

  p 
    span(style='color:green;font-weight:bold') Qué promueven: 
    | Generar canales de comercialización alternativos para que los pequeños productores autogetivos (fábricas recuperadas, cooperativas) lleguen a los consumidores… y que los consumidores compren de forma responsable.

  p 
    span(style='color:green;font-weight:bold') Qué productos ofrecen: 
    | Quesos, tapas de empanadas y tartas, panificados, pastas secas y frescas, yerbas, conservas, productos de almacén, de limpieza, verduras agroecológicas, fiambres, condimentos, aceites, semillas y más.

  p 
    span(style='color:green;font-weight:bold') Por qué es consumo solidario: 
    | Pocas veces nos detenemos a pensar quiénes y de qué manera producen los bienes que adquirimos. El consumo solidario revierte esa lógica, apela a ser responsables por lo que consumimos.

  p 
    span(style='color:green;font-weight:bold') Cómo adquirir los productos: 
    | Mediante envíos a domicilio, en el Mercado Solidario de Bonpland, Ferias, bares, facultades y centros culturales ya adheridos. 

  p.post-it-style Para recibir el listado de productos pedí el newsletter semanal a comunicacion@colectivosolidario.org
  br
  br
  p: span(style='color:whitesmoke;background:darkgreen;font-weight:bold;padding:10px') Punto Verde

  p 
    span(style='color:green;font-weight:bold') Cuál es el objetivo: 
    | Ofrecer de forma directa al consumidor una posibilidad diferente a la industrial y sin intermediaros… un espacio de intercambio directo entre productores y consumidores responsables. 

  p 
    span(style='color:green;font-weight:bold') Cómo se manejan: 
    | Este espacio es cooperativo, libre y autogestivo. La única limitante es espacial ya que es un lugar bastante reducido… pero se intenta sumar todo lo que pueda serle de interés y utilidad al consumidor responsable.

  p 
    span(style='color:green;font-weight:bold') Qué se puede conseguir:
    | Productos comestibles caseros, saludables y artesanales. Y también cosmética natural; productos de limpieza biodegradables; pañales no descartables, portabebés, remeras para amamantar y ropa artesanal.

  p 
    span(style='color:green;font-weight:bold') Quiénes pueden participar: 
    | Productores de alimentos sin agregados sintéticos y artesanos que tengan una afinidad por el concepto del reuso y el reciclaje o de materiales alternativos… el cuidado del entorno natural y social. 

  p.post-it-style Para saber más: http://www.mercadopuntoverde.com.ar
  br
  br

  p: span(style='color:whitesmoke;background:darkgreen;font-weight:bold;padding:10px') Red Global de Trueque

  p 
    span(style='color:green;font-weight:bold') Cómo funciona: 
    | Los intercambios en la RGT se realizan entre "prosumidores": usuarios que deben ofrecer y demandar en la misma medida. No hay dinero de por medio.

  p 
    span(style='color:green;font-weight:bold') Para qué sirve: 
    | Este tipo de intercambio rescató a cientos de empresas en situación de convocatoria de acreedores o quiebra. Pero además, la RGT es un lugar para estrechar vínculos comunitarios y reforzar la inclusión.

  p 
    span(style='color:green;font-weight:bold') Dónde: 
    | Centro de Capacitación para prosumidores y coordinadores: Humberto Primo 978 PB "A" los sábados de 18 a 20. Club de Trueque de La Boca: coordinadora Cristina, Cel: 1533079817 los jueves por la tarde.

  p 
    span(style='color:green;font-weight:bold') Cuál es su objetivo: 
    | "Alfabetizar económicamente" y acompañar a los emprendedores para la puesta a punto de sus productos y proyectos ya sean alimentarios, de indumentaria, de servicios para el hogar, vivienda, turismo etc. 

  p 
    span(style='color:green;font-weight:bold') Curiosidad: 
    | Se creó tomando los principios de autoayuda de "Alcohólicos Anónimos": que cada participante se sienta más autónomo… la autosuficiencia genera autoestima y neutraliza la desazón y el desánimo.




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2economias-solidarias.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/economias-solidarias.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable