article.unselectable
  h4.black-box Nota de Tapa
  h3 Lejos de ser inodora, incolora e insípida
  p: img(src="../../images/pure-water.jpg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 10px")   

  p Prestemos especial atención al agua que ingerimos, con la que lavamos y preparamos nuestros alimentos… 

  p: span(style='color:lightseagreen;font-weight:bold') • El agua constituye el 90% del cuerpo de un bebé y alrededor del 65-70% del de un adulto…
  p: span(style='color:navy;font-weight:bold') • El agua es el principal componente de nuestras comidas. Los cereales cocidos son 70% agua…

  p El agua que se consume proviene de dos fuentes: las subterráneas -como las napas o los pozos- y las superficiales, como los ríos y lagos. En el presente, ambas fuentes están contaminadas por (*):
  div.post-azul
    p • tóxicos químicos 
    p • lluvia ácida
    p • desechos sin tratar
    p • herbicidas y pesticidas provenientes de la agricultura
    p • cloro y fósforo
    p • vertederos y residuos radioactivos que son arrojados o filtrados dentro de ellas.
  br
  br
  p Así encontramos aguas de red con potabilización insuficiente, debido a que el aumento de turbidez (partículas pequeñas de materia sólida en suspensión: arcillas, barros, óxidos minerales, bacterias, parásitos, algas, virus, contaminantes químicos) lentifican el proceso de potabilización, el cual se ve superado por la creciente demanda de suministro… También tenemos aguas de red con excesivo contenido de cloro.

  p Fuentes alternativas de agua más segura: envasadas, de manantiales, de vertientes, purificadas por diferentes sistemas. Pero veamos (*):
  p: span(style='color:lightseagreen;font-weight:bold') -El agua envasada debiera serlo en botellas de vidrio, ya que los químicos del plástico migran al agua.
  p - Algunas aguas minerales pueden ser extremadamente ricas en algunos minerales específicos y éstos pueden crear desequilibrio en algunas personas si las consumen en cantidades.
  p: span(style='color:lightseagreen') -Procedencia insegura. Algunas embotelladoras tratan a las aguas con ozono, desionización o hasta con cloro.
  p -Las etiquetadas “agua de mesa” pueden estar vendiendo agua de la canilla.
  p: span(style='color:lightseagreen') -En cuanto a los purificadores, se recomiendan los de carbón activado comprimido, pues protegen de la contaminación orgánica, pesticidas, herbicidas, insecticidas, metales pesados, cloro y malos olores entre otros...

  p: span(style='color:navy;font-weight:bold;font-size: 125%;') La mejor agua que podemos ingerir es la que nos suministran los vegetales en estado natural. Son una fuente de agua biológica, destilada por la planta y dotada de un alto patrón energético. 


  p -Otro sistema es el de ósmosis inversa, que elimina bacterias, virus, nitratos y minerales en disolución para nombrar algunos. Pero no elimina gases tóxicos, cloroformo, fenoles, etc. Sin embargo, combinado con un filtro de carbón activado elimina del agua todo el espectro de impurezas, incluyendo químicos orgánicos e inorgánicos.
  p: span(style='color:lightseagreen;font-weight:bold') -Los destiladores -aunque son más caros- eliminan casi todos los contaminantes, salvo aquellos que tienen el mismo o menor punto de ebullición. Pero el agua obtenida es agua muerta, desestructurada.


  p (*) Extracciones de  “Agua segura y saludable. Un nostálgico deseo”, del libro Alimentación Consciente del Dr. Sir GABRIEL COUSENS, máxima autoridad médica de la nutrición orgánica vegetariana y alimentación viva. 


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2agua-lejos-de-ser.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/agua-lejos-de-ser.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable