article.unselectable
    h3 Frutas en los árboles de la Ciudad
    p: img(src="../../images/arbol-frutal.jpg", alt="imagen de arbol frutal", style="padding: 0px 0px 0px 100px")    

    p Uno se acostumbra a que la acción de estirar la mano y sacar una naranja del árbol sólo suceda en las afueras de la ciudad. Pero no, podemos consumir frutas en las calles de Buenos Aires.
    div: span(style='color:green;font-weight:bold') Se dice… 
    | que las naranjas son amargas, que el smog las contamina, que el suelo del que se nutren es muy malo… de cualquier forma los expertos dicen que se pueden consumir.
    br
    br
    div: span(style='color:green;font-weight:bold') ¿Qué hay? 
    | Naranjos, nísperos, moras, mburucuyá, limones, tomates… 
    br
    br
    div: span(style='color:green;font-weight:bold') ¿Puedo plantar en mi vereda? 
    | Desgraciadamente no. No está permitido plantar este tipo de especies sin previa autorización de la Dirección General de Arbolado Urbano.
    br
    br
    p.post-it-style Desventajas: Los frutos maduros que caen y se pudren pueden atraer insectos no deseados al barrio.
    br
    p Aunque… la ley dice que si un ejemplar fue plantado ya no se lo puede quitar y hay que darle el mismo cuidado que al resto de los árboles.
    
    p: span(style='color:green;font-weight:bold') Dato: Apenas el 1,5% del total del arbolado de la ciudad de Buenos Aires es de frutales. Esto da un total de casi 5600 ejemplares de distintas especies.

    p: span(style='color:darkorange') ¿Dónde? Podés encontrar si hay en tu barrio entrando a 
     a(href='www.arbolesciudad.com.ar') www.arbolesciudad.com.ar

    p.post-it-style Ventajas: Podés acceder totalmente gratis a sus frutos. Muchos, por su sabor, sólo sirven para hacer mermeladas. Y el olor de los azahares –flor del naranjo y del limonero- es uno de los más bellos del mundo.
    p: span(style='color:green;font-weight:bold') También… se vieron zapallos, laurel y palta en las veredas porteñas.



    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2arbolesfrutales.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/arbolesfrutales.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      