article.unselectable
  h4.black-box Sustentabilidad
  h3 Hacer tierra 
  p.muted Compostaje en casa
  p: img(src="../../images/compostaje.png", alt="imagen de agar-agar", style="padding: 0px 0px 0px 10px")   

  
  p: span(style='color:lightgreen;font-weight:bold') Reciclar consiste en convertir un material en otro. Una de las maneras más efectivas de hacerlo es transformar restos orgánicos en tierra enriquecida y reducir la cantidad de basura hasta en un 50%. Esa es la propuesta de compostar en casa. Te acercamos algunas ideas base para que lo puedas comenzar a hacer hoy mismo, sin demoras ni excusas:
  
  p 
    span(style='color:green;font-size:125%') ¿Qué necesitás? 
    | Podés compostar en cualquier espacio: en un departamento con balcón (sí, por más chico que sea), o directamente en la tierra si tenés jardín. Hay diferentes tipos de composteras: un balde, tambor o tacho viejo, cajones de verduras, un pozo o rincón en la tierra. También podés comprar una compostera ya hecha.
  
  div.borde-rectangulo 
   p 
    span(style='color:goldenrod;font-weight:bold') Drenaje: 
    | Tiene que tener una buena aireación y drenaje, y no debe acumularse agua, esto podría causar malos olores. Podés subir el tacho o cajón a un par de ladrillos para elevarlo del suelo y dejarlo respirar. Si es un balde o tacho debe tener pequeños agujeros.
  br
  br
  p 
    span(style='color:green;font-size:125%') ¿Cómo se hace? 
    | Hay diferentes formas de compostar. Te proponemos el modelo “lasagna”, esto es, el intercalado de tres simples capas. 
  
    p 
      span(style='color:green;font-weight:bold;font-size:90%') Capa 1: 
      | Restos orgánicos.
    p 
      span(style='color:green;font-weight:bold;font-size:90%') Capa 2: 
      | Si tuvieras acceso a tierra vieja de macetas, es importante colocarla sobre los restos húmedos. Esto ayuda a que no se acerquen moscas y además enriquece más rápidamente la tierra. Sino, podés hacerlo igualmente (no hay excusas).
    p 
      span(style='color:green;font-weight:bold;font-size:90%') Capa 3: 
      | Material seco (hojas, pasto, restos de poda, flores secas, cartón trozado, ramitas etc). Si no tenés jardín tampoco hay excusas: podés juntar hojas secas de alguna plaza o de la vereda. 
  p: span(style='color:green;font-weight:bold;font-size:90%') Volver a repetir todos los pasos.

  div.borde-rectangulo
    p 
      span(style='color:goldenrod;font-weight:bold') Lombrices: 
      | Se pueden agregar lombrices en el compost para acelerar el proceso de descomposición de los materiales. 
  br
  br


  p 
    span(style='color:forestgreen;font-weight:bold;text-transform:uppercase;font-size:90%') En la compostera 
    span(style='color:goldenrod;font-weight:bold') NO 
    span(style='color:forestgreen;font-weight:bold;text-transform:uppercase;font-size:90%') se ponen: 
    | huesos, carnes, grasas, lácteos en general, comida condimentada, excremento de animales domésticos (como perros, gatos, etc.). Tampoco aquello que no sea de origen vegetal como plásticos, metales o vidrios. A los cítricos conviene compostarlos de manera separada ya que contienen gran cantidad de ácidos.
  br
  br
  div.borde-rectangulo
    p 
      span(style='color:goldenrod;font-weight:bold') Humedad: 
    | Asegurarse de que no esté ni muy húmedo ni muy seco, sino los orgánicos no se van a descomponer. Si bien es aconsejable que tenga tapa, es importante revisar una vez por semana y aprovechar para revolver cada tanto con un palo o palita. Si tiene olor, está muy húmedo, agregar material seco. Si está muy seco, agregar material húmedo y un poquito de agua.
  br
  br

  p 
    span(style='color:green;font-size:125%') ¿Cuándo está listo? 
    | No hay un cronómetro para saber cuándo está listo: varía en cantidad de tiempo por el clima y la época del año (pueden ser de 2 a 6 meses).Te das cuenta cuando removés la tierra y tiene olor a bosque, se ve esponjosa y suave. 
  p Si fuiste agregando materiales a lo largo de mucho tiempo, se compostará a distinto ritmo. Así el compost está en diferentes niveles. Una opción es esperar hasta que esté todo listo o se puede zarandear para separar el compost en sus distintos estados (grueso, medio y fino). Es importante que conserves un poco de esta tierra para seguir compostando. 
  p Como sucede con todas las acciones que emprendemos hay un tiempo para aprender y probar. ¡No te desanimes si no te sale bien la primera vez! Ayudar en el proceso natural de conversión de los orgánicos en tierra nos devuelve satisfacción. Colaborar en la reducción de residuos y obtener abono orgánico para tus plantas devuelve el alimento a la tierra.



  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2hacer-tierra.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/hacer-tierra.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable