article.unselectable
  h4.black-box Ecología
  h3 Plantas en verano
  p.muted Empiezan los calores y el sol raja la tierra… ¿qué cuidados podemos tener con las plantas?
  p: img(src="../../images/plantasenverano.jpg", alt="imagen de plantas en verano", style="padding: 0px 0px 0px 20px")   

  p 
    span(style='color:olive;font-weight:bold') OJO: 
    | En esta época la gran mayoría de las plantas están en pleno crecimiento por lo que no es conveniente molestarlas con cambios de maceta o de lugar. 
  p 
    span(style='color:olive;font-weight:bold') ABONO: 
    | La preparación de la tierra ya fue realizada en los meses pasados, por lo que ahora sólo es conveniente agregar sólo un poco de abono si la planta no crece como debería o su floración parece débil. Siempre es conveniente hacerlo con el abono natural –Hecho en Casa- compuesto de restos de café o té, cáscaras de huevo y de verduras.
  p 
    span(style='color:olive;font-weight:bold') Frecuencia de riego: 
    | Con los calores empieza a ser necesario regarlas una mayor cantidad de veces, y hasta una vez por día. Siempre al caer el sol o por la mañana bien temprano. Los helechos –como algunas plantas de interior- pueden ser rociados con agua incluso varias veces al día.
  p.post-it-style 
    span(style='color:olive;font-weight:bold') CUIDADO: 
    | Las plantas resisten mejor una ligera sequía que una laguna de agua sobre su tierra
  br
  br
  p 
    span(style='color:olive;font-weight:bold') PLAGAS: 
    | Ya hablamos de plaguicidas naturales en el número anterior. Pero es cierto que en esta época aparecen con más énfasis gracias al calor y la humedad. Retirar hojas secas o flores marchitas puede mantener alejadas a algunas plagas. También limpiar las hojas con agua y jabón puede ser un mimo para la planta.
  p.pizarron Para tener en cuenta: No expongas directamente las plantas al sol durante mucho tiempo para que las altas temperaturas no provoquen quemaduras en sus hojas y raíces. Ponerlas en una zona fresca con algunos momentos de sombra les servirá.
  p 
    span(style='color:olive;font-weight:bold') TIP: 
    | Si hace mucho calor, conviene dejar sus platos con un poco de agua para que la planta pueda absorberla y se mantengan húmedas hasta el próximo riego.




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2plantasenverano.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/plantasenverano.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable