article.unselectable
  h4.black-box Ecología
  h3 Tu granito de arena puede ser muy grande
  p.muted La ciudad comenzó a pedirnos que le dediquemos 2 segundos para realizar la separación de residuos en origen… y era hora!
  p: img(src="../../images/Separar-para-reciclar.jpg", alt="imagen de granito de arena", style="padding: 0px 0px 0px 10px")   
  p.referencia por Jenny
  
  p La recolección diferenciada se está realizando de forma muy parcial y habrá que evaluar resultados. Pero es importante destacar que la concientización se está llevando acabo, ahora también, por parte de organismos oficiales y eso es un gran paso.

  p.post-it-style IMPORTANTE: Es tiempo de asumir que somos los responsables de los residuos que generamos y por ello, no debemos desentendernos
  br
  br
 
  p: span(style='color:green;font-weight:bold;text-transform: uppercase;')  Y podemos hacer más!... 
  p “Fabricar” ecoladrillos es una tarea que todos podemos realizar. Se trata de reutilizar los envoltorios plásticos, papel de aluminio, papeles altamente tinturados y/o plastificados de los productos que consumimos y botellas de bebidas de PET.

  p.borde-rectangulo OJO: NUNCA USES RESIDUOS ORGÁNICOS NI PILAS!

  p: span(style='color:palegreen;font-weight:bold;text-transform: uppercase;') ¿Cómo? 
  p Muy simple: En una botella limpia y seca, introducimos todos estos envoltorios (sin restos orgánicos) compactándolos muy bien a medida que la llenamos, tratando de que quede lo más duro posible. Una vez completa la botella, la cerramos con su tapa y listo, tenemos nuestro ecoladrillo!
 
  p.post-it-style Consultá los centros de acopio de tu zona en 
      a(href="https://www.dondereciclo.org.ar/", target="_blank") dondereciclo.org


  p: span(style='color:olive;font-weight:bold;text-transform: uppercase;') ¿Para qué? 
  p Primer beneficio inmediato: estamos compactando muchísimos residuos (ya vas a comprobar la cantidad que entra!), y conteniéndolos en un envase. De este modo se reduce el volumen de nuestros desechos y evitamos que puedan ser diseminados en la vía pública o vuelen en los basurales a cielo abierto.


  p.post-claro UTILIDAD: Es un ladrillo liviano, fácilmente trasportable, de material aislante térmico y acústico. Con estos ladrillos se puede construir! Desde canteros, bancos, a las paredes de una casa!
  br
  br

  p: span(style='color:green;font-weight:bold;text-transform: uppercase;') Comprometiéndote aún más, sumando muchos granitos de arena, podés:
  ul
    li Colaborar con proyectos que ya los están utilizando.
    li Destinar tus residuos reciclables separados por tipo de material a los diferentes centros de acopio donde se ocupan de su comercialización, consultá los de tu zona en donde reciclo.org. Los podés llevar o combinar para que pasen a retirarlos. También en los Puntos Verdes de la Ciudad o entregándolos  en mano a un recuperador urbano que trabaje por tu barrio.
    li Compostar tus residuos húmedos.

  p: span(style='color:lightgreen;font-weight:bold;;font-style:italic') Para pensar: 
  | Estas acciones te llevarán inevitablemente a tomar conciencia de la cantidad de residuos que generamos y lo que cuesta “deshacerse” de ellos. Imaginá el interminable trabajo que tiene la Naturaleza hoy en día!
  br
  br
  p: span(style='color:olive;font-weight:bold;text-transform: uppercase;') Un granito más que te ayudará en esta labor: 
  | Realizar compras responsables, evitar productos con exceso de embalaje, comprar lo necesario, llevar bolsas reutilizables.
  br
  br
  p.pizarron Para saber: La separación de residuos es fundamental para que muchos de estos puedan ser reutilizados o reciclado su material.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2granito-de-arena.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/granito-de-arena.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable