article.unselectable
  h4.black-box Reciclaje
  h3 ¿Reciclado de pilas?
  p: img(src="../../images/pilas-recargables.jpg", alt="imagen de pilas recargables", style="padding: 0px 0px 0px 50px")   

  p Control remoto de la tele, del aire, del equipo de audio; juguetes de los niños, radio portátil… son varios los objetos que conviven con nosotros y que llevan pilas. Pero, ¿qué  hacemos cuando ya no sirven más?
  p 
    span(style='color:limegreen;font-weight:bold') CUIDADO: 
    | Algunas pilas y baterías tienen compuestos químicos que, de ser manipulados incorrectamente, pueden afectar negativamente al ambiente y a los seres vivos. 
  
  p 
    span(style='color:olive;font-weight:bold') DATO: 
    | Según la página de la Secretaria de Ambiente, “en el caso del usuario que se encuentra en la Ciudad de Buenos Aires o Gran Buenos Aires, las pilas comunes y alcalinas pueden ser desechadas junto con la basura común. Esta basura domiciliaria es dispuesta en rellenos sanitarios pertenecientes al CEAMSE, y según informa dicho organismo, estos rellenos han sido diseñados con técnicas preparadas para recibirlas”. 
  
  p 
    span(style='color:green;font-weight:bold') Sabías que… 
    | las pilas enmarcadas dentro de las leyes de los Estados Unidos, Europa y Japón son libres de mercurio y pueden ser arrojadas a la basura común? Acá las que tienen certificación del INTI también pueden ser desechadas con nuestros residuos habituales.
  p.post-it-style IMPORTANTE: No acumular pilas viejas en casa… Estamos concentrando los riesgos.
  br
  br
  p 
    span(style='color:olive;font-weight:bold') ¿Y qué hago? 
    | Existen varios centros de recolección, tanto para pilas viejas como para baterías, en casi todos los barrios de la Ciudad de Buenos Aires mediante sus CGPC.  Podés buscar el más cercano ingresando a la página oficial del Gobierno de la Ciudad o a la de Ambiente de la Nación.
  
  p.post-claro 
    span(style='font-weight:bold') ELECCION: 
    | Lo mejor es optar por artefactos que no lleven pilas, pero de ser necesario es conveniente elegir las recargables que ya sabemos que no serán desechadas.
  br
  br
  p 
    span(style='color:olive;font-weight:bold') RECICLAJE: 
    | Existen contenedores que las llevan a una planta de reciclaje donde se separan los metales peligrosos del resto de materiales para ser reutilizados.




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsustentabilidad%2reciclaje-pilas.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/sustentabilidad/reciclaje-pilas.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable