article.tint-box.full-bleed
    h4 Nuestras Secciones
    p.muted Todas las notas
    ul
        li: a(href="../alimentacion/seccionalimentacion.html") alimentación
        li: a(href="seccionsalud.html") salud
        li: a(href="../deportes/secciondeportes.html") deportes
        li: a(href="../solidaridad/seccionsolidaridad.html") solidaridad    
        li: a(href="../alimentacion/seccionalimentacion.html") alimentación
        li: a(href="../sustentabilidad/seccionsustentabilidad.html") sustentabilidad
        li: a(href="../cosmetica/seccioncosmetica.html") cosmética
        li: a(href="../noticias/seccionnoticias.html") noticias
article
    .fb-page(data-href='https://www.facebook.com/revistavegetariana/', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
        .fb-xfbml-parse-ignore
            blockquote(cite='https://www.facebook.com/revistavegetariana/')
                a(href='https://www.facebook.com/revistavegetariana/') La Vegetariana
article
  a.twitter-timeline( data-lang='es' data-dnt="true" href='https://twitter.com/r_lavegetariana', data-widget-id='715980157085941761', data-tweet-limit='1') Tweets de @r_lavegetariana.
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");