article
    strong.verdeoscuro Solidaridad 
    span.muted | Valeria Manzi
    a(href="chanchito-vegano.html"): h3 Chanchito Vegano: Comida Solidaria
    .row
        .column.small-4             
            a(href="chanchito-vegano.html")  Leer más
        .column.small-12: hr