article.unselectable
  h4.black-box Salud
  h3 Curarse con alimentos
  p: img(src="../../images/alimentos-curan.jpg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 100px")   

  p Sabemos que la alimentación natural ayuda a mantener una vida más saludable. Lo que consumimos le da a nuestro organismo la posibilidad de hacer frente a diversos factores, pero… ¿es cierto que hay alimentos que no sólo previenen sino que curan? 

  p Se dice que el brócoli, la zanahoria y el ajo reducen de riesgo de cáncer. El tomate, además, ayuda a prevenir problemas de próstata e infartos de miocardio. Algunos tés reducen el riesgo de enfermedades coronarias y hasta el vino (en cantidad moderada, claro) contribuye a mantener la salud cardiovascular. Pero… además de prevenir ¿existen alimentos que curen enfermedades preexistentes?
  p Si partimos de la base de que hay alimentos que enferman, podemos inducir que existen los que curan. Veamos qué podemos curar con una alimentación saludable!
  

  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px') Fibras para el estreñimiento: 
    | Para regularizar el funcionamiento del intestino es recomendable su consumo, especialmente el salvado de trigo.
  
  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px') Pasas de Uvas y osteoporosis:
    | Favorecen la salud digestiva y reducen los niveles de colesterol. También combaten la osteoporosis y la anemia entre otras cualidades.
  
  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px') Perejil para las Infecciones urinarias: 
    |  Puede ser mediante un té o incluirlo en las comidas. 
  
  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px') Jengibre contra las náuseas: 
    |  Además reduce la inflamación en la artritis reumatoide.
  


  p: span(style='color:forestgreen; font-weight:bold;') ¿Evitar las cirugías?
  p Hay quienes padecen enfermedades crónicas que pueden derivar en una cirugía. Pues bien, existen dietas nutricionales que ayudan a evitarlas. Después de todo, es la alimentación y nuestros hábitos los que modifican a nuestro cuerpo. Claro que siempre deben estar controlados por profesionales.

  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px') Curry contra la bronquitis: 
    |  También sirven los alimentos picantes que ayudan a las mucosas a segregar más líquidos y fluidificar la mucosa espesa… casi siempre difícil de expectorar. 
  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px') Espinacas contra el resfrío: 
    |   Mantienen las membranas húmedas y saludables, y los gérmenes no se pueden alojar en ellas.
  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px') Vino para la diarrea: 
    |  Los medicamentos tienen entre sus componentes jarabe de bismuto, un compuesto que está presente en el vino tinto y blanco. Beber un vaso resulta tan eficaz como tomar un remedio comprado en farmacia. 
  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px') Jugo de tomate para evitar la resaca: 
    |  Los vómitos reducen los niveles de potasio, calcio y sodio lo que produce agotamiento y malestar… el jugo de tomate contiene todos esos nutrientes y, además, agua para compensar la pérdida de fluidos. 


  p.post-opcion
    “Que los alimentos sean tus remedios” dice un viejo refrán y hoy la ciencia confirma e incluye las propiedades de los alimentos en los medicamentos de laboratorio.
  
  p 
    span(style='color:orangered; font-weight:bold;') Además:

  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px')  Ananá: 
    |  Es un excelente laxante natural, ayuda a combatir el colesterol, el estrés, la anemia, la artritis y la intoxicación severa.
  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px')  Mandarina: 
    |  Es un poderoso digestivo natural y ayuda a disminuir el colesterol. 
  p 
    span(style='color:whitesmoke; background:orangered; font-weight:bold; padding:5px')  Canela:
    |  Sirve como antibiótico. Además, un cuarto de cucharada por día mejora la función de la insulina y controla el nivel de azúcar.
 


  
  
  p: span(style='color:crimson; font-weight:bold;') ¡OJO! Estos consejos no suplantan al médico.


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsalud%2curarse-alimentos.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/salud/curarse-alimentos.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable