article.unselectable
    h4.black-box Salud
    h3  Huesos fuertes
    p.muted Si estás pensando en dejar los lácteos o disminuirlos te damos algunas opciones para evitar la pérdida de calcio.
    p: img(src="../../images/strong women.jpg", alt="huesos fuertes", style="padding: 0px 0px 0px 100px")     

    div.post-it-style
       p: span(style='color:red;font-weight:bold') Es recomendable evitar:
        p • Las dietas ricas en proteínas y sodio
        p • La Cafeína
        p • Fumar
    br
    br
    div.borde-rectangulo(style='border-style: dashed')
        p: span(style='color:white;background:DarkGreen;padding:10px') Fuentes de Calcio Vegetales
        p Amapola, Lentejas, Sésamo, Chía, Garbanzos, Nueces, Pasas de Uva, Almendra
    br
    br
    p.pizarron Sabías que… las proteínas de origen animal tienen más probabilidades de producir pérdida de calcio que las proteínas de origen vegetal.
    
    div.post-it-style
      p  
        span(style='color:red;font-weight:bold') Pero además...
      p - Hacer ejercicio
      p - Exponerse al sol en las horas recomendables
      p - Consumir gran cantidad de frutas y verduras (especialmente las de hojas verdes)
    br
    br 
    p 
        span(style='color:blue;font-weight:bold') ¿Por qué necesitamos del Calcio?
        |  Además de beneficiar a nuestros huesos, el calcio ayuda a la mejora de las contracciones musculares y la transmisión de impulsos nerviosos, así como a la coagulación de la sangre…

    p: span(style='color:white;background:DarkGreen;padding:10px') Problemas ante la falta de calcio:
    p • Osteoporosis, agrietamiento y pérdida de piezas dentales.
    p • Musculatura flácida
    p • Problemas nerviosos con depresión o insomnio
    p • Calambres
    p • Puede acelerar la artritis y el reumatismo
    p • Deficiencias hormonales
    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            
            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsalud%2huesos-fuertes.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/salud/huesos-fuertes.html', data-layout='button')

        .column.small-8
            ul.inline-list
                // li: span.fi-pricetag-multiple
                // li: a(href="") salud