article.unselectable
  h4.black-box Nota de Tapa
  h3 Leches vegetales
  p.muted ¿Un desayuno sin leche de vaca? No sólo es posible sino que las opciones son riquísimas. Veamos algunas alternativas vegetarianas a la leche:
  p: img(src="../../images/leche-vegetales.jpg", alt="imagen de leches vegetales", style="padding: 0px 0px 0px 20px")   

  p La de soja es la que vemos con más frecuencia en las estanterías de los comercios, pero existe una gran variedad –incluso más saludables y ricas- que se pueden preparar con técnicas simples en casa. 
  p.post-it-style VENTAJA: La leche de vaca puede producir intolerancia alimentaria (lactosa) o alergias (caseína) en personas susceptibles. Además, son mucho más fáciles de digerir.
  br
  br
  p 
    span(style='color: darkolivegreen; font-weight:bold; font-style:oblique ') OJO: 
    span(style='font-style:oblique ')  No todas las bebidas vegetales tienen los mismos nutrientes. Por eso hay que aprender a elegir la mejor opción para cada uno.

  p 
    span(style='color: brown; font-weight:bold; text-transform:uppercase ') Variedades: 
    | Pueden ser a base de legumbres (soja), de cereales (arroz, avena, trigo, lino) y de frutos o frutos secos (coco, almendras, avellanas).
  ul 
    li 
      span(style='color: darkolivegreen; font-weight:bold;') 1.  A base de cereales y legumbres: 
      | Tienen un elevado contenido en fibra, vitaminas y minerales, y no contienen colesterol ni lactosa. Por ejemplo la leche de avena contiene vitamina E, ácido fólico, oligoelementos y minerales los cuales ayudan a prevenir y combatir el cáncer y las enfermedades coronarias.
    li 
      span(style='color: darkolivegreen; font-weight:bold;')  2.  A base de frutos: 
      | Son muy nutritivas y completas por ser una fuente de ácidos grasos de calidad y calcio.

  p 
    span(style='color: brown; font-weight:bold; text-transform:uppercase ') Conservación: 
    | Para conservarlas más tiempo frescas se recomienda guardarlas en la heladera tapadas. Pero 
    span(style='color: olive; font-weight:bold;') OJO! 
    | Las leches caseras como no tienen ningún proceso químico sólo se pueden conservar -en la heladera- hasta 48 hs…
  p.post-it-style TIP: Las leches vegetales se sedimentan luego de preparadas, se sugiere siempre revolver la preparación antes de servir, de esta manera se conservará y se aprovechará mejor el contenido.
  br
  br
  p 
    span(style='color: brown; font-weight:bold; text-transform:uppercase ') Para preparaciones: 
    | Para tortas y postres que suelen llevar leche es recomendable usar la leche de Avena o de frutos secos como Almendras o Nueces. Sobre todo la de avena tiene una buena consistencia para cremas y postres en general y no altera en gran medida el sabor. En cambio, ojo con la preparaciones saladas, si las leches son compradas –en lugar de fabricadas por nosotros mismos- suelen ser endulzadas (incluso las que dicen Sin Azúcar) y puede que la mayonesa vegana salga dulce!!!!
  p: span(style='color: white; font-weight:bold; text-transform:uppercase ; padding:5px; background: brown') Leche de Soja 
  p Se produce a partir de las semillas de soja con agua. 
  p 
    span(style='color: olive; font-weight:bold;') Propiedades: 
    | Son muy parecidas a la de vaca. Aunque poseen  poco Calcio, las comerciales están enriquecidas. Es rica en proteínas, no contiene grasas saturadas, es baja en calorías; tiene vitamina A, hierro, folatos, vitamina B12, lecitina, potasio y magnesio y es muy buena para el corazón…
  p 
    span(style='color: olive; font-weight:bold;') Desventajas: 
    | Hay quienes no recomiendan su ingestión en grandes porciones. Dicen que pueden inhibir la absorción de minerales y proteínas, y recomiendan que embarazadas y niños de 5 años consulten con sus médicos nutricionistas.

  p: span(style='color: white; font-weight:bold; text-transform:uppercase ; padding:5px; background: brown')  Leche de Arroz
  p Se hace con arroz integral y agua, y contiene las mismas calorías que la leche semidescremada de vaca… aunque muchas menos proteínas.
  p 
    span(style='color: olive; font-weight:bold;') Propiedades: 
    | Es baja en grasas, no tiene grasas saturadas, es rica en fósforo, no aumenta el colesterol y es de fácil digestión.
  p 
    span(style='color: olive; font-weight:bold;') Desventajas: 
    |Es alta en calorías y baja proteínas. Posee muchos carbohidratos. 
  p 
    span(style='color: darkolivegreen; font-weight:bold; font-style:oblique ') OJO: 
    span(style='font-style:oblique ') Tiene un alto contenido de azúcar por lo que deben prestar atención los diabéticos.
  
  p: span(style='color: white; font-weight:bold; text-transform:uppercase ; padding:5px; background: brown')  Leche de Almendras
  p Su preparación es a base de almendras molidas y agua. Y aunque las almendras son ricas en calcio, no lo es la leche de almendras. 
  p 
    span(style='color: olive; font-weight:bold;') Propiedades: 
    | Es rica en vitaminas y minerales, contiene riboflavina, vitamina B12, D y E, ácido oleico y zinc.
  p 
    span(style='color: olive; font-weight:bold;') Desventajas: 
    | Tiene bajo contenido proteico.
  
  p: span(style='color: white; font-weight:bold; text-transform:uppercase ; padding:5px; background: brown')  Leche de Coco
  p Se prepara con la pulpa del coco, no con su agua. 
  p 
    span(style='color: olive; font-weight:bold;') Propiedades: 
    | Tiene grasas fáciles de digerir y es baja en colesterol.
  p 
    span(style='color: olive; font-weight:bold;') Desventajas: 
    | Es muy baja en calcio, alta en calorías, baja en proteínas y alta en grasas saturadas.

  p: span(style='color: chocolate; font-weight:bolder;text-decoration: underline') RECETA: Leche de Almendras
  p A modo de ejemplo les dejamos la receta para hacer bebida de almendras. También funciona igual con nueces!
  p: span(style='color: olive; font-weight:bold;')  Ingredientes para 1 litro:
  p • Un puñado de Almendras.  Si se desea más espesa agregar frutos, de lo contrario disminuirlos.
  p •  1 litro de Agua
  p Para que quede más sabroso: 1 cucharada sopera de Aceite de Oliva, 4 cucharadas de Azúcar o sus reemplazos, y 1/2 cucharadita de Vainilla.
  p.post-opcion Preparación:
  p • Ponerlas en remojo por unas 8 horas para activar sus propiedades. 
  p • Pelar las almendras (se las puede pasar por agua hirviendo para que sea más fácil) y colocarlas en la licuadora. 
  p • Agregar el agua, y si se desea el aceite, el endulzante y la vainilla. Licuarlo bien hasta que queden bien desechas.
  p • Colarlo en un colador fino para que no queden residuos.
  p.pizarron IMPORTANTE: Casi todas las bebidas naturales envasadas poseen agregado de calcio para hacerlas un alimento más rico y nutritivo. De cualquier manera, estas bebidas no son reemplazo de la leche de vaca –salvo que seas vegano o alérgico a la lactosa- sino bebidas que aportan más o menos distintas propiedades: ninguna contiene los mismos minerales ni vitaminas que la leche animal.




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsalud%2leches-vegetales.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/salud/leches-vegetales.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable