article.unselectable
  h4.black-box Nota de Tapa
  h3 Nutracéuticos: verdades y mitos
  p: img(src="../../images/nutraceuticos.jpg", alt="imagen de nutraceuticos", style="padding: 0px 0px 0px 50px")   

  p ¿Son medicamentos de origen natural? ¿productos naturales con acción terapéutica? ¿alimentos funcionales o suplementos? ¿comida que cura? Existen voces encontradas en cuanto al término, en cuanto a su utilidad y a la necesidad de consumir este tipo de alimentos. Además, hay quienes defienden a los nutracéuticos frente a los alimentos funcionales o viceversa, y hay los que los usan como sinónimo. Echemos un vistazo para despejar algunas dudas:
  p: span(style='font-style: oblique; font-size:105%;line-height: 0.1;letter-spacing: 0.1px; color: silver') 
    span(style='color: darkorange') Definición: 
    | Palabra derivada de nutrición y farmacéutico, que hace referencia a todos aquellos “alimentos” que poseen un efecto beneficioso sobre la salud humana.
  p Pero… Un nutracéutico no es un alimento en sí, sino un producto que contiene algunos componentes del alimento funcional de forma más o menos aislada y concentrada.

  p 
    span(style='color: olivedrab;font-weight:bold') Usos farmacéuticos: 
    | Por ejemplo, en muchas dietas vegetarianas no llevadas correctamente se busca suplir la falta de Omega 3 con alimentos enriquecidos artificialmente. Pueden venir en envase “las propiedades” del ajo negro, o del brócoli para nombrar algunos alimentos que poseen nutrientes benéficos.
  p
    span(style='font-style: oblique; font-size:105%;line-height: 0.1;font-weight:bold;color: darkorange') ¿Suplementos no naturales?: 
    span(style='font-weight:thin;color: darkorange;font-style: oblique;')  Pueden ser cápsulas, píldoras, comprimidos, polvo, etc… pero su origen es biológico y natural.
  
  p 
    span(style='color: darkolivegreen; font-weight:bold') Dato: 
    | Los nutracéuticos pueden utilizarse para la prevención y/o el tratamiento de enfermedades.

  p.post-it-style Orígenes: El término fue acuñado en 1989 por el Dr. Stephen DeFelice, Presidente de la Fundación para la Innovación en Medicina, de los EE.UU.

  p 
    span(style='color: darkolivegreen; font-weight:bold') Ojo: 
    | Los alimentos funcionales no curan por sí solos. Si una persona sana sigue una dieta equilibrada, ya ingiere todos los nutrientes necesarios.


  p 
    span(style='color: darkorange; font-weight:bold') No es lo mismo: 
    | Alimentos nutracéuticos, Alimentos funcionales, Complementos alimenticios o suplementos dietéticos, Alimentos enriquecidos… aunque comúnmente se usan como sinónimos.


  p ¿En qué se diferencia un alimento nutracéutico de uno funcional?
  p El alimento funcional debe tener la apariencia de un alimento normal. Los nutracéuticos pueden tener la apariencia de un medicamento.
  
  p.post-verde Cuidado: Muchas veces la información en las etiquetas puede inducir a error ya que se atribuyen propiedades medicinales a los alimentos. En sus envases se puede leer: “disminuye el colesterol” o “disminuye el riesgo de padecer cáncer”.
  p.post-it-style A tener en cuenta: Es necesario siempre contar con el asesoramiento de un profesional de la salud para llevar una dieta correcta para cada persona.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsalud%2nutraceuticos.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/salud/nutraceuticos.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable