article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="estres-cuidados-extremos.html"): h3 Estrés, cuidados extremos.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Volvimos a la rutina anual por lo que es clave mantener nuestro eje… a pesar de todas las contingencias externas...

    .row
        .column.small-4           
            a(href="estres-cuidados-extremos.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="avena.html"): h3 Avena el cereal estrella .
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Qué es? Una planta… o mejor dicho un cereal como el arroz, el trigo y el maíz.

    .row
        .column.small-4           
            a(href="avena.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="tomar-agua.html"): h3 La importancia de tomar agua 
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Para que nuestro cuerpo funcione es importante consumir líquidos… pero no cualquiera! 

    .row
        .column.small-4           
            a(href="tomar-agua.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="huesos-fuertes.html"): h3 Huesos fuertes.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Si estás pensando en dejar los lácteos o disminuirlos te damos algunas opciones para evitar la pérdida de calcio.

    .row
        .column.small-4           
            a(href="huesos-fuertes.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="masaje-zen.html"): h3 Masaje Zen Shiatsu La terapia japonesa del bienestar.
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable El ZEN SHIATSU es un tratamiento basado en la teoría de los 12 meridianos principales de acupuntura y otros dos extraordinarios.

    .row
        .column.small-4           
            a(href="masaje-zen.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="repelenteecologico.html"): h3 Repelente de Mosquitos ecológico
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Empiezan los primeros calores y con ellos los molestos insectos. Echarles un aerosol industrial que de tan tóxico nos deja sin respirar...

    .row
        .column.small-4           
            a(href="repelenteecologico.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="comolavarvegetales.html"): h3 Cómo lavar vegetales
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Por más orgánica que elijamos a nuestras frutas y verduras...

    .row
        .column.small-4           
            a(href="comolavarvegetales.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="nutraceuticos.html"): h3 Nutracéuticos: verdades y mitos
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Son medicamentos de origen natural? ¿productos naturales con acción terapéutica? ¿alimentos funcionales o suplementos? 

    .row
        .column.small-4           
            a(href="nutraceuticos.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="dime-que-comes.html"): h3 Dime qué comes…
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable La relación entre los alimentos y las emociones es un tema recurrente a lo largo de los siglos. Sin embargo nos lo olvidamos y volvemos a padecer...

    .row
        .column.small-4           
            a(href="dime-que-comes.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="leches-vegetales.html"): h3 Leches vegetales
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable ¿Un desayuno sin leche de vaca? No sólo es posible sino que las opciones son riquísimas. Veamos algunas alternativas vegetarianas a la leche

    .row
        .column.small-4           
            a(href="leches-vegetales.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="curarse-alimentos.html"): h3 Curarse con alimentos
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Sabemos que la alimentación natural ayuda a mantener una vida más saludable. Lo que consumimos le da a nuestro organismo la posibilidad de hacer frente a diversos factores, pero...

    .row
        .column.small-4           
            a(href="curarse-alimentos.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="alimentos-si.html"): h3 Alimentos Sí!
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Hay mitos que dicen que una dieta vegetariana es perjudicial para la salud. Veamos por qué es todo lo contrario...

    .row
        .column.small-4           
            a(href="alimentos-si.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="alimentos-no.html"): h3 Alimentos NO
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable En la actualidad se comercializan productos con aditivos que deberían estar prohibidos para el consumo o, al menos, controlados. Muchos tienen un alto ...

    .row
        .column.small-4           
            a(href="alimentos-no.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr


article
    strong.verdeoscuro Notas 
    span.muted | Salud
    a(href="salud-mocos.html"): h3 Mocos… nuestro enemigo de otoño
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Es cierto, el clima no ayuda. Fríos afuera, calor adentro y viceversa… ni hablar de las lluvias que nos sorprenden...

    .row
        .column.small-4           
            a(href="salud-mocos.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr