article.unselectable
  h4.black-box Nota
  h3 Alimentos Sí!
  p: img(src="../../images/alimentos-buenos.jpg", alt="imagen de alimentos si", style="padding: 0px 0px 0px 0px")   

  p Hay mitos que dicen que una dieta vegetariana es perjudicial para la salud. Veamos por qué es todo lo contrario:

  p: span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Corazón:
  p No hay casi enfermedades cardíacas en los vegetarianos. Las dietas sin carne hacen que se posean niveles mucho más bajos de colesterol… además de ser bajas en grasas saturadas.
  p
   span(style='color:olivedrab; font-weight:italic;font-size:125%') Alimentos saludables: 
   |  Cacao, cúrcuma, ajo…
  
  p: span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Presión Arterial:
  p Quienes consumen una dieta vegetariana poseen una presión sanguínea más baja. De hecho, cuando los pacientes hipertensos empiezan a alimentarse a base de vegetales disminuyen considerablemente su medicación. Esto es porque los vegetales son ricos en potasio, un mineral diurético que ayuda a regular los niveles de sodio en la sangre evitando las subidas de tensión.
  p 
    span(style='color:olivedrab; font-weight:italic;font-size:125%') Alimentos saludables: 
    | Bananas, ajo, limón, legumbres…

  p: span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Diabetes:
  p Los carbohidratos complejos (que se encuentran sólo en alimentos vegetales) y una alimentación baja en grasas son lo mejor para controlar la diabetes. 
  p 
    span(style='color:olivedrab; font-weight:italic;font-size:125%') Alimentos saludables: 
    | granos integrales, naranjas, vegetales de hojas verdes…

  p.pizarron Siempre que se decide cambiar la dieta es preferible hacerlo junto a un profesional.

  p: span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Huesos:
  p El aporte mineral por parte de los vegetales es alto y brindan grandes dosis de calcio para mantener huesos fuertes. A esto hay que sumar la vitamina D que se encarga de fijar el calcio en los huesos. 
  p 
    span(style='color:olivedrab; font-weight:italic;font-size:125%') Alimentos saludables: 
    | Hortalizas de hoja verde, legumbres, naranjas...

  p: span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Cáncer
  p Las frutas y verduras son alimentos ricos en antioxidantes y vitaminas que ayudan a proteger las células del envejecimiento prematuro previniendo así la aparición de ciertos tipos de cáncer como el de colon o mama. ¿Por qué? Las dietas vegetarianas son más bajas en grasas y más ricas en fibra.
  p 
    span(style='color:olivedrab; font-weight:italic;font-size:125%') Alimentos saludables: 
    | Aceite de oliva, algas, alimentos ricos en fibra, cúrcuma, ajo…


  

  p: span(style='color:peru; font-weight:italic;font-size:125%') Desde nuestros inicios son las plantas las que nos brindan todo lo necesario para combatir enfermedades y estar saludables. No es casual que la industria farmacéutica las use entre sus componentes protagonistas para sus medicamentos.

  p.post-it-style Una dieta vegetariana ayuda para prevenir la obesidad.

  br
  br
  div.borde-rect-orange 
    h4 Plantas medicinales: Algunos de sus beneficios

    p 
      span(style='color:darkorange; font-weight:italic') Achicoria: 
      | Favorece la digestión, anemia, insuficiencia hepática, circulación.

    p 
      span(style='color:darkorange; font-weight:italic') Anis: 
      | Reduce gases, acidez, enfermedades respiratorias.

    p 
      span(style='color:darkorange; font-weight:italic') Castañas: 
      | Problemas de próstata, varices, celulitis.

    p 
      span(style='color:darkorange; font-weight:italic') Cúrcuma: 
      | Antiinflamatorio, artritis y soriasis.

    p 
      span(style='color:darkorange; font-weight:italic') Raíz de Ginseng: 
      | Insomnio, fatiga, colesterol, diabetes.

    p 
      span(style='color:darkorange; font-weight:italic') Jengibre: 
      | Anti vomitivo, circulación, corazón, sinusitis.

    p 
      span(style='color:darkorange; font-weight:italic') Limón: 
      | Obesidad, edemas, resfriados, hipertensión.
  br
  br

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsalud%2alimentos-si.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/salud/alimentos-si.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable