article.unselectable
    h4.black-box Salud 
    h3 La importancia de tomar agua    
    p: img(src="../../images/slide3.jpg", alt="avena", style="padding: 0px 0px 0px 10px")     
    p.muted Para que nuestro cuerpo funcione es importante consumir líquidos… pero no cualquiera! El agua es indispensable.
    p.post-it-style 
     span(style='color:aquamarine;font-weight:bold') IMPORTANTE: 
     | Los riñones eliminan el agua junto con los residuos, es la forma natural que encuentra el cuerpo para depurarse. Lo mismo sucede con las heces y la transpiración…
    br
    
    p 
        span(style='color:LightSeaGreen ') Curiosidad:
        span(style='color:blue')  Cuando una persona está sentada la fuerza de gravedad retiene el agua en la parte inferior de su cuerpo. Por eso es mas común ir al baño después de estar acostados... o por las noches!

    p: span(style='color:white;background:DarkCyan;padding:10px') Dosis mínimas de agua y su aprovechamiento:

    p   
        span(style='color:LightSeaGreen ') • 2 vasos 
        | al levantarnos activan los órganos internos.
    p   
        span(style='color:LightSeaGreen ') • 1 vaso 
        | antes de bañarnos disminuye la tensión arterial.
    p   
        span(style='color:LightSeaGreen ') • 1 vaso 
        |media hora antes de las comidas ayuda a la digestión.
    p   
        span(style='color:LightSeaGreen ') • 1 vaso 
        |antes de acostarnos dicen que puede evitar un accidente cerebro vascular o cardíaco. Además de calambres en las piernas durante la noche.
    
    p 
        span(style='color:LightSeaGreen;border-right:solid 5px orange;border-left:solid 5px orange') Sabías que…  el organismo humano no tiene un control de saciedad con las bebidas como con las comidas? Por eso es preferible consumir agua y no cualquier otra infusión azucarada o con sal como los caldos.
    
    p 
       span(style='color:Blue ') Para tener en cuenta: 
       | La aparición de la sed es porque ya estamos deshidratados y empieza a mermar el rendimiento físico y mental. 
       | Hay que tomar agua antes de que aparezca!
    br
    br


    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsalud%2tomar-agua.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/salud/tomar-agua.html', data-layout='button')

        .column.small-8
            ul.inline-list
                // li: span.fi-pricetag-multiple
                // li: a(href="") salud