article.unselectable
  h4.black-box Nutrición
  h3 Alimentos NO
  p: img(src="../../images/alimentos-malos.jpg", alt="imagen de alimentos no", style="padding: 0px 0px 0px 10px")   

  p En la actualidad se comercializan productos con aditivos que deberían estar prohibidos para el consumo o, al menos, controlados. Muchos tienen un alto contenido de grasas saturadas, azúcar y sal… tres condimentos que ponen riesgo la salud. Generalmente estas sustancias químicas son adicionadas en los alimentos procesados… pero pueden ser las responsables de alergias, enfermedades, mutaciones genéticas y demás alteraciones en la salud. 
  p Aparecen en las etiquetas con nombres extraños y como si fueran necesarias para mantener el color o el sabor de lo que consumimos. Otras veces, directamente son lo que consumimos con un poco de presa a favor…
  p.post-it-style Comprar localmente: Habrá menos posibilidades de que estén genéticamente modificados que la comida importada o industrial.
  br
  br
  p
   span(style='color:whitesmoke;background:greenyellow;font-weight:bold;padding:8px') Harinas refinadas: 
   |  Al ser procesadas para hacer pan o galletas, las semillas se exponen a una temperatura tan alta que remueven hasta el 90% del contenido nutricional de la fibra. Además, las harinas están hechas con cereales provenientes de cultivos modificados genéticamente:
  p 
    span(style='color:olivedrab; font-weight:italic;font-size:125%;font-weight:bold')• Maíz: 
    | Es el segundo cereal con mayor modificación genética por lo que su consumo puede traer más peligros que ventajas. Pueden provocar resistencia a la insulina, diabetes, hipertensión arterial y aumento de peso.
  p 
    span(style='color:olivedrab; font-weight:italic;font-size:125%;font-weight:bold')• Trigo: 
    | La calidad del grano ya está deteriorada gracias a su alto contenido de insecticidas. Puede producir enfermedades cardiacas, cataratas, diabetes, artritis y acumulación de grasa entre otras.
  p 
    span(style='color:olivedrab; font-weight:italic;font-size:125%;font-weight:bold')• Soja: 
    | No existe hoy soja en estado puro ya que fue genéticamente modificada y posee uno de los índices más altos de pesticidas. Dicen varios estudios que su consumo puede bloquear la absorción de minerales como el calcio, magnesio, cobre, hierro y zinc. 
  
  p.borde-rect-green 
    span(style='color:green;font-weight:bold') Alimentos Genéticamente Modificados: 
    | Son cultivos, animales y otros productos alimenticios cuyos genes fueron modificados para crear razas y variedades de plantas y animales que no se producen de forma natural. Ya hay países que prohíben su consumo y otros que obligan a estos productos a ser etiquetados. Brasil y Paraguay tienen restricciones sobre los AGM.

  p 
    span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Colorantes artificiales: 
    |  Están en postres, refrescos o pastelería industrial. Varios estudios dicen que pueden producir comportamientos hiperactivos y déficit de atención en niños. En el caso de los niños- y claro que también en los adultos- es recomendable no consumir bebidas gaseosas, y comer galletitas o postres orgánicos.

  p 
    span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Aceites Vegetales: 
    | Son altamente procesados y cuando se consumen en grandes cantidades pueden oxidar el colesterol bueno y convertirlo en malo. El aceite de coco es preferible para cocinar –ya que no se modifica-, mientras que el de oliva es recomendable comerlo crudo.
  p.post-it-style Siempre que podamos evitar el consumo de productos procesados, industrializados y con aditivos, nuestra salud mejorará.
  br
  br
  p 
    span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Benzoato de sodio: 
    |  Se usa en pequeñas cantidades para preservar los alimentos frescos. Puede estar en manzanas, arándanos, frutillas… También se lo encuentra en salsas y bebidas. Puede causar alergias y asma. Conviene consumir frutas de estación y salsas de tomate hechas por nosotros mismos.

  p 
    span(style='color:whitesmoke;background:greenyellow; font-weight:bold;padding:8px') Glutamato monosódico: 
    | Se lo puede encontrar en salsas de tomate y salsas de soja entre otros. Es el causante de producir retención de líquidos y hasta cálculos renales si se lo consume en exceso. 

  p.post-it-style En una buena dieta no importan la cantidad de calorías, sino la calidad de esas calorías.

  br
  br

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsalud%2alimentos-no.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/salud/alimentos-no.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable