article.unselectable
  h4.black-box Salud
  h3 Repelente de Mosquitos ecológico
  p: img(src="../../images/repelente-eco.jpg", alt="imagen de repelente ecológico", style="padding: 0px 0px 0px 20px")   

  p Empiezan los primeros calores y con ellos los molestos insectos. Echarles un aerosol industrial que de tan tóxico nos deja sin respirar, o desempolvar la manopla papa moscas que deja cadáveres donde quiera que miremos no son las mejores opciones. Ni hablar de los niños pequeños y las ganas de jugar afuera, donde el pasto es un criadero, mucho menos ese zumbido que a la hora de dormir no nos deja pegar un ojo… por eso, acá les brindamos algunas recetas para empezar la primavera de la mejor forma posible.
  p.pizarron Otras opciones: Se pueden hacer repelentes con Manzanilla previamente lavada. O aceite de lavanda mezclado con crema para cuerpo. O con citronela.
  p.post-opcion ¿Qué necesitamos? 
  p: span(style='font-style: oblique') Una botella de alcohol, medio frasco de aceite orgánico para bebé y 30 clavos de olor. 
  p.post-verde ¿Cómo? Hay que dejar todo junto a reposar por unas horas, al menos 2. 
  p 
    span(style='color: darkolivegreen; font-weight:bold') Consejo: 
    | Guardar en un frasco de vidrio cerrado.
  p Y ahora… A frotarse el cuerpo con un algodón embebido ¡El aroma es delicioso!
  
  p.post-opcion  Para bebés
  p Sabemos que la piel de los más chiquitos es un tema a la hora de defenderlos de picaduras. De hecho, casi ningún producto industrial es para menores de 2 años. Para ellos podemos mezclar: 
  p: span(style='color: darkolivegreen; font-weight:bold') • 100ml del aceite 
  p: span(style='color: crimson; font-weight:bold') • 20 gotas de esencia de geranio 
  p: span(style='color: darkolivegreen; font-weight:bold') • 20 gotas de esencia de albahaca

  p 
    span(style='color: darkorange; font-weight:bold') También… 
    |  la citronela es salvadora. Existen productos en nuestros almacenes naturales y herboristerías.
  p 
    span(style='color: darkolivegreen; font-weight:bold') El dato: 
    |  Si tenemos algunas de las plantas que nombramos cerca de ventanas y puertas ya los estaremos ahuyentando.
  p: span(style='color: darkgreen; font-weight:bold') Cuidado! Cuando frotes, no dejes que entre en contacto con ojos, nariz y boca.



  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fsalud%2repelenteecologico.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/salud/repelenteecologico.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable