.row
  .column.small-6.medium-7
    a(href="../index.html")
      img.logo(src="../images/logo.png", alt="logo de la vegetariana")
    
  .column.small-6.medium-5
    .fila1
      a(href="https://www.facebook.com/revistavegetariana", target="_blank")
          img.iconosSociales(src="../images/FacebookIcon.png", alt="logo de facebook")
      a(href="https://twitter.com/r_lavegetariana", target="_blank")
          img.iconosSociales(src="../images/TwitterIcon.png", alt="logo de twitter")  
      a(href="https://instagram.com/revistavegetariana/", target="_blank")
          img.iconosSociales(src="../images/InstagramIcon.png", alt="logo de facebook")