article.tint-box.full-bleed: a(href="revistas/la-revista.html")
	h4.black-box La Revista
	img(src="images/tapa14.jpg", alt="revista número 14")
	h3  Edición Impresa. 
	p.muted Podés ver aquí nuestras ediciones impresas

article
	.row.collapse
		.column.small-12
			a(href="http://www.almacenpurista.com/", target="_blank"): img(src="images/almacen_purista.png", alt="banner link de almacen purista")
	.column.small-12: hr

article
	h4.black-box Recetas
	.row.collapse
		.column.small-4
			img(src="images/VEG 14recetaMINI.jpg", alt="", style="padding: 0px 10px 10px 0px")
		.column.small-8
			a(href="recetas/vianda-vegetales-legumbres.html"): strong Vianda Nutritiva de Vegetales y Legumbres
			p Por Alvaro Latorre Prado, Chef La Orgánica  
	.row.collapse
		.column.small-4
			img(src="images/panettone112015.jpg", alt="", style="padding: 0px 10px 10px 0px")
		.column.small-8
			a(href="recetas/panettone-integral.html"): strong Panettone Integral para las Fiestas
			p Por Alvaro Latorre Prado, Chef La Orgánica  
	.row.collapse
		.column.small-4
			img(src="images/VEG 12recetaMINI.jpg", alt="", style="padding: 0px 10px 10px 0px")
		.column.small-8
			a(href="recetas/cazuela-mar-vegana.html"): strong Cazuela de mar vegana
			p Por Alvaro Latorre Prado, Chef La Orgánica
	.row.collapse
		.column.small-4
			img(src="images/VEG 11recetaMINI.jpg", alt="", style="padding: 0px 10px 10px 0px")
		.column.small-8
			a(href="recetas/tarta-calabaza-espinaca.html"): strong Tarta de calabaza y espinaca
			p Por Alvaro Latorre Prado, Chef La Orgánica
	.column.small-12: hr

article
	h3  Y Además...
	p.black-box Noticias
	a(href="secciones/noticias/agenda-ferias-bsas-afines.html"): strong  Agenda Ferias de Buenos Aires
	p.muted.unselectable Calendario de ferias y mercados en abril y mayo en la ciudad.

	p.black-box Noticias 
	a(href="secciones/noticias/serievegana.html"): strong  Bendita y León ¿una serie vegana?
	p.muted.unselectable ¡Sí, se trata de la primera serie web vegana en español! 

