article
    // slider
    div
        ul#featured.example-orbit-content(data-orbit='')
          li(data-orbit-slide='headline-1')
            a(href="secciones/nutricion/mas-bueno-que-el-pan.html" data-caption="#htmlCaption"): img(src="images/harinas-slide1-14.jpg", alt="imagen de harinas")
            div.orbit-caption              
              h3 ¿Más bueno que el pan?              
              h4 Mitos y verdades de la harina         
          li(data-orbit-slide='headline-2')
            a(href="secciones/salud/estres-cuidados-extremos.html" data-caption="#htmlCaption"): img(src="images/stress-slide2-14.jpg", alt="imagen de estres")
            div.orbit-caption               
              h3 Estrés
              h4 Cuidados Extremos                      
          li(data-orbit-slide='headline-3')
            a(href="secciones/sustentabilidad/bajar-costos-energia.html" data-caption="#htmlCaption"): img(src="images/save-energy-slide3-14.jpg", alt="imagen de bajar costos energía")
            div.orbit-caption                
              h3 ¿Cómo bajar costos en la energía?... 
              h4 y de paso colaboramos con el medio ambiente          
          li(data-orbit-slide='headline-4')
            a(href="mapa/mapa-vegetariana.html" data-caption="#htmlCaption"): img(src="images/mapa-saludable.jpg", alt="imagen de mapa saludable")
            div.orbit-caption
              h3 Mapa Saludable
              h4 Guia Orgánica interactiva            
    br
    br
        
article
    strong.verdeoscuro Nutrición 
    span.muted | Vanina F. Repun
    a(href="secciones/nutricion/losritosylacomida.html"): h3 Los ritos y la comida.
    p.muted.unselectable Siempre pienso que con el plato de comida se pueden entrenar muchos hábitos que luego podemos trasladar a nuestra vida cotidiana… y si afirmamos que...
    .row
        .column.small-4            
            a(href="secciones/nutricion/losritosylacomida.html")  Leer más
        .column.small-12: hr

article.sponsored-box
  .row
    .column.small-4.sponsored-img
        p: img(src="images/guanabana.jpg", alt="imagen de guanabana") 
    .column.small-8.sponsored-descript
        strong.verdeoscuro Alimentación
        span.muted | Gaia – Almacén Natural
        a(href="secciones/alimentacion/guanabana.html"): h3 Guanabana
        p.muted.unselectable La planta milagrosa
        a(href="secciones/alimentacion/guanabana.html")  Leer más

article
    strong.verdeoscuro Deporte 
    span.muted | Romina Nuñez
    a(href="secciones/deportes/volviendo-rutina.html"): h3 Volviendo a la rutina
    p.muted.unselectable Tal vez dejamos pasar algunos meses pero... la idea es que puedas mantener un cuerpo relajado y disponible mientras te ocupás de tus obligaciones...
    .row
        .column.small-4            
            a(href="secciones/deportes/volviendo-rutina.html")  Leer más
        .column.small-12: hr


article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="secciones/alimentacion/heno-griego.html"): h3 Brotes de fenogreco
    p.muted.unselectable el Heno Griego
    .row
        .column.small-4           
            a(href="secciones/alimentacion/heno-griego.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Noticias 
    span.muted | Actualidad
    a(href="secciones/noticias/sitiowebvegano.html"): h3 El sitio web para veganos
    .row
        .column.small-4             
            a(href="secciones/noticias/sitiowebvegano.html")  Leer más
        .column.small-12: hr