.row.footer-stuff
  .small-6.medium-8.columns
    strong Nos podés encontrar
    br
    br
    ul.no-bullet
      li: a.fi-social-facebook(href='https://www.facebook.com/revistavegetariana', target="_blank")  revistavegetariana
      li: a.fi-social-twitter(href='https://twitter.com/r_lavegetariana', target="_blank")  @r_lavegetariana
      li: a.fi-social-instagram(href='https://instagram.com/revistavegetariana/', target="_blank")  revistavegetariana
      li: a.fi-mail(href='mailto:info@revistavegetariana.com.ar')  info@revistavegetariana.com.ar
      li: a.fi-telephone  4957-6837
  .small-6.medium-4.columns
    p: strong Enterate de los próximos lanzamientos
    form.row.collapse#form_newsletter
      .small-8.columns
        input.u-full-width.form-control(type='email', name='email' placeholder='Email')
      .small-4.columns
        button.button.secondary.postfix.button-submit(type='submit') Enviar
      div.clearfix
      div#form_newsletter_result
.row
  .small-12.columns.palabra
    | © Copyright 2016 - La Vegetariana  // Desarrollado por 
    a(href='http://ar.linkedin.com/pub/juan-pablo-soto/76/615/344', target="_blank") JPS