article.unselectable
  h4.black-box Salud
  h3 PROTECTORES SOLARES 100% NATURALES
  p: img(src="../../images/protector-solar-natural.jpg", alt="imagen de protector solar", style="padding: 0px 0px 0px 20px")   
  p.referencia Gentileza Gardenias, Belleza Natural

  p Comienzo de año, vacaciones, calor, mucho calor… sol radiante que quema la piel… Exacto: la solución es usar bloqueadores pero, ¡vaya paradoja! muchos de los protectores solares que se venden para protegernos del tan temido cáncer de piel, contienen químicos que –muchas veces- están acusados de cancerígenos…
  
  p 
    span(style='color:orange;font-weight:bold') ¿Qué hacer? 
    |   Prepararlos en casa es una buena opción.

  
  p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') alimentos con antioxidantes naturales:
  p Entre las Frutas podemos nombrar a las frutillas, arándanos, frambuesas y cerezas. Como Legumbres tenemos a los frijoles y porotos, y los Frutos secos como las nueces. 
  p Además… el Consumo de vitamina C disminuye lesiones en la piel ante la exposición al sol. A comer Naranja, limón, brócoli, tomate, perejil, kiwi… 

  p 
    span(style='color:turquoise;font-weight:bold') DATO: 
    | Los bloqueadores industriales  en su mayoría contienen retinol palmitato u oxibenzona, entre otros componentes acusados de nocivos para la salud.


  p 
    span(style='color:orange;font-weight:bold') CUIDADO: 
    span(style='color:teal') Las cremas preparadas en casa generalmente contendrán un FPS de medio a bajo, por lo que hay que tener en cuenta otros cuidados como evitar las horas de mayor sol.


  p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') otros tips a la hora de tomar sol:
  p • Evitar las horas centrales del día.
  p • Buscar los espacios de sombra.
  p • Cubrir el cuerpo con telas claras y frescas en las horas difíciles. Sombrero o pañuelos en la cabeza marcan la diferencia!
  p • Realizar una exposición progresiva para que la piel se acostumbre.
  p • Consumir alimentos antioxidantes como hortalizas y frutas. Cuanto menos procesados sean mejor!
  p • Si te mojás o transpirás mucho colocar protector en forma más asidua.

  p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') manos a la obra:
  p INGREDIENTE BASE: Aceites Vegetales. No es que vayamos a freírnos al sol, esa es una práctica muy usada en décadas anteriores y que demostró su nefasto resultado en pieles quemadas. Es esencial usar aceite virgen puro, 100% natural, mejor si es extraído en frío…
  p IMPORTANTE: Cuanto más procesado sea el aceite, menor será la capacidad protectora.
  p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') ingredientes opcionales:
  ol 
    li ACEITES ESENCIALES. Entre 20 y 60 gotas por cada 100 ml. de aceite vegetal es lo ideal. El más beneficiosos es el aceite esencial de zanahoria (de semillas), ya que ofrece un mayor factor de protección (entre 38 y 40 FPS). 

  p 
    span(style='color:turquoise;font-weight:bold') OJO! 
    | No uses aceites esenciales de cítricos porque pueden aumentar la fotosensibilidad.

    li ALOE VERA: Potencia la fórmula porque contribuye a bloquear rayos UVA y UVB. Ideal que se use el gel extraído directamente de la planta y se puede poner hasta la mitad del total del producto.

  p 
    span(style='color:crimson;font-weight:bold;text-align:center') IMPORTANTE: 
    | Las cremas naturales deben aplicarse 20 minutos antes de salir al sol y repetir la aplicación cada 40 minutos.  

  p: span(style='color:whitesmoke;background:steelblue;font-weight:bold;padding:10px') RECETA: 
  p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') protector solar de almendras y coco 
  p INGREDIENTES:
  ul 
    li: span(style='color:steelblue;font-style:oblique') ½ taza de aceite de almendra 
    li: span(style='font-style:oblique') ¼ taza de aceite de coco 
    li: span(style='color:steelblue;font-style:oblique') ¼ taza de cera de abejas 
    li: span(style='font-style:oblique') 2 cucharadas de óxido de zinc (hay quienes no recomiendan usar esta sustancia)
    li: span(style='color:steelblue;font-style:oblique') 1 cucharadita de aceite de vitamina E 

  div
    p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') factor protector solar según su origen:
    p Sabías que… el FPS marca el tiempo de exposición (mayor o menor) al sol? Pero no significa más protección! 
    p
      span(style='color:darkred') Aceite de almendras FPS 4
      span(style='color:darkred') Aceite de jojoba PFS 4
      span(style='color:darkred') Aceite de ricino FPS 5
      span(style='color:darkred') Aceite de oliva FPS 7
      span(style='color:darkred') Aceite de coco FPS 7
      span(style='color:darkred') Aceite de avellana FPS 10

  p: span(style='font-weight:bold;text-transform:uppercase')  ¿Y ahora?
  ol
    li 1)  En una jarra grande mezclar el aceite de almendras, el de coco, la cera de abejas y el aceite de vitamina E. 
    li 2)  Calentar a baño de maría hasta que se derrita. Mezclar de vez en cuando durante este proceso.
    li 3)  Sumar el óxido de zinc. Agitar bien y reservar en un frasco en la heladera. 
 

  div 
    p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') Los niños y el sol
    p: span(style='font-weight:bold;color:darkgray') • La exposición al sol debe ser por períodos cortos, especialmente al comienzo de la primavera y el verano.
    p • Los niños con pieles muy sensibles necesitan, además de la crema protectora, llevar remera y gorro aún en el agua. 
    p: span(style='font-weight:bold;color:darkgray') • Lo ideal es comenzar con una exposición progresiva, utilizando un protector solar de cosmética natural. 
    p • Las pieles claras son más sensibles, por lo que debe tenerse mayor cuidado. Las pieles más oscuras pueden ser más resistentes pero no por ello están exentas de sufrir por la falta de cuidados. Es indispensable utilizar protección solar adecuada cualquiera sea el tipo y color de piel.
    p: span(style='font-weight:bold;color:darkgray') • Luego de una exposición prolongada, es recomendable utilizar una crema hidratante y beber suficiente líquido para mantener la hidratación también por dentro. 


  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fcosmetica%2protector-solar.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/cosmetica/protector-solar.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable