article.unselectable
    h4.black-box Cosmética  
    h3 Cosmética Natural: La piel en Verano
    p.muted  ¿Cómo cuidar la piel durante el verano? 
    p: img(src="../../images/piel-verano.jpg", alt="avena", style="padding: 0px 0px 0px 100px")
    p.referencia por Giardina, Cosmética Natural
    p.referencia: a(href="http://www.cosmeticagiardina.com/") www.cosmeticagiardina.com
    p.referencia: a(href="https://www.facebook.com/gardenias.bellezanatural") facebook: cosmética giardina
     
    p Sin dudas, el verano es una de las temporadas más esperadas para tomar un descanso, vacacionar y disfrutar del sol… por eso acá van recomendaciones para cuidar tu piel de todos los factores perjudiciales a los que se ve expuesta en los meses de pileta y calor.
    p 
     span(style='color:darkorange ') ¿Tomar o no sol? 
     |  Muchos estudios demuestran que la exposición moderada tiene potenciales beneficios para la salud, como la producción de vitaminas esenciales para el estado de ánimo. ¿Cómo cuidar la piel durante el verano?
    div.fondo-celestito 
        p Hacerlo en exceso puede traer consecuencias perjudiciales en el corto, mediano y largo plazo en nuestra salud
    br
    p 
     span(style='background: #ffffb3;padding:10px;box-shadow: 5px 5px 5px grey;transform: rotate(-1.5deg)') ¿Cómo cuidarnos?
    p 
      span(style='color:gold;font-style: italic; ') Mantenerse hidratado es fundamental ya que perdemos líquido mucho más rápido por el calor.
    p 
      span(style='color:darkcyan;font-style: italic; ') Aplicarse protector solar antes de salir afuera. Por más que este nublado o vayas a estar debajo de una sombrilla.
    p 
      span(style='color:gold;font-style: italic; ') No es recomendable exponerse más de treinta minutos al sol de manera directa durante las 11am y 16 pm.
    p 
      span(style='color:darkcyan;font-style: italic; ') Llevar ropa clara, cómoda y liviana. También, una gorra y anteojos ayudan para la protección.

    p: span(style='color:white;background:DarkCyan;padding:10px') ¿VERDADERO O FALSO?
    p 1.  ‘El sol no es más peligroso ahora que en los tiempos de nuestros abuelos’. 
        span(style='color:red;font-weight: bold; ') FALSO
    div.post-claro
      p La capa de ozono se está destruyendo a un ritmo diferente al natural producto de la actividad humana. Al adelgazarse esta capa, la Tierra pierde la protección ante la radiación ultravioleta del sol que tiene efectos nocivos para la vida humana. A pesar de varios esfuerzos internacionales, la emanación de gases perjudiciales para la atmósfera continúa y su destrucción se acelera año tras año.
    br
    br
    p 2.  ‘En un día nublado no hay riesgo para la piel ’.
       span(style='color:red;font-weight: bold; ') FALSO
    div.post-claro
        p Aunque esta nublado, las nubes no bloquean por completo los rayos UV y esta radiación puede provocar daños en tu piel.
    br
    br
    p 3.  ‘Es necesario exponerse prolongadamente al sol para producir vitamina D’. 
       span(style='color:red;font-weight: bold; ') FALSO
    div.post-claro
        p Se necesita un tiempo súper corto como para que esto suceda, basta con las actividades diarias que realizamos afuera.
    br
    br
    p 4.  ‘Los protectores solares protegen por tiempo indefinido’. 
       span(style='color:red;font-weight: bold; ') FALSO
    div.post-claro    
        p La eficacia de los protectores solares, decrece una vez que fue aplicado sobre la piel. Por eso es importante repetir su aplicación cada dos horas y cada media si nos bañamos.
    br
    br
    p: span(style='color:orange') Siguiendo en tema con esta última frase - mito, es importante utilizar protectores solares en combinación con algunas de las recomendaciones anteriores, como por ejemplo el uso de anteojos de sol, ropa suelta y gorra. Ya que los protectores no aseguran un protección total, ni prolongada. 
    div.post-opcion
     p
      span(style='color:Green') La opción más saludable… 
      |Actualmente existen protectores producidos de manera natural y en armonía con la naturaleza. Resulta una gran opción para veganos (ya que los protectores solares orgánicos, no son testeados en animales) y personas que quieran optar por una opción 100% natural que no contenga derivados del petróleo, conservantes o colorantes.
    br
    br
    p 
     span(style='color:darkorange') Además… 
     | nos cuidan de una manera integral ya que al ser completamente naturales, no ingresaran en el torrente sanguíneo sustancias químicas u otras cuyos efectos nocivos sobre la salud en el largo plazo sean desconocidos.
    p 
     span(style='background: #ffffb3;padding:10px;box-shadow: 5px 5px 5px grey;transform: rotate(-1.5deg)') ¿Qué protector elegimos?
    div.fondo-celestito
        p -Un factor de protección de 15 o más.
        p -Protección para rayos UVA y UVB.
        p -Aplicar de manera abundante, treinta minutos antes de estar al aire libre.
        p -También hay que aplicar el filtro en boca, nariz, oreja y empeine de los pies.
        p -Volver a aplicar por más que el producto tenga la leyenda ‘resistente al agua’.
    br
    p
     span(style='color:red;font-weight: bold; ') Importante… 
     | Siempre es bueno recordar que los protectores solares reducen el daño de los rayos solares, 
     span(style='color:gold') pero no lo eliminan. 
     | Por lo tanto no hay que abusar dela exposición al sol por más que tengamos protector solar.
    p 
     span(style='background: #ffffb3;padding:10px;box-shadow: 5px 5px 5px grey;transform: rotate(-1.5deg)') Recomendaciones
    div.post-verde
        p 1. Mantener la piel limpia con productos suaves y orgánicos que no generen irritación.
        p 2. Recuperar la hidratación con cremas corporales y faciales, ¡no es necesario esperar al verano para esto!
        p 3. Tener una dieta sana a base de frutas y verduras, principalmente aquellos que tengan vitaminas A, C y E. La vitamina E, ayuda al proceso de regeneración de la piel en caso de cicatrices, previene la degeneración celular, ayudar a apaciguar el acné y permite el mejoramiento del flujo sanguíneo. Está presente en aceites frutos secos, pescados, vegetales como el brócoli, espinaca, espárragos, tomate o zanahoria.
        p 4. ¡Tomar mucha agua! Y evitar consumir alcohol.
        p 5. Descansar bien, las horas de sueño ayudan a que la piel luzca mejor y descansada.
        p 6. Si nos bañamos en piletas con cloro, es recomendable utilizar jabones con PH neutro.
        p 7. Consumir productos con antioxidantes, para contrarrestar los efectos del cloro y la sal.

    p: span(style='color:red')  ¡Esperamos que disfrutes de este verano!

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Fcosmetica%2cosmetica-natural.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/cosmetica/cosmetica-natural.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Marina Giardina
                //li: a(href="") cosmetica      