article
    strong.verdeoscuro Cosmética 
    span.muted | Marina Giardina
    a(href="cosmetica-natural.html"): h3 La piel en Verano.
    p.muted.unselectable Sin dudas, el verano es una de las temporadas más esperadas para tomar un descanso, vacacionar y disfrutar del sol… por eso acá van recomendaciones para cuidar tu piel de todos los factores perjudiciales a los que se ve expuesta en los meses de pileta y calor.
    .row
        .column.small-4            
            a(href="cosmetica-natural.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Cosmética 
    span.muted | Nota
    a(href="protector-solar.html"): h3 Protectores Solares Naturales 100% naturales
    p.muted.unselectable Sin dudas, el verano es una de las temporadas más esperadas para tomar un descanso, vacacionar y disfrutar del sol…
    .row
        .column.small-4            
            a(href="protector-solar.html")  Leer más
        .column.small-12: hr