article.tint-box.full-bleed
	h4 Columnistas
	p.muted Otras Columnas
	ul
		li: a(href="../noviembre2015/reposteria-vegana.html") nutrición: repostería vegana
		li: a(href="../noviembre2015/salud-hidratacion.html") deporte y salud: hidratación
		li: a(href="../noviembre2015/cosmetica-natural.html") cosmética natural: la piel en verano		
		li: a(href="../noviembre2015/grosellero-negro.html") el grosellero negro
		li: a(href="../noviembre2015/nektar-datiles.html") nektar de dátiles
		//li: a(href="../noviembre2015/chanchito-vegano.html") chanchito vegano
		li: a(href="tedejazmin.html") té de jazmín
		li: a(href="moringaoleifera.html") moringa oleifera
		li: a(href="fosfatidi.html") fosfatidi
		li: a(href="cardomariano.html") cardo mariano