article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="guanabana.html"): h3 Guanabana
    p.muted.unselectable La planta milagrosa
    .row
        .column.small-4           
            a(href="guanabana.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="heno-griego.html"): h3 Brotes de fenogreco
    p.muted.unselectable el Heno Griego
    .row
        .column.small-4            
            a(href="heno-griego.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Notas 
    span.muted | Alimentación
    a(href="descongelar.html"): h3 Descongelar sin perder nutrientes 
    //p: img(src="http://fillmurray.com/g/600/250", alt="")
    p.muted.unselectable Para que nuestro cuerpo funcione es importante consumir líquidos… pero no cualquiera! 

    .row
        .column.small-4           
            a(href="descongelar.html")  Leer más
        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: gaia
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="grosellero-negro.html"): h3 El grosellero Negro.
    p.muted.unselectable ¿Qué es? La hierba con nombre de superhéroe, es también conocida como cassis o arzaparrilla…
    .row
        .column.small-4           
            a(href="grosellero-negro.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="nektar-datiles.html"): h3 Nektar de Dátiles.
    p.muted.unselectable Este alimento –que antiguamente se consumía en Egipto-, con múltiple propiedades
    .row
        .column.small-4            
            a(href="nektar-datiles.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="tedejazmin.html"): h3 Té de Jazmín.
    p.muted.unselectable Una recarga de antioxidantes para el cuerpo
    .row
        .column.small-4           
            a(href="tedejazmin.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="tedearroz.html"): h3 Té de arroz integral (Brown Rice Tea-Genmaicha).
    p.muted.unselectable Es una bebida de sabor agradable que posee propiedades energéticas y reconstituyentes...
    .row
        .column.small-4            
            a(href="tedearroz.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="moringaoleifera.html"): h3 Moringa Oleifera.
    .row
        .column.small-4           
            a(href="moringaoleifera.html")  Leer más
        .column.small-12: hr


article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="mantecavegana.html"): h3 Manteca de cacao comestible: La manteca vegana
    p.muted.unselectable ¿De dónde se extrae? La genuina manteca de cacao es el óleo vegetal natural procedente del grano de cacao...
    .row
        .column.small-4            
            a(href="mantecavegana.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Nota
    a(href="seitan.html"): h3 Seitán
    p.muted.unselectable la carne del vegetariano...
    .row
        .column.small-4           
            a(href="seitan.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="fosfatidi.html"): h3 Fosfatidi
    p.muted.unselectable Más conocida como la Lecitina...
    .row
        .column.small-4           
            a(href="fosfatidi.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="semillas-oromi.html"): h3 Semillas de Oromi (Kalongee)
    p.muted.unselectable Desde la antigüedad era usada en países árabes, India, Medio Oriente y en Egipto. La llamaban “las semillas de los faraones”...
    .row
        .column.small-4            
            a(href="semillas-oromi.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="cardomariano.html"): h3 Cardo Mariano
    p.muted.unselectable A desintorxicarse después de las Fiestas
    .row
        .column.small-4           
            a(href="cardomariano.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="chucrut.html"): h3 Sauerkraut (Chucrut)
    p.muted.unselectable Es un producto de los denominados prebióticos. Está cargado de enzimas (lactobacilos) que facilitan enormemente la digestión de los alimentos....
    .row
        .column.small-4            
            a(href="chucrut.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="xilitol.html"): h3 Xilitol
    p.muted.unselectable ¿Dulce de Madera?
    .row
        .column.small-4           
            a(href="xilitol.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="curcuma.html"): h3 Cúrcuma, la verdadera
    p.muted.unselectable Es de la misma familia que el jengibre y el cardamomo...
    .row
        .column.small-4            
            a(href="curcuma.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="clorofila.html"): h3 Clorofila
    p.muted.unselectable Nos seguimos poniendo verdes!!!
    .row
        .column.small-4           
            a(href="clorofila.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Nota
    a(href="delivery.html"): h3 Bueno y barato en la puerta de tu casa
    p.muted.unselectable Muchas veces optamos por un sanguchito por falta de tiempo, porque no compramos lo necesario para cocinar... 
    .row
        .column.small-4           
            a(href="delivery.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="vinagre-umeboshi.html"): h3 Vinagre de Umeboshi
    p.muted.unselectable Es el único vinagre alcalino. Se extrae de una ciruela japonesa...
    .row
        .column.small-4            
            a(href="vinagre-umeboshi.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="espirulina.html"): h3 Espirulina
    p.muted.unselectable Es un organismo unicelular de color azul-verdoso que vive en aguas dulces. También conocido como alga espirulina.
    .row
        .column.small-4           
            a(href="espirulina.html")  Leer más
        .column.small-12: hr


article
    strong.verdeoscuro Alimentación 
    span.muted | Guillermo Yamiz
    a(href="cafe-cereales.html"): h3 Café de Cereales
    p.muted.unselectable Es un excelente sustituto del café...
    .row
        .column.small-4            
            a(href="cafe-cereales.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="agar-agar.html"): h3 Agar-Agar
    p.muted.unselectable La gelatina vegetal por excelencia…
    .row
        .column.small-4           
            a(href="agar-agar.html")  Leer más
        .column.small-12: hr


article
    strong.verdeoscuro Alimentación
    span.muted | Nota
    a(href="sabor.html"): h3 Saborrrrr
    p.muted.unselectable Nuestra sociedad se acostumbró a la sal y la pimienta, pero hay muchos otros sabores que nos dan las espacias y las hierbas...
    .row
        .column.small-4           
            a(href="sabor.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="soja-text.html"): h3 Soja Texturizada
    p.muted.unselectable Esa Extraña Proteína Vegetal…
    .row
        .column.small-4           
            a(href="soja-text.html")  Leer más
        .column.small-12: hr

article
    strong.verdeoscuro Alimentación
    span.muted | Gaia – Almacén Natural
    a(href="jalea-real.html"): h3 Jalea Real
    p.muted.unselectable La jalea real es una sustancia casi mágica…
    .row
        .column.small-4           
            a(href="jalea-real.html")  Leer más
        .column.small-12: hr