article.unselectable
    h4.black-box Alimentación
    h3 Espirulina
    p: img(src="../../images/espirulina.jpg", alt="imagen de espirulina", style="padding: 0px 0px 0px 10px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural     

    div 
     p Es un organismo unicelular de color azul-verdoso que vive en aguas dulces. También conocido como alga espirulina.
     p Fue adoptada por los veganos y vegetarianos por ser la fuente natural más rica en vitamina B12 y por ofrecer proteínas más digeribles que la carne vacuna.
     p Atención con los datos que encontré, entre sus múltiples beneficios:


    p: span(style='color:darkorange') 1 Favorece al sistema inmunológico por su alto contenido de antioxidantes.

    p: span(style='color:darkred') 2 Mejora la digestión y la salud intestinal, además de la pérdida de peso.
  
    p: span(style='color:darkorange') 3 Aumenta la energía aminorando el stress diario, evitando así la ansiedad y la depresión.
    
    p: span(style='color:darkred') 4 Previene las enfermedades cardíacas, ayudando a bajar el colesterol.
    p: span(style='color:darkorange') 5 Colabora con la limpieza de los intestinos gracias a la clorofila.
    p: span(style='color:darkred') 6 Equilibra la glucosa en sangre por los carbohidratos complejos.
    p: span(style='color:darkorange') 7 Previene y combate la anemia dado al hierro que la compone.
    p: span(style='color:darkred') 8 Mejora las dolencias de artritis, reumatismo y problemas ópticos.


    div.borde-rectangulo: span(style='border-color:darkred')
      p: span(style='color:darkred;font-weight: bold') Tabla de valores:
      p carbohidratos: 23,9 gr. - proteínas:  57,47 gr. - betacaroteno:  342 mg. - niacina:  12,82 gr. - calcio : 120 gr. - hierro: 28,5  gr. - magnesio: 195 mg. - fósforo: 118 mg. - potasio: 1363 mg - sodio 1048 mg. - yodo :150 mg
    br  

    p: span(style='color:orangered;font-weight: bold') Consumirla puede mejorar nuestra calidad de vida!!

    p
      span(style='color:crimson;font-weight: bold') Contraindicaciones: 
      |  En personas hipertiroidismo, niños y embarazadas…

    p 
      span(style='color:crimson;font-weight: bold') Dato: 
      |  Aunque ya era conocido hace 3.500 millones de años, la UNESCO lo declaró un superalimneto.

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2fosfatidi.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/fosfatidi.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      