article.unselectable
    h4.black-box Alimentación
    h3 Descongelar sin perder nutrientes 
    p.muted Desde que llegó el freezer a nuestras vidas un nuevo desafío se nos enfrentó: 
    p: img(src="../../images/slide4.jpg", alt="descongelar", style="padding: 0px 0px 0px 10px")     
    p.muted ¿Cómo descongelar los alimentos sin perder en calidad? Pues bien, veamos algunos secretos:

    p 
        span(style='color:#ffaf4d') Ideal:
        span(style='color:lightgreen')  Descongelar gradualmente, introduciendo los alimentos congelados en la heladera hasta que estén listos.
    
    p.post-it-style 
     span(style='color:darkblue')  La realidad: 
     | Muchas veces por falta de tiempo, y casi siempre porque nos acordamos a último momento, necesitamos la velocidad en el descongelado.
    br
    p 
        span(style='color:#ffaf4d') ¿Cómo lo hacemos?
        |  Microondas o bajo el agua fría –no caliente- herméticamente cerrados en un envoltorio (puede ser una bolsa o taper)… pero no te la olvides!!!!!! 
        span(style='color:crimson') Y fíjate que nunca, nunca entre el agua en contacto con el alimento a descongelar
    
    p 
        span(style='color:darkblue') OJO! Todos los alimentos descongelados en microondas deben ser cocinados de inmediato.
    
    p.pizarron Sabías que… si volvés a congelar un alimento previamente congelado te exponés a 16 veces mayor cantidad de bacterias dañinas para tu organismo?
    br
    p.post-it-style 
     span(style='color:indigo') CUIDADO! 
     |  Si hay un corte de luz y tu comida perdió la cadena de frío tenés 2 opciones: Comerla o tirarla…  En cualquiera de los dos casos podés hacer el reclamo a Edenor o Edesur (según corresponda) siempre que hayas guardado los tickets de compra.
    br
    p 
        span(style='color:#ffaf4d') Frutillas y moras: 
        |  Podés bañarlas en limón antes de congelarlas para que mantengan mejor su sabor y textura. Y depende para qué, no es necesario descongelarlas para consumirlas.
    
    p 
        span(style='background: #ffffb3;padding:10px;box-shadow: 5px 5px 5px grey;transform: rotate(-1.5deg)') FRUTAS: 
        p Guardarlas secas y limpias. Una vez congelada, si va a ser consumida cruda, hay que destapar el envase y dejar que se descongele en la heladera durante 24 horas.
    
    p 
        span(style='background: #ffffb3;padding:10px;box-shadow: 5px 5px 5px grey;transform: rotate(-1.5deg)') VERDURAS: 
        p Conviene cocinarlas por 2 minutos y escurrirlas bien antes de congelarlas. Las hortalizas pueden ser cocinadas al vapor sin necesidad de desfreezarlas. 

    p 
        span(style='color:greenyellow') TIP: 
        span(style='color:lightblue') Congelá en envases pequeños, para poder descongelar por porciones.

    p 
        span(style='background: SeaShell ;padding:10px;box-shadow: 5px 5px 5px grey;transform: rotate(-1.5deg)') Dato: Poné el alimento sobre un plato para evitar que gotee sobre otros alimentos y los contamine.
    br
    p 
        span(style='color:#ffaf4d') ¿Y las harinas? 
        |  Para descongelar pan o repostería pueden colocarse tanto en la heladera como a temperatura ambiente respectivamente. Hay otros alimentos p como prepizzas o pastas que pueden ser puestas directamente en el horno.

    p 
        span(style='color:tan') Mmm... El pan queda delicioso si directo del freezer lo humedeces y lo pones en horno bien caliente! Queda como recién horneado!
    
    p 
        span(style='color:#ffaf4d')¿Y las salsas? 
        |  A fuego directo, con un poco de agua, o a baño maría.
    br
    br
    .row
        .column.small-4
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2descongelar.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/descongelar.html', data-layout='button')

        .column.small-8
            ul.inline-list
                // li: span.fi-pricetag-multiple
                // li: a(href="") salud