article.unselectable
  h4.black-box Productos - El duende
  h3 Manteca de cacao comestible
  p.muted La manteca vegana
  p: img(src="../../images/manteca-de-cacao.jpg", alt="imagen de manteca de cacao", style="padding: 0px 0px 0px 10px")   
  p.referencia por Guillermo Yamiz orientador nutricional
  p.referencia Más info: elduendeva@yahoo.com.ar
  p.referencia: a(href="https://www.facebook.com/ProductosElDuendeArgentina") facebook: Productos El Duende Argentina

  p.pizarron Característica: La manteca de cacao sin refinar posee un suave aroma que nos recuerda un poco al chocolate blanco. Su sabor también es muy suave.

  p 
    span(style='color:saddlebrown;font-weight: bold') ¡Dura más! 
    | Al tener sustancias antioxidantes naturales no suele ponerse rancia. Su durabilidad oscila entre los 3 y 5 años. 
    span(style='color:saddlebrown;font-weight: bold') OJO! 
    | Es importante que no se le hayan agregado sustancias artificiales ya sean estas aromatizantes, colorantes o saborizantes. 
    span(style='color:saddlebrown;font-weight: bold') No requiere refrigeración.

  p
    span(style='color:chocolate;font-weight: bold') Condimentos: 
    | Puede ser nuez moscada, orégano, albahaca, cúrcuma genuina para lo salado y almendras, maní, dátiles, pasas de uva, azúcar mascabo, miel de caña, stevia o xilitol para las dulces.


  div.post-claro Cualidades: Posee un alto contenido de vitaminas E y D. También vitaminas A. No hace subir el colesterol.
  br
  br
  p: span(style='color:saddlebrown;font-weight: bold') ¿En qué se usa? 
  p   • Esta manteca es apta para cocinar. Es decir, se puede usar como una "manteca" reemplazando de alguna manera a la láctea sin los inconvenientes que esta última genera… además, aportamos nuestro granito de arena para evitar la explotación animal.
  p   • Además es apta para uso cosmético en sequedad de piel y cabellos.
  p   • Ayuda también a regenerar la piel y calmar ardores por quemaduras leves o por haberse expuesto demasiado al sol, actuando como hidratante y suavizante.
  p
    span(style='color:saddlebrown;font-weight: bold') ¿Cómo la usamos en la cocina? 
    | Se corta una tajada y se agrega por ejemplo a algún plato caliente ya servido como pastas integrales, arroz integral, polentas, etc. También para preparaciones dulces, sean cocidas o raw. Además puede rehogarse o saltearse unos segundos. 

   p 
    span(style='color:saddlebrown;font-weight: bold') ¿De dónde se extrae? 
    | La genuina manteca de cacao es el óleo vegetal natural procedente del grano de cacao.  

  p: span(style='color:saddlebrown;font-weight:300;font-style:italic') Dato: Es importante que haya sido extraída en frio y en el lugar de origen.




  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2mantecavegana.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/mantecavegana.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable