article.unselectable
  h4.black-box Cocina
  h3 Sauerkraut (Chucrut)
  p: img(src="../../images/chucrut.jpg", alt="imagen de chucrut", style="padding: 0px 0px 0px 50px")   

  p: span(style='color:olivedrab;font-weight:bold') Es un producto de los denominados prebióticos. Está cargado de enzimas (lactobacilos) que facilitan enormemente la digestión de los alimentos.

  p:span(style='color:olivedrab;font-weight:bold') ¿Con qué se hace?  
  p Se elabora a partir del col o repollo blanco, semillas de enebro o eneldo, sal marina y –optativamente- se puede agregar vinagre de manzana orgánico.
  p Una vez producido hay chucrut de 3,5 y 21 días de estacionamiento. El último es el más interesante respecto de sus propiedades.
  p El mejor material para añejarlo es el roble, pero puede hacerse en vidrio.

  div.borde-rectangulo
    p:span(style='color:olivedrab;font-weight:bold') Además… 
    p • Regenera la Flora Intestinal
     • Fortalece la inmunidad
     • Es un poderoso antitóxico
     • Promueve la longevidad
  br
  p 
    span(style='color:olivedrab;font-weight:bold')  OJO: 
    | Es muy importante que esté bien producido, es decir, con materia prima genuina, con el tiempo suficiente de estacionamiento, a temperatura adecuada y sin agregados de aditivos químicos. 
    span(style='color:darkorange;font-weight:bold') NO SE DEBE PASTEURIZAR.

  div.pizarron 
    p: span(style='color:green;font-weight:bold') TIPS: 
    p • Su sabor es ligeramente agrio y apetitoso al mismo tiempo.
    p • Debe consumirse crudo junto a las comidas.
    p • Puede guardarse en la heladera y su vida útil es longeva.
  
  br
  
  p 
    span(style='color:olivedrab;font-weight:bold') ¿Qué aporta? 
    | Contiene Vitamina C, K y B12. También Calcio y Magnesio.

  p: span(style='color:saddlebrown;font-weight:bold') Dato: Es co-ayudante en la digestión de cereales integrales, legumbres y panificados.



  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2chucrut.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/chucrut.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable