article.unselectable
  h4.black-box Nota de Tapa
  h3 Bueno y barato en la puerta de tu casa
  p: img(src="../../images/organic-delivery.jpg", alt="imagen de delivery", style="padding: 0px 0px 0px 10px")   

  p Muchas veces optamos por un sanguchito por falta de tiempo, porque no compramos lo necesario para cocinar, porque justo nos falta un ingrediente o porque estamos agotados y en la alacena sólo nos mira un paquete de fideos… También nos pasa que decidimos comer sano y los precios nos lo impiden. Pues bien, esas excusas de por qué no comemos sano ya no tienen coherencia en los tiempos que corren.
  p Gracias a las nuevas tecnologías ahora podemos recibir en nuestro hogar –y sin pagar de más- alimentos saludables.
  p Hay quienes cuentan con el tan querido delivery sin costo, también los que te acercan las verduras y frutas a la puerta de tu casa, están aquellos que ofrecen el seguimiento de la cadena de comercialización para ver de dónde provienen los alimentos que consumimos y lo hagamos de forma responsable… de cualquier manera todas estas opciones se adaptan a nuestra comodidad.
  
  div.borde-rect-orange
    p.post-opcion 
      a(href="https://www.facebook.com/veggielunch.bsas/", target="_blank"): span(style='color:darkorange;font-weight:bold;text-transform:uppercase')  Veggie Lunch
    p.post-it-style Desde hace un año ofrecen alimentos elaborados, listos para comer o mandar al freezer. Los combos varían según las semanas o por temporadas. Todos sus productos son Aptos para Veganos.
    br
    br
    p: span(style='color:darkorange;font-weight:bold;text-transform:uppercase') -¿Cómo y por qué incursionaron en este rubro? 
    p -Primero para demostrar que hay una manera más sana de alimentarse y después para generar un ampliación de la conciencia de que el ser vegetariano NO es solo vivir de ensaladas. 

    p: span(style='color:darkorange;font-weight:bold;text-transform:uppercase')  -¿Qué ofrecen en delivery? 
    p -Tenemos hamburguesas y mayonesas veganas, panificados (panes, pizzas y empanadas) de harina integral, canelones y de a poco estamos incorporando productos dulces.
    p:: span(style='color:darkorange;font-weight:bold;text-transform:uppercase') -¿Cómo se adquieren?
    p - Haciendo un pedido por mensaje privado de FB o por mail. Todos los Sábados estamos entregando por Capital Federal y los Martes vamos a zona Oeste. Dependiendo de la zona, en CABA el envío es sin cargo.
    p: span(style='color:darkorange;font-weight:bold;')  Ejemplo de Costo:
    p En agosto uno de los combos incluía: 4 hamburguesas de quinoa, 4 de yamaní, 4 de mijo y 4 de lentejas por 150 pesos.

  br
  br
  div.borde-rect-green
    p.post-opcion 
      a(href="http://www.labaratadelcentral.com.ar/", target="_blank"): span(style='color:forestgreen;font-weight:bold;text-transform:uppercase')  La Barata del Central
    p.post-it-style Desde su página web promueven bolsones de verduras y frutas a precios accesibles. Muchas veces los precios son hasta 4 veces menores que los de las verdulerías.
    br
    br
    p: span(style='color:forestgreen;font-weight:bold;text-transform:uppercase')  ¿Qué ofrecen en delivery?
    p -3 tamaños de Canastas que contienen un mix de frutas y verduras de estación. 

    p: span(style='color:forestgreen;font-weight:bold;text-transform:uppercase')  ¿De dónde provienen los productos?
    p -Vamos TODAS las noches a comprar al Mercado Central. Allí se encuentran puestos de productores de todo el país, con frutas y verduras que muchas veces ni se ven en las verdulerías de barrio por no ser tan "comerciales". 

    p: span(style='color:forestgreen;font-weight:bold;text-transform:uppercase')   -¿Cómo se pueden adquirir los bolsones?
    p -Los pedidos se hacen desde la web: www.labaratadelcentral.com.ar. También tienen su lugar de trabajo abierto al público en pleno Palermo. 

    p: span(style='color:forestgreen;font-weight:bold;') Ejemplo de Costo: 
    p Canasta 1 $87, la 2 $145 y la 3 $189. Por el envío en Capital cobran un plus según el barrio. La primera canasta puede incluir: Zapallo Cabutia1/2 u, Tomate300 gr., Cebolla 300 gr., Peras350 gr., Banana 400 gr., Espinaca1 at, Zanahoria.400 gr., Papa 600 gr., Brócoli chico1 u., Mandarina400 gr., Zapallito Verde400 gr., Lechuga 1 u., Frutillas200 gr., Limón2 u., Remolacha500 gr.
    *(las cantidades y productos pueden variar semana a semana)
  br
  br

  div.borde-rect-blue
    p.post-opcion 
      a(href="https://www.facebook.com/Puerta-Verde-Felicidad-Vegana-267088600067822", target="_blank"): span(style='color:steelblue;font-weight:bold;text-transform:uppercase') Puerta Verde Felicidad Vegana
    p.post-it-style Todos sus productos son Veganos. Tienen una pastelería deliciosa y hacen también catering. Entregan en Tribunales, Palermo, Colegiales, Constitución y más barrios.
    br
    br
    p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') -¿Qué pueden incluir en el delivery?
    p -Desde Desayunos, comidas, panificados, leches vegetales y pastelería.
    p: span(style='color:steelblue;font-weight:bold;text-transform:uppercase') -¿Cómo contactarse para hacer pedidos?
    p -Hay que hacerlos con una anticipación de 3 días. Se pueden realizar mediante fb o mail a janetmarisol@gmail.com.

    p: span(style='color:steelblue;font-weight:bold') Ejemplo de Costo: 
    p Torta Brownie de albarroba y chocolate, rellena de crema, marroc, castañas de cajú, almendras y nueces, Precio: $260
  br
  br

  p: span(style='color:whitesmoke;text-transform:uppercase;padding:10px;background:sienna') MERCADO CENTRAL
  p.post-it-style www.mercadocentral.gob.ar   Desde la pagina web pueden ver los horarios y toda la información para saber como llegar. También difunde un listado mensual de productos frutihorticolas sugeridos que ya sea por factores de estacionalidad o grandes volúmenes de producción, se encuentran a buenos precios en cada periodo del año.
  p Dicen que hay que llegar a la medianoche para elegir la mercadería en el momento en que llegan los camiones de las quintas. Así se escoge la verdura fresca, recién cosechada… “y que no te vendan cajones de ayer”, dicen los de La Barata que empezaron en diciembre de 2011 yendo a comprar cantidades al Mercado Central y luego distribuyéndolas entre los compradores. “Estamos convencidos (y lo vivimos en carne propia) que el bajo porcentaje de consumo de frutas y verduras en el país es en gran parte debido a dos factores: comodidad y precio”, dicen. 

  div.borde-rect-purple
    p: span(style='color:whitesmoke;text-transform:uppercase;padding:10px;background:mediumpurple')  Colectivo Solidario
    p.post-it-style Ofrecen de todo sobre la base de la economía solidaria. Todos sus productos provienen de cooperativas de distintas partes del país. Se eligen en un listado y tienen un costo según la zona de entrega.
    br
    br
    p: span(style='color:mediumpurple;font-weight:bold;text-transform:uppercase') -¿Qué productos hay?
    p -Verduras, cervezas, fideos, dulces, especias, productos de perfumería y limpieza, yerbas y muchos más.
    p: span(style='color:mediumpurple;font-weight:bold;text-transform:uppercase') -¿Cómo se hacen los pedidos?
    p -Vía web, entrando a www.colectivosolidario.org y seleccionando las cantidades y los productos. Una vez por semana se hacen las entregas.
    p: span(style='color:mediumpurple;font-weight:bold;') Costo: 
    p En agosto se podían adquirir 1 kg de mozzarella por $55, harina de algarroba por 250gr a $8, desodorante para pisos por 1lt $17, aceite de oliva extra virgen por $31.

  br
  br

  p: span(style='color:whitesmoke;text-transform:uppercase;padding:10px;background:green') Sintonía Veg
   
  p: span(style='color:green;font-weight:bold;text-transform:uppercase') -¿Qué ofrecen?
  p -Hay milanesas, bastoncitos de tofu, hamburguesas, boios, empanaditas, canelones y mucho más.
  p: span(style='color:green;font-weight:bold;text-transform:uppercase') -¿Cómo se pueden adquirir?
  p -Los pedidos se toman con una semana de anticipación y se entregan los sábados de 9 a 15hs. Se hacen envíos a todo CABA por 25 pesos y algunos lugares de GBA, sino pueden retirarse por Coghlan. 

  p: span(style='color:whitesmoke;text-transform:uppercase;padding:10px;background:green') Se pueden contactar vía mail a info@sintoniaveg.com.ar o al 15-3696-6004

  p.post-it-style Ofrecen lo que llaman “viandas salvadoras” para vegetarianos. Hay ofertas y promos todas las semanas y los productos se entregan freezados.
  br
  br

  p 
    span(style='color:green;font-weight:bold;') Ejemplo de Costo:
    |  Bastoncitos veganos de Tofu por 12 $60. Sambusak (empanaditas con masa casera, semillas de sésamo rellenas con huevo y queso sin cuajo bovino) por 12 unidades $60.

  p Estos son sólo algunos ejemplos de que es posible comer sano sin pagar de más… lo que resta es tomar la decisión!

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2delivery.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/delivery.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable