article.unselectable
    h4.black-box Gaia - Almacén Natural
    h3 Esa Extraña Proteína Vegetal…
    p.muted Soja Texturizada
    p: img(src="../../images/soja-text.jpg", alt="imagen de soja texturizada", style="padding: 0px 0px 0px 10px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural     

    div 
     p La soja texturizada es ideal para reemplazar la carne animal por su excepcional fuente proteica y bajo contenido en grasas.
     p Tiene tan sólo 80 calorías en media taza!!! (secreto de amiga…ja, ja)
     p Para los veganos no es novedad, pero para los que estamos incursionando en la comida sana ¡es mágico!
     p Es fácil de preparar, hay que hidratarla por 30 minutos con agua o caldo frío (1 taza de texturizado x 1 ½  de líquido) le agregás el condimento que más te guste y… a cocinar! Sencillo, sabroso, práctico…

    p 
      span(style='color:chocolate;font-weight: bold') De dónde viene: 
      | Se obtiene a partir de las paredes celulares de algas marinas… 

    p 
      span(style='color:chocolate;font-weight: bold') Particularidad: 
      | Alcanza su estado líquido a  95°C y solidifica a 45°C, por lo que permite realizar preparaciones sin acceso a frío.

    p 
      span(style='color:chocolate;font-weight: bold') Cómo se consigue: 
      | Se vende en bastones, escamas y en polvo, que es la más usada para espesar sopas, conservas de frutas, postres, helados, quesos vegetales, y como clarificador en la elaboración de cerveza artesanal.

    p 
      span(style='color:chocolate;font-weight: bold') Para qué sirve: 
      |  Es un buen supresor del apetito!!… además de capturar gran parte de las grasas y azúcares que consumimos. Como si esto fuera poco también es laxante, es bueno para la diabetes y para prevenir enfermedades cardíacas… 

    div.borde-rectangulo: span(style='border-color:darkred')
      p: span(style='color:darkred;font-weight: bold') Por cada 100 gr. de texturizado:
      p Energía: 50 Kcal - Proteínas: 5,53 g - Carbohidratos: 4,68 g - Fibra alimentaria : 2,38 g - Lípidos totales: 1, 03 g - Colesterol: 0 mg - Sodio: 30 mg - Potasio: 235 mg - Calcio: 32 mg - Magnesio: 18,5 mg - Hierro: 0,9 mg - Zinc: 0,96 mg - Fósforo: 74,64  mg - Cobre: 230 mg -   Vitamina C: 19,63 mg - Tiamina (B1): 0,16 mg - Riboflavina (B2): 0,16 mg - Ácido fólico: 160 mg

    br  

    div.pizarron
      p Recomendada para personas con diabetes, osteoporosis, hipertensión, problemas prostáticos, colesterol.

    p: span(style='color:orangered;font-weight: bold') Se puede condimentar con salsa de soja, caldo vegetal, curry, pimentón y cualquier sabor que se te ocurra! 


    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2soja-text.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/soja-text.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      