article.unselectable
    h4.black-box Gaia - Almacén Natural
    h3 Jalea Real
    p.muted El secreto de la abeja reina
    p: img(src="../../images/jalea-real.jpg", alt="imagen de jalea real", style="padding: 0px 0px 0px 10px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural     

    div 
     p La  jalea real es una sustancia casi mágica…y, aunque su sabor no es especialmente agradable, las propiedades la compensan!
     p Es un producto elaborado por las abejas obreras para alimentar a las larvas hasta los 3 días y a las reinas por toda su vida.
     p Las obreras -que sólo viven hasta 45 días- se alimentan de una mezcla de agua, polen y miel mientras que las reinas -que consumen jalea- viven hasta 5 años y son las únicas capaces de reproducir…
  
    p Entre sus múltiples beneficios para la salud encontramos que:
      p: span(style='color:goldenrod;font-weight: bold') - Estimula las defensas, es antibiótico natural.
      p: span(style='color:orangered;font-weight: bold') - Es energizante, mejora la oxigenación cerebral y la resistencia física y mental.
      p: span(style='color:goldenrod;font-weight: bold') - Mejora el rendimiento sexual y hormonal, ayudando a la fertilización y menopausia.
      p: span(style='color:orangered;font-weight: bold') - Previene la ansiedad, insomnio y depresión, que provocan el stress.
      p: span(style='color:goldenrod;font-weight: bold') - Indicado para la anemia por sus múltiples compuestos.
      p: span(style='color:orangered;font-weight: bold') - Actúa como regenerador celular previniendo el envejecimiento de la piel.
      p: span(style='color:goldenrod;font-weight: bold') - Protector hepatodigestivo.

    p Si consumiéramos un 100 mg. diarios por 2 meses, luego descansar otros 2, podría decirse que además de haber encontrado “el elixir” de la vida, formaríamos -quién sabe- parte de la realeza…
    p Ahora que te contamos el secreto, consulta con tu médico y a probar!!!



    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2jalea-real.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/jalea-real.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      