article.unselectable
    h4.black-box Alimentación  
    h3  Brotes de fenogreco
    p.muted el Heno Griego
    p: img(src="../../images/fenogreco.jpg", alt="imagen de heno griego", style="padding: 0px 0px 0px 100px")
    p.referencia por Guillermo Yamiz orientador nutricional
    p.referencia Más info: elduendeva@yahoo.com.ar
    p.referencia: a(href="https://www.facebook.com/ProductosElDuendeArgentina") facebook: Productos El Duende Argentina  

    p
      span(style='color:purple;font-weight: bold') ¿Qué es? 
      | Pertenece a la familia de las papilonáceas. Su nombre en latín es foenum-graecum, que significa heno griego. Esta denominación se debe al fuerte olor que desprende la planta y sus semillas.

    p.post-claro ¿De dónde viene? crece en terrenos pedregosos y se lo puede encontrar en estado silvestre. Las cabras lo usan como alimento, tanto la planta como sus semillas. Hoy en día se cultiva en varios lugares del mundo.
    br
    br
    p
      span(style='color:purple;font-weight: bold') Además...
      ul
        li Sus proteínas se transforman en aminoácidos de alto valor nutritivo
        li Las vitaminas del complejo B aumentan considerablemente.
        li Los minerales -como el hierro, calcio, magnesio- son asimilados más fácilmente por el organismo… 
        li Y mejora cuadros de anemia!
    
    p 
      span(style='color:forestgreen;font-weight: bold') ¿Qué aportan? 
      | Sus brotes poseen un alto contenido en hierro orgánico, vitamina E, proteínas de buen valor biológico, fósforo, provitaminas PP (que fortalecen los vasos sanguíneos).

    p 
      span(style='color:purple;font-weight: bold') ¿Cómo se consume? 
      | Úselo en rehogados, al vapor, en sopas, ensaladas, salsas o como lo prefiera… siempre como complemento de la comida principal.
    
    p.pizarron Es ideal para preparar platos orientales o hindúes ya que otorga un sabor exótico a su preparación. Su sabor es exquisito, a diferencia de las semillas que son de sabor muy fuerte.

    p 
      span(style='color:green;font-weight: bold') Importante: 
      | Consuma brotes que sean a partir de semillas sin fumigar y cultivadas sin agrotóxicos. También que sean lavados con agua filtrada.


    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2Fheno-griego.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/heno-griego.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Guillermo Yamiz
        .column.small-12: hr