article.unselectable
    h4.black-box Alimentación
    h3 Guanabana 
    p.muted La planta milagrosa
    p: img(src="../../images/guanabana.jpg", alt="imagen de guanabana", style="padding: 0px 0px 0px 10px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural     
    
    p
      span(style='color:firebrick;font-weight:bold') ¿De dónde viene? 
      | Se trata de una planta de origen milenario de la zona de los Andes peruanos, del Amazonas brasileño, de Jamaica y Haití. 
    p
      span(style='color:green;font-weight:bold') ¿Para qué sirve? 
      | Los aborígenes de esas zonas usan las hojas en tés para resfríos y como expectorante. Las semillas -aplastadas- como antiparasitario. La corteza como sedante y paliativo para afecciones coronarias; y el aceite de las frutas para dolores corporales.
    p
      span(style='color:firebrick;font-weight:bold') ¿Contra el Cáncer? 
      | Hoy, luego de investigaciones realizadas en la Universidad de Indiana en E.E.U.U., se sabe que debido a la acción de los componentes acetogénicos posee una acción inhibidora en la reproducción de células cancerígenas.

    p.pizarron IMPORTANTE: Se la considera la planta de la quimioterapia natural… es como un secreto que al fin salió a la luz.
    
    p 
      span(style='color:chocolate;font-weight:bold') ¿Cómo se consume? 
      | Puede ser como infusión, a razón de dos cucharaditas de hojas por cada taza (hasta dos veces al día). Y si prefiere cápsulas: dos por día.
    
    p: span(style='color:darkorchid;font-style:oblique')  OJO! Se recomienda no ingerir en ayunas.
    
    p:span(style='color:crimson;font-weight:bold') Otros Beneficios:
      ol: span(style='color:chocolate')
        li Elimina celulas cancerosas sin dañar celulas sanas
        li Protege el sistema inmunologico
        li Es antioxidante
        li Es rica en vitaminas b y c
        li Ayuda en los estados de ansiedad y depresion
        li Estabiliza la hipertension
        li Combate colicos, diarreas y dispepsia
        li Eficaz contra resfrios y fiebre
        li Mejora las palpitaciones ocasionadas por el estres.
    

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2guanabana.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/guanabana.html', data-layout='button')