article.unselectable
    h4.black-box Alimentación
    h3 Clorofila
    p.muted Nos seguimos poniendo verdes!!!
    p: img(src="../../images/clorofila.jpg", alt="imagen de clorofila", style="padding: 0px 0px 0px 10px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural     

    div 
     p Consumir clorofila nos ayuda a oxigenar la sangre y a aumentar su producción. También mejora el funcionamiento de los órganos, sobre todo del corazón. 
     p Si esto no te resulta interesante, te cuento que la abundancia de oxigeno ayuda a la desintoxicación de las células, fortaleciendo el sistema inmune. 

    div.post-opcion
      p Favorece la limpieza del colon y la proliferación de la flora intestinal, evitando enfermedades como el cáncer.
    br
    br
    p: span(style='color:OliveDrab;font-weight: bold') Disminuye de forma significativa el colesterol y los triglicéridos séricos.

    p: span(style='color:Green;font-weight: bold') Elimina la alitosis y el olor a transpiración que son provocados por bebidas alcohólicas o el consumo de ajo u otros condimentos fuertes

    div.pizarron
     p Ya sabés, a ese juguito de naranjas matinal agregale alguna hoja verde, que mejorará radicalmente tu salud.
    br

    div 
      span(style='color:white;background:green;padding:5px') ¿Cómo consumirla?
      br
      p Consumiendo vegetales verdes es la más común:
      p: span(style='color:Green;font-weight: bold;text-transform: uppercase;') espinaca - lechuga - acelga - berro - brócoli - rúcula - perejil - cilantro
      p También algunas algas, como la espirulina. Y se puede conseguir clorofila líquida en dietéticas y farmacias.


    div.borde-rectangulo
      p: span(style='color:green;font-weight: bold') Composición:
      p  Una molécula de clorofila está compuesta por carbono, hidrógeno, magnesio y nitrógeno. Tiene un alto contenido en Vitaminas A, B y C.
    br  

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2clorofila.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/clorofila.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      