article.unselectable
    h4.black-box Alimentación
    h3 Té de Jazmín
    p.muted una recarga de antioxidantes para el cuerpo
    p: img(src="../../images/tedejazmin.jpg", alt="imagen de té de jazmín", style="padding: 0px 0px 0px 10px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural     
    
    div 
      span(style='color:white;background:firebrick;padding:5px') Un poco de historia: 
      br
      p En China -hacia el año 960 d.C.- se tiene conocimiento del consumo de ésta preciada infusión, donde aprendieron a beneficiarse con sus componentes. La bebían sola o acompañada de té verde o blanco.
    
    p
     span(style='color:DarkOliveGreen;font-weight: bold') No digan que no es una dulce noticia…
     |  Además contiene ácido salicílico, por lo que se usa para dolores de cabeza y musculares…
    
    p 
     span(style='color:darkred;font-weight: bold') Un té con  buen clima:
     |  La cosecha de sus flores comienza en primavera y se mantienen hasta finales del verano.
    
    p 
     span(style='color:green;font-weight:400') Dato: Gracias a sus antioxidantes y poliefenólicos puede ayudar a mejorar el funcionamiento y darle bienestar a nuestro cuerpo.  
    
    div.post-opcion
      p 
       span(style='font-weight:bold') Preparación: 
       | Se debe poner agua a fuego lento y retirarla antes de hervir (puesto que el sabor del té podría tornarse amargo); por cada cuatro tazas de agua, se coloca una cucharadita de té y se deja reposar…
    br
    br
    div
     span(style='color:white;background:firebrick;padding:5px') Propiedades:
     ul
      li Alivia el estress y la tensión
      li Es antioxidante
      li Ayuda a bajar el colesterol
      li Tiene propiedades antivirales y antibacterianas
      li Es beneficioso para la digestión
      li Promueve la reducción de peso 
      li Mejora la circulación
      li Regula la producción de insulina
      li El aceite se usa en la industria cosmética
      li Analgésico para síntomas menstruales
      li Sirve para aliviar lesiones bucales
      li Recomendado para aliviar las molestias en vias respiratorias


    p Y como si fuera poco… es rico. No te tentaste…  un poquito…     
    br
    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2tedejazmin.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/tedejazmin.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      