article.unselectable
    h4.black-box Alimentación
    h3 AGAR-AGAR
    p.muted La gelatina vegetal 
    p: img(src="../../images/agar.jpeg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 100px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural     

    div 
     p Siguiendo en la línea de adentrarnos a conocer un poco más el mundo vegano, vamos a hablar hoy de la gelatina vegetal por excelencia…

    p 
      span(style='color:chocolate;font-weight: bold') De dónde viene: 
      | Se obtiene a partir de las paredes celulares de algas marinas… 

    p 
      span(style='color:chocolate;font-weight: bold') Particularidad: 
      | Alcanza su estado líquido a  95°C y solidifica a 45°C, por lo que permite realizar preparaciones sin acceso a frío.

    p 
      span(style='color:chocolate;font-weight: bold') Cómo se consigue: 
      | Se vende en bastones, escamas y en polvo, que es la más usada para espesar sopas, conservas de frutas, postres, helados, quesos vegetales, y como clarificador en la elaboración de cerveza artesanal.

    p 
      span(style='color:chocolate;font-weight: bold') Para qué sirve: 
      |  Es un buen supresor del apetito!!… además de capturar gran parte de las grasas y azúcares que consumimos. Como si esto fuera poco también es laxante, es bueno para la diabetes y para prevenir enfermedades cardíacas… 

    div.borde-rectangulo: span(style='border-color:darkred')
      p: span(style='color:darkred;font-weight: bold') Información nutricional:
      p: span(style='font-weight: bold') Por cada 100 gr.:
      p Calorías  26 - Lípidos 0 mg - Colesterol 0 mg - Sodio 9 mg - Potasio 226 mg - Glúcido 7 g - Proteínas 0,5 g - Azúcar 0,3 g - Calcio 54 mg - Hierro 19 mg - Magnesio 67 mg
    br  

    p: span(style='color:orangered;font-weight: bold')¿Completito no? No hay mucho más para pensar…  manos a la obra ya! 


    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2agar-agar.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/agar-agar.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      