article.unselectable
    h4.black-box Alimentación
    h3 Moringa Oleifera
    p: img(src="../../images/moringaoleifera.jpg", alt="imagen de moringa oleifera", style="padding: 0px 0px 0px 10px")
    p.referencia por Gaia – Almacén Natural
    p.referencia: a(href="https://www.facebook.com/gaia.dietetica") Gaia Almacén Natural     
    
    div 
      span(style='color:white;background:firebrick;padding:5px') ¿Qué es? 
      br
      p  Es un árbol originario del norte de India. Esta planta milenaria –de la que se consume todo, o casi todo- debe ser incorporada en nuestra dieta.
    
    div
     span(style='color:white;background:firebrick;padding:5px') ¿Cómo se consume?
     p Nada se desaprovecha:
     ul
      li Sus hojas se pueden consumir crudas o cocidas (en guisados…) ya que tienen buen sabor. 
      li Las flores son ricas en carbohidratos y pueden usarse en jugos o tortillas.
      li El fruto puede usarse como chauchas, hervidas… son similares a los garbanzos. 
      li Las raíces son como zanahorias, levemente más picantes.
    
    div.post-opcion
      p 
       span(style='font-weight:bold') Además… 
       | funciona como un gran antioxidante. También es una planta purificadora de agua, y por sus componentes es eficaz en el tratamiento de aguas turbias. Y la medicina ayuvédica la utiliza para cicatrizar heridas o para dolores de cabeza.
    br
    br
    div
      span(style='color:white;background:firebrick;padding:5px') Otros beneficios de su consumo:
      ul
       li Incrementa las defensas naturales del cuerpo.
       li Promueve la estructura celular.
       li Controla los niveles de colesterol.
       li Mejora el funcionamiento de hígado y riñón.
       li Proporciona energía.
       li Embellece la piel.
       li Ayuda al sistema circulatorio.
       li Regula los niveles normales de azúcar en sangre.
       li Promueve una mejor digestión.
       li Previene la osteoporosis.
    
    p 
     span(style='color:DarkOliveGreen;font-weight: bold') Sabías que… es una de las especies vegetales con mayor contenido en aceite, por lo que se la usa para fabricar biodiesel de calidad.

    p
      span(style='color:darkred;font-weight: bold') El Dato: 
      | Entre sus componentes encontramos una gran cantidad de minerales; hierro, calcio, cobre, potasio, magnesio y zinc. Posee aproximadamente cuarenta y seis antioxidantes, además de vitaminas como C y E., como así también diez aminoácidos.
    div.pizarron
     p 
      span(style='font-weight: bold') Otros usos: 
      | Podemos  encontrar en dietéticas sus hojas secas, como aditivos de yerbas, en cápsulas, shampú, cremas y geles faciales y corporales entre otros formatos.
    br
    p Como gustes; no hay excusas para no probarla…

    .row
        .column.small-4            
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2moringaoleifera.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
             img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

            .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/moringaoleifera.html', data-layout='button')


        .column.small-8
            ul.inline-list
                //li: span.fi-pricetag-multiple
                //li: a(href="") Valeria Manzi
                //li: a(href="") solidaridad      