article.unselectable
  h4.black-box Nota
  h3 Vida más Natural, un sitio diferente
  p: img(src="../../images/agar.jpeg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 100px")   

  p Este almacén natural abrió sus puertas el 9 de septiembre del 2013. Hoy, a punto de cumplir un año, pueden sentirse satisfechos por todo lo que construyeron en el barrio de Recoleta.
-¿Por qué eligieron este rubro?
-Estaba en busca de una vida más sana y de realizar un emprendimiento. Me pareció muy buena la idea de juntar estas dos necesidades y fundirlas en Vida Más Natural
-¿Qué diferencia a una tienda de alimentos naturales de una dietética?
-No creo que haya una diferencia, todo lo contrario, para mi las tiendas de alimentos naturales y las dietéticas son la unión perfecta. Por eso Vida Más Natural es una dietética y un almacén natural, ya que comercializamos también productos orgánicos. 

  p Entre las características que las destacan no puede dejar de mencionarse el trato personalizado y las ganas con las que hacen su trabajo. “Estamos informándonos e  incluyendo productos nuevos continuamente, el cliente se siente atendido con dedicación y es lindo ver la devolución que cotidianamente ellos nos hacen”, dicen sus dueñas 
-¿Creen que este tipo de almacenes pueden suplir en la compra diaria a los convencionales?
-Sí, creemos absolutamente… y lo más importante es tratar -en el día a día- de tener una vida más saludable.



  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fcolumnistas%2Fnoviembre2015%2chanchito-vegano.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/columnistas/noviembre2015/chanchito-vegano.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable