article.unselectable
  h4.black-box Sustentabilidad
  h3 Huerta Indoor: Germinados
  p: img(src="../../images/vianda.jpg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 10px")   
  p.referencia por Jenny Laura Caballero
  
  p Así es, podemos tener una micro huerta –incluso- en nuestra cocina. Proveernos de vegetales todo el año. Totalmente orgánicos, sumamente nutritivos… y con un mínimo esfuerzo y a un muy bajo costo. 
  p Se trata de despertar semillas: remojando, brotando o germinándolas!
  p Al ponerlas en contacto con agua, calor y oxígeno, las semillas se activan y dan lugar a una serie de transformaciones.
  p Durante el proceso se pone en acción una cadena completa de reacciones que le permiten a la planta crecer a un ritmo rápido. De esta forma el contenido de vitaminas aumenta; y las proteínas, los carbohidratos y las grasas comienzan a desglosarse convirtiéndose en una forma predigerida, ayudando a una fácil digestión y completa asimilación. El contenido de enzimas también se multiplica logrando que los germinados sean uno de los alimentos más ricos en enzimas del planeta.

  p Principales beneficios

  p • Favorecen los procesos de desintoxicación, depuración y eliminación de residuos almacenados en los tejidos o en la sangre.
  p • Fortalecen el sistema inmune.
  p • Sirven como antioxidantes.
  p • Estimulan las secreciones del páncreas.
  p • Facilitan la digestión, activan los procesos de desinflamación del aparato digestivo.
  p • Mejoran el funcionamiento intestinal, alivian el estreñimiento y ayudan a eliminar gases.
  p • Rebajan el índice de colesterol.
  p • Tonifican el sistema nervioso.
  p • Contribuyen a mantener la elasticidad de las arterias y la vitalidad del sistema glandular.
  p • Retrasan el envejecimiento.
  p • Favorecen el metabolismo por su acción reconstituyente.
  p • Se recomienda en casos de anemia y personas con el estómago delicado.

  p Cualquier semilla de leguminosa o grano de cereal puede ser germinado, aunque los más apreciados por su ternura y buen sabor son los brotes de porotos mung, soja verde, lenteja, garbanzo, alfalfa, trigo, cebada, berro, rúcula, rábano, brócoli, fenogreco, mostaza, calabaza, girasol, lino, sésamo, quinoa y amaranto. El sabor es variable, por ejemplo el de alfalfa es muy agradable, el de mostaza es el más picante y el de trigo tiene sabor dulce por los carbohidratos que contiene.

  p Cómo hacerlos:
  ol
    li En un frasco de boca grande, colocar 1 o 2 cucharadas de semillas.
    li Tapar la boca con una malla (media de nylon o tul) y sujetar con bandita elástica).
    li Realizar varios enjuagues con agua* para limpiar las semillas.
    li Dejar en remojo con agua limpia de 6 a 8 horas.
    li Escurrir el agua**, colocar el frasco con la boca hacia abajo, a 45 - 60º, en lugar oscuro o tapar los primeros días.
    li Enjuagar y escurrir 2 o 3 veces por día
    li Cuando los brotes alcancen los 2 ó 3 cm, exponer a la luz solar indirecta durante 2 hrs para que formen su clorofila… y listo!

  p El brote puede comerse entero, incluyendo hojas y raíz. Lo mejor es consumirlos crudos, porque la cocción destruye gran parte de su contenido nutricional. En el caso de querer incorporarlos en platos calientes, añadirlos al final.

  p * No es conviene utilizar agua de red por su contenido de cloro, preferentemente agua purificada o mineral.
  p ** El agua de los enjuagues, remojo y limpieza es ideal para el riego de plantas.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2vinagre-umeboshi.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/vinagre-umeboshi.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable