article.unselectable
  h4.black-box Salud
  h3 Aromaterapia
  p: img(src="../../images/vianda.jpg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 10px")   
  p.referencia por Silefragancias - Fragancias Esenciales, silefragancias@gmail.com  

  p La milenaria “aromaterapia” conjuga religión, mística y medicina en el mágico arte de “curar” con aromas. Es una forma de terapia que mediante bálsamos naturales recurre al olfato y a la sensibilidad de la piel para tratar de armonizar el cuerpo y la mente. 
  
  div Cada fragancia produce un determinado efecto:
    ul 
      li AZAHAR: Ideal para el relax. 
      li BERGAMOTA: Combate la ansiedad y equilibra. Es la fragancia de la Tranquilidad 
      li CANELA: Brinda calor y estimula. 
      li CEDRO: Ayuda a prevenir el envejecimiento de la piel 
      li ENEBRO: Excelente para prevenir las várices y solucionar problemas de retención de líquidos. 
      li EUCALIPTO: Descongestivo. Alivia resfríos y previene el contagio. 
      li JAZMIN: Afrodisíaco y antidepresivo. 
      li LAVANDA: Tranquiliza, calma los dolores, ayuda a sobrellevar los síntomas de la alergia y mejorar las defensas. 
      li LIMON: Para la concentración.
      li PATCHOULI: Estimulante y afrodisíaco. 
      li SANDALO: Es afrodisíaco, antidepresivo y elevador de la conciencia.
      li TILO: Ideal para conciliar el sueño. 
      li VAINILLA: Poderoso antidepresivo y suave afrodisíaco.

  p En la próxima edición veremos con técnicas sencillas cómo preparar productos como jabones, sales y body splash con estas esencias.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2vinagre-umeboshi.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/vinagre-umeboshi.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable