article.unselectable
  h4.black-box Alimentación
  h3 Vegetarianismo
  p: img(src="../../images/vianda.jpg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 10px")   

  p Hace años que se transmite de generación en generación la importancia del consumo de carnes y derivados animales como la manera más completa de alimentarse en la especie humana. Por eso los nutricionistas que sostenemos que es más beneficiosa una alimentación basada en fuentes vegetales, solemos quedar enredados en interminables debates.
  p Gracias al avance científico sobre alimentación básica en nutrición, hoy podemos saber cuáles son los nutrientes esenciales. Es decir, aquellos que si están ausentes en la alimentación pueden producir un espectro de enfermedades conocidas como “enfermedades por carencia”.
  p Estas carencias son fácilmente evitables con una alimentación amplia, variada y con todos los nutrientes necesarios… y esto se logra sin tener que recurrir a la matanza de ningún animal.
  p Es cierto que estos conocimientos no siempre son accesibles a todos, y que este cambio de paradigma alimentario exige un compromiso con aprender a alimentarnos en forma completa,  organizar los recursos básicos y las compras. En ocasiones usaremos alimentos que no se venden a la vuelta de casa, o será necesario abastecernos de ciertos productos que serán básicos en nuestra alimentación.
  p El vegetarianismo requiere también que seamos comprensivos con quienes no acuerdan con esta forma de alimentación, puesto que estamos poniendo en cuestionamiento una creencia reproducida por generaciones.
  p Antes de ahondar en lo que hace a la nutrición vegetariana básica es importante reconocer cuál es el punto de partida de esta decisión:
  p Flexi Vegetarianos: Se puede elegir el vegetarianismo por salud, dejando el consumo de carne para algunas salidas. No cocina carne ni la elige a diario, pero en las salidas se amolda a la propuesta social.
  p Semi Vegetarianos: Algunas personas deciden dejar gradualmente las carnes o consumen carnes blancas (pescado sobre todo) porque queriendo cuidar su salud entienden que son carnes menos nocivas.
  p Ovo Lacto Vegetarianos: Cuando la elección se sustenta en razones espirituales o éticas relacionadas con no querer interferir sobre la vida del animal, pero no hay problema con aquellos derivados que no implican la matanza y aceptan consumir huevos y lácteos.
  p Ovo Vegetarianos: Cuando la elección también elimina el consumo de lácteos -considerados mucogénicos- de la dieta.
  p Veganos: Quienes no quieren interferir de ningún modo con los animales, ni siquiera para tomar su lana. Erradican todo alimento de origen animal, incluyendo el uso de materiales que sean derivados.

  p Con esta idea de fondo es que la selección de alimentos tiene algunas variantes, así como las recetas y los modos de preparación. Sobre estos aspectos ahondaremos de a poco.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2vinagre-umeboshi.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/vinagre-umeboshi.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad      article.unselectable