article.unselectable
  h4.black-box Sustentabilidad
  h3 Un árbol para mi vereda
  p.muted Esta ONG sin fines de lucro provee a los vecinos de la Ciudad árboles para los canteros vacíos de sus veredas. La única condición: ser el padrino de ellos hasta que el ejemplar esté fuerte para subsistir por sí mimo.
  p: img(src="../../images/vianda.jpg", alt="imagen de agar-agar", style="padding: 0px 0px 0px 10px")   

  p Hay 4 canteros vacíos por calle en toda Capital Federal. El dato –alarmante- surgió de un trabajo de investigación del curso "Producción de árboles y arbustos ornamentales" de la Facultad de Agronomía de la UBA en el año 2012. Allí también se gestó este emprendimiento que, en 22 meses, lleva plantados 76 árboles en toda la Ciudad de Buenos Aires. 
  p “Puede ser en la puerta de su casa, en la esquina, o a la vuelta. Donde haya un cantero libre que el vecino quiera -y pueda- apadrinar. Plantamos a pedido del vecino y sin cargo”, cuentan. Los fundadores de este emprendimiento fueron Marcos Macera, Alejandro Hillar y Lisandro Grané cuando se encontraron con muchos plantines tras realizar el curso. Pero la acción tomó vida propia y se expandió –y se sigue expandiendo- a todos los interesados: “Ya hemos recibido el aporte de unos 40 voluntarios que van rotando según el lugar donde vayamos a plantar”, dicen.
  ul
    li ¿Hay seguimiento de los árboles plantados? 
    li Tenemos 2 métodos de evaluación. Uno, pasar a ver in situ a cada árbol plantado. Dos, a través del vínculo que se crea con los padrinos del árbol. Periódicamente preguntamos cómo están los arbolitos y pedimos fotos para subir a nuestra página de Facebook. También recibimos preguntas sobre el mantenimiento de los ejemplares. Muchos vecinos nos mandan espontáneamente fotos de los árboles. 
    li Como ONG, ¿reciben el apoyo de alguien?
    li Un árbol para mi vereda es un proyecto sin fines de lucro. No recibimos financiación de ninguna institución pública ni privada. 

  p Pero la reciprocidad en este tipo de proyectos es necesaria para continuar avanzando. Por eso desde Un árbol… proponen un intercambio con el vecino que apadrina el árbol: puede ser un bien (macetas, herramientas, semillas, plantines, árboles, tierra, etc) o un servicio como cuidar un lote de plantines durante un año o conseguir un vecino con un nuevo cantero para apadrinar.
  p A diferencia del plantado que hace la Municipalidad, “el 100% de los árboles que plantamos sigue en pie”, cuenta Lisandro y agrega: “Hay zonas más favorecidas por el arbolado urbano que otras. Por ejemplo: los barrios de Saavedra, Núñez, Villa Urquiza y Villa Devoto tienen menos canteros vacíos que Almagro, Barracas, Retiro y Monserrat”.
  ul
    li ¿Creen que el “arbolado” de la Ciudad es el indicado? ¿Son las especies más indicadas por zonas?
    li Lo ideal sería que el arbolado urbano estuviera hecho con especies nativas. Las especies autóctonas del Río de la Plata son más de 40 y aportan el refugio y el alimento para las aves y mariposas de este eco-sistema. Además, al estar mejor adaptadas, requieren menos mantenimiento. En la actualidad, la gran mayoría de los árboles que pueblan nuestra ciudad pertenecen a otros eco-sistemas. 
    li Hay leyes para plantar en CABA, muchas veces no te dejan plantar lo que uno quiere y hay que respetar determinadas normas de “arbolado”... ¿esto fue un impedimento para llevar a cabo su tarea?
    li En el curso de Producción que tomamos en la Facultad de Agronomía estudiamos la Ley de Arbolado Urbano. Allí está especificado qué especies se pueden plantar según el ancho de la vereda y las dimensiones del cantero. Nosotros cumplimos y enseñamos la ley a todos los vecinos que quieren plantar un árbol en su vereda. Cualquier vecino puede plantar por su cuenta, siempre que sea una de las especies permitidas para su vereda. El ejemplar que se planta constituye una donación al Patrimonio del Arbolado Urbano de la Ciudad. Por eso, después no podrá quitarlo ni podarlo, sin la autorización del GCBA.
    li Por último, ¿qué ventajas dan los árboles en una ciudad tan contaminada?
    li Los árboles son los principales proveedores de servicios ambientales. Toman dióxido de carbono y entregan oxígeno a la atmósfera, regulan la humedad del aire y en verano ayudan a bajar la temperatura. Las hojas filtran las partículas tóxicas disueltas en el aire y las raíces previenen inundaciones gracias a que absorben agua. En grupos, disminuyen la polución sonora. Si son especies nativas, serán refugio para aves y mariposas. Si son frutales, serán la fiesta de la cuadra, cuando los frutos empiecen a madurar. Si florecen con gracia, ayudarán a calmar los nervios y embellecer el paisaje de la ciudad.

  div Cómo conseguir un árbol
    p Comunicándose mediante Face: https://www.facebook.com/UnArbolParaMiVereda
    p Hay que tener el cantero (en la cuadra, a la vuelta o donde le quede cerca al vecino) y ganas de cuidarlo por lo menos un año. Ellos se contactan y en conjunto eligen qué ejemplar es el indicado.

  div Talleres de Producción Gratuitos
    p Todos los domingos de septiembre y octubre desde las 15 hs.
    p Casa de la Paz, Blanco Encalada 3270.
    p Pueden consultar centros culturales, huertas comunitarias y clubes de barrio interesados.

  p Dato Importante
  p La Organización Mundial de la Salud (OMS), recomienda que las grandes ciudades dispongan -como mínimo- de entre 10 y 15 m2 de área verde por habitante. La Ciudad de Buenos Aires cuenta con 6 m2.

  .row
    .column.small-4            
        a.twitter-share-button(href='https://twitter.com/share', {count}='', data-size='large') Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        a(data-pin-do='buttonPin', data-pin-color='red', data-pin-tall='true', href='https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.revistavegetariana.com.ar%2Fsecciones%2Falimentacion%2vinagre-umeboshi.html&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest')
         img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png')

        .fb-share-button(data-href='http://www.revistavegetariana.com.ar/secciones/alimentacion/vinagre-umeboshi.html', data-layout='button')


    .column.small-8
        ul.inline-list
            //li: span.fi-pricetag-multiple
            //li: a(href="") Valeria Manzi
            //li: a(href="") solidaridad  article.unselectable